﻿@model Focus.SSO.Models.Report

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Вы уверены, что хотите удалить?</h3>
    <div>
        <h4>report</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTNUMBER)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PASSPORTNUMBER)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CUSTOMBROCKERID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CUSTOMBROCKERID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NUMBER_)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NUMBER_)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FULLNAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FULLNAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Вернуться к списку", "Index")
            </div>
        }
    </div>
</body>
</html>
