﻿@model Focus.SSO.Models.Report

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>report</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTNUMBER)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PASSPORTNUMBER)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CUSTOMBROCKERID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CUSTOMBROCKERID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NUMBER_)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NUMBER_)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FULLNAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FULLNAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.REPORTID }) |
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>
</body>
</html>
