﻿@model Focus.Web.Models.Car


    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5 class="text-danger">Сведения об автомобиле изменены</h5>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.VIN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VIN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DESCRIPTION)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DESCRIPTION)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GOODSMARK)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GOODSMARK)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GOODSMODEL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GOODSMODEL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MOTORFUELTYPE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MOTORFUELTYPE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ENGINECAPACITY)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ENGINECAPACITY)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LAST_UPDATE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LAST_UPDATE)
                </dd>
            </dl>
        </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm("Json", "Car", new {id = Model.CARID }, new AjaxOptions() { OnSuccess = "OnEditNotification" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="ОК" class="btn btn-primary" />
            </div>
        }
    </div>
            