﻿@model Focus.Web.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить данный автомобиль?</h3>
<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOODSMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOODSMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOODSMODEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOODSMODEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTORFUELTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTORFUELTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENGINECAPACITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENGINECAPACITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICLEKIND.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
