﻿@model Focus.Web.Models.Car

@{
    ViewBag.Title = "Детали";
}

<h2>Детальная информация</h2>

<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOODSMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOODSMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOODSMODEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOODSMODEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTORFUELTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTORFUELTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENGINECAPACITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENGINECAPACITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICLEKIND.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.CARID }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
