﻿@model Focus.Web.Models.Car


<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5>Вы действительно желаете удалить этот автомобиль?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.VIN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VIN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DESCRIPTION)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DESCRIPTION)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.COUNTRY.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.COUNTRY.NAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VEHICLEKIND.NAME)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GOODSMARK)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GOODSMARK)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GOODSMODEL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GOODSMODEL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MOTORFUELTYPE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MOTORFUELTYPE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ENGINECAPACITY)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ENGINECAPACITY)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LAST_UPDATE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LAST_UPDATE)
                    </dd>


                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "carDeleteAccept" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="OnCarDeleted(@Model.CARID);"/>
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#carDeleteModal').modal('hide')" /> 
            </div>
        }
    </div>
</div>
