﻿@model IEnumerable<Focus.Web.Models.Vehicletype>

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <h2>Типы транспортного средства</h2>

    <p>
        @Html.ActionLink("Добавить новый", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_UPDATE)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.VEHICLETYPEID }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.VEHICLETYPEID }) |
                    @Ajax.ActionLink("Удалить", "JsonDelete", "vehicletypes", new { id = item.VEHICLETYPEID },
                            new AjaxOptions { OnSuccess = "DisplayVehicleKindToBeDeleted"} )
                </td>
            </tr>
        }

    </table>

    <!--Modal dialog for error-->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Удаление</h4>
                </div>
                <div class="modal-body">
                    <div id="errorResults"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function DisplayVehicleKindToBeDeleted(data) {
            var vehicleKindCount = data.vehicleTypeCount;
            if (vehicleKindCount == 0) {
                var form = document.createElement("form");
                form.setAttribute("method", "get");
                form.setAttribute("action", "/vehicletypes/Delete/" + data.vehicleTypeId);
                document.body.appendChild(form);
                form.submit();
                return;
            }

            var titleMistake = "<p><b>Данные о типе транспортного средства '" + data.vehicleTypeName +
                "' не могут быть удалены, поскольку от него зависят следующие виды транспортных средств:</b></p>";
            var kindsToBeDeleted = "<p><ul>";
            for (var i = 0; i < vehicleKindCount; i++) {
                kindsToBeDeleted += "<li class='text-danger'>";
                kindsToBeDeleted += data.vehicleKinds[i];
                kindsToBeDeleted += "</li>";
                if (i > 3) {
                    kindsToBeDeleted += "<li class='text-danger'>";
                    kindsToBeDeleted += "другие ...";
                    kindsToBeDeleted += "</li>";
                    break;
                }
            }
            kindsToBeDeleted += "</ul></p>";
            titleMistake += kindsToBeDeleted;
            $("#errorResults").empty();
            document.getElementById("errorResults").innerHTML = titleMistake;
            $("#errorModal").modal('show');
        }
    </script>
