﻿@model Focus.SSO.Models.Custombrocker

@using (Ajax.BeginForm("PartialCreate", new AjaxOptions { UpdateTargetId = "brockerresults" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Уполномоченные представители</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="panel panel-default">
            <div class="panel-heading">ФИО, адрес</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.LASTNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.LASTNAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FIRSTNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FIRSTNAME, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.FIRSTNAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FATHERSNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FATHERSNAME, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.FATHERSNAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.COUNTRY_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("COUNTRY_ID", null, "-- Страна регистрации --", htmlAttributes: new { @class = "form-control beingvalidated" })
                        @Html.ValidationMessageFor(model => model.COUNTRY_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Место работы</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.WORKPLACE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WORKPLACE, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.WORKPLACE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.POST, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.POST, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.POST, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Пасспортные данные</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.PASSPORTNUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PASSPORTNUMBER, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.PASSPORTNUMBER, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PASSPORTISSUED, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PASSPORTISSUED, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.PASSPORTISSUED, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PASSPORTBODYISSUE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PASSPORTBODYISSUE, new { htmlAttributes = new { @class = "form-control beingvalidated" } })
                        @Html.ValidationMessageFor(model => model.PASSPORTBODYISSUE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapseCustomBrocker">Дополнительная информация</a>
                </h5>
            </div>
            <div id="collapseCustomBrocker" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FAX, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FAX, new { htmlAttributes = new { @class = "+form-control" } })
                                @Html.ValidationMessageFor(model => model.FAX, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Создать" class="btn btn-success" id="buttonCreate" disabled />
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).on('submit', 'form', function () {
        var buttons = $(this).find('[id="customBrockerPationCreate"]');
        if ($(this).valid()) {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', true);
            });
        } else {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', false);
            });
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#LASTNAME').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#FATHERSNAME').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#FIRSTNAME').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#PASSPORTNUMBER').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#PASSPORTBODYISSUE').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#PASSPORTISSUED').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#ADDRESS').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#WORKPLACE').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
        $('#POST').change(function () { if (isValidBrocker()) { Enabling('buttonCreate'); } else { Disabling('buttonCreate'); } })
    });


</script>

<script>
    function isValidBrocker() {
        var lastname = document.getElementById("LASTNAME");
        var firstname = document.getElementById("FIRSTNAME");
        var farthername = document.getElementById("FATHERSNAME");
        var passportnumber = document.getElementById("PASSPORTNUMBER");
        var passportissued = document.getElementById("PASSPORTISSUED");
        var passportbodyissue = document.getElementById("PASSPORTBODYISSUE");
        var address = document.getElementById("ADDRESS");
        var workplace = document.getElementById("WORKPLACE");
        var post = document.getElementById("POST");
        var lastnamevalue = lastname == null ? "" : lastname.value;
        var firstnamevalue = firstname == null ? "" : firstname.value;
        var farthernamevalue = farthername == null ? "" : farthername.value;
        var passportnumbervalue = passportnumber == null ? "" : passportnumber.value;
        var passportissuedvalue = passportissued == null ? "" : passportissued.value;
        var passportbodyissuevalue = passportbodyissue == null ? "" : passportbodyissue.value;
        var addressvalue = address == null ? "" : address.value;
        var workplacevalue = workplace == null ? "" : workplace.value;
        var postvalue = post == null ? "" : post.value;

        var debug = 'Фамилия: ' + lastnamevalue + ', имя: ' + firstnamevalue + ', отчество' + farthernamevalue + ', номер паспорта' + passportnumbervalue + ', пасспорт выдан: ' + passportissuedvalue + ', кем: ' + passportbodyissuevalue + ', адрес проживания: ' + addressvalue + ', место работы' + workplacevalue + ', должность: ' + postvalue + '.'
        //alert(debug);

        if (lastnamevalue == '' ||
            firstnamevalue == '' ||
            farthernamevalue == '' ||
            passportnumbervalue == '' ||
            passportissuedvalue == '' ||
            passportbodyissuevalue == '' ||
            addressvalue == '' ||
            workplacevalue == '' ||
            postvalue == '') {
            //alert('false');
            return false;
        }

        //alert('true');
        return true;
    }
</script>

<script>
    function Disabling(string) {
        var element = document.getElementById(string);
        element.setAttribute('disabled', 'true');
    }
    function Enabling(string) {
        var element = document.getElementById(string);
        element.removeAttribute('disabled');
    }
</script>


@Scripts.Render("~/bundles/jqueryval")