﻿@model Focus.SSO.Models.Devicetype

@{
    ViewBag.Title = "Детали";
}

<h2>Детальная информация</h2>

<div>
    <h4>Тип ТСТК</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.DEVICETYPEID }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
