﻿@model IEnumerable<Focus.SSO.Models.Car>

@{
    ViewBag.Title = "Index";
}

<br>
<br>
<h2>Автомобили, как товар</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<h1>АВТОМОБИЛИ, КАК ТОВАР</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOODSMARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOODSMODEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTORFUELTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENGINECAPACITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GOODSMARK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GOODSMODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTORFUELTYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENGINECAPACITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COUNTRY.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VEHICLEKIND.NAME)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.CARID }) |
                @Html.ActionLink("Детали", "Details", new { id = item.CARID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.CARID })
            </td>
        </tr>
    }

</table>
