﻿@model IEnumerable<Focus.SSO.Models.Car>

<table class="table" id="serchCarTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.VIN).ToString(), "JsonOrg", "Car",
                        new { id = item.CARID },
                        new AjaxOptions { OnSuccess = "OnSuccessCar" },
                        new { @class = "carActionLink", onclick = "Disabling('serchCarTable');" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
        </tr>
    }

</table>
<div class="modal-footer" id="carModalCloseButton">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
<!--Disabling and enabling elements-->
<script>
    function Disabling(string) {
        var element = document.getElementById(string);
        element.setAttribute('disabled', 'true');
    }
    function Enabling(string) {
        var element = document.getElementById(string);
        element.removeAttribute('disabled');
    }
</script>
