﻿@model Focus.Web.Models.Custombrocker

<div class="container body-content">

    @{
        ViewBag.Title = "Удалить";
    }

    <h2>Удалить</h2>

    <h3>Вы уверены, что хотите удалить этого таможенного представителя?</h3>
    <div>
        <h4>Таможенный представитепль</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FIRSTNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIRSTNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LASTNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LASTNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FATHERSNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FATHERSNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WORKPLACE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WORKPLACE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.POST)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.POST)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSPORTNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTISSUED)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSPORTISSUED)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTBODYISSUE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSPORTBODYISSUE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDRESS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHONE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHONE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FAX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FAX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Вернуться", "Index")
            </div>
        }
    </div>

</div>
