﻿@model Focus.Web.Models.Custombrocker

<div class="container body-content">

    @{
        ViewBag.Title = "Детали";
    }

    <h2>Детальная информация</h2>

    <div>
        <h4>Уполномоченный представитель</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FIRSTNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIRSTNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LASTNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LASTNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FATHERSNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FATHERSNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WORKPLACE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WORKPLACE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.POST)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.POST)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSPORTNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTISSUED)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSPORTISSUED)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSPORTBODYISSUE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSPORTBODYISSUE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDRESS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHONE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHONE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FAX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FAX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.CUSTOMBROCKERID }) |
        @Html.ActionLink("Вернуться", "Index")
    </p>

</div>