﻿@{
    ViewBag.Title = "Index";
}


<div class="container body-content">


    <h2>Уполномоченные представители</h2>
    <p>
        <button type="button" onclick="$('#brockerresultsSearch').empty(); document.getElementById('modalBrockerInput').value = '';" class="btn btn-primary" data-toggle="modal" data-target="#brockerModal">Найти</button>
        <a class="btn btn-default questionButton" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialSmallCustomBrockersCreateResult" data-ajax-complete="ShowPartialSmallCustomBrockersCreateModal();" href="/Help/PartialSmallCustomBrockersCreate"><i class="glyphicon glyphicon-question-sign"></i></a>

    </p>
    <!--Infornation about custom brocker-->
    <!--Wrapping about panel-->
    <div id="informationMessage"></div>
    <div id="anchorinformationMessage"></div>
    <div id="anchorForCustomBrockerPanel"></div>
    <div class="panel-group" id="accordionPerson" role="tablist" aria-multiselectable="true">
        <div id="anchorForCustomBrockerPerson"></div>
    </div>
    <!--Wrapping about panel-->
    <div class="panel-group" id="accordionPermission" role="tablist" aria-multiselectable="true">
        <div id="anchorForCustomBrocker"></div>
    </div>

    <!--Modal dialog for Container editing-->
    <div class="modal fade" id="brockerModal" tabindex="-1" role="dialog" name="brockerModalName">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Выбор таможенного представителя</h3>
                </div>
                <div class="modal-body">
                    <div>
                        @using (Ajax.BeginForm("SearchMove", "custombrockers", new AjaxOptions { UpdateTargetId = "brockerresultsSearch" }))
                        {
                            <div class="input-group" style="max-width: 380px;">
                                <input type="text" id="modalBrockerInput" class="form-control" name="number" autofocus placeholder="Введите 7-ный номер паспорта..." />
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Поиск</button>
                                </div>
                            </div>

                        }
                        <div id="brockerresultsSearch"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PartialSmallCustomBrockersCreateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Поиск сведений о физических лицах, участвующих в совершении таможенных процедур, а также уполномоченных представителей</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="partialSmallCustomBrockersCreateResult"></div>
                    </div>
                </div>
                <div id="smallHelpDocCreate" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ShowPartialSmallCustomBrockersCreateModal() {
            $('#PartialSmallCustomBrockersCreateModal').modal('show');
        };
    </script>









    <div class="modal fade" id="brockerPassportHasExpiredModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: coral">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Сведения о физическом лице</h3>
                </div>
                <div class="modal-body">
                    <h5>
                        Паспортные данные (паспорт № <span style="background-color: #ffff00;" id="passportNumber"></span>, выдан <span id="passportBodyIssue"></span> <span id="passportIssued"></span>) физического лица – <span style="background-color: #ffff00;" id="customBrockerLastNameExpired"></span><span style="background-color: #ffff00;" id="customBrockerFirstNameExpired"></span><span style="background-color: #ffff00;" id="customBrockerFatherNameExpired"></span> – <span class="text-danger">являются недействительными</span>.
                    </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>







    <div class="modal fade" id="brockerHasNoAnyPermissionsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h5><b>Сведения о физическом лице</b></h5>
                </div>
                <div class="modal-body">
                    <h5>
                        Данные о полномочиях физического лица - <span style="background-color: #ffff00;" id="customBrockerLastName"></span><span style="background-color: #ffff00;" id="customBrockerFirstName"></span><span style="background-color: #ffff00;" id="customBrockerFatherName"></span> - <span class="text-danger">на совершение определенных действий в сфере таможенного дела отсутствуют в базе данных</span>.
                    </h5>
                    <h5>Требуется внесение данных о доверенностях. Дополнительно о создании документов читайте в <a href="\Help\NewDocs" target="_blank">справке</a>.</h5>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function OnSuccessBrocker(data) {
            //var carsUl = document.getElementById('anchorForCustomBrocker');

            if (data.id == -1) {
                var elementLastName = document.getElementById('customBrockerLastName');
                elementLastName.innerText = data.lastName + " ";
                var elementFirstName = document.getElementById('customBrockerFirstName');
                elementFirstName.innerText = data.firstName + " ";
                var elememtFatherName = document.getElementById('customBrockerFatherName');
                elememtFatherName.innerText = data.fatherName;
                $('#brockerHasNoAnyPermissionsModal').modal('show');
                return;
            }
            if (data.id == -5) {
                var elementLastName = document.getElementById('customBrockerLastNameExpired');
                elementLastName.innerText = data.lastName + " ";
                var elementFirstName = document.getElementById('customBrockerFirstNameExpired');
                elementFirstName.innerText = data.firstName + " ";
                var elememtFatherName = document.getElementById('customBrockerFatherNameExpired');
                elememtFatherName.innerText = data.fatherName;
                var elememtpassportNumber = document.getElementById('passportNumber');
                elememtpassportNumber.innerText = data.passportNumber;
                var elememtpassportIssued = document.getElementById('passportIssued');
                elememtpassportIssued.innerText = data.passportIssued;
                var elememtpassportBodyIssue = document.getElementById('passportBodyIssue');
                elememtpassportBodyIssue.innerText = data.passportBodyIssue;
                $('#brockerPassportHasExpiredModal').modal('show');
                return;
            }
            var jslastName = data.lastName == null ? "" : data.lastName.trim();
            var jsfirstName = data.firstName == null ? "" : data.firstName.trim();
            var jsmiddleName = data.fthName == null ? "" : data.fthName.trim();
            var jspassport = data.passnumber == null ? "" : data.passnumber.trim();
            var jsfullName = "";
            var jspersonData = "";

            if (jslastName != "") {
                if (jsfirstName == "") {
                } else if ((jsfirstName.lenght == 1) || (jsfirstName.lenght == 2)) {
                    jsfirstName = " " + jsfirstName.charAt(0).toUpperCase() + ".";
                } else {
                    jsfirstName = " " + jsfirstName;
                }
                if (jsmiddleName == "") {
                } else if ((jsfirstName.lenght == 1) || (jsfirstName.lenght == 2)) {
                    jsfirstName = " " + jsfirstName.charAt(0).toUpperCase() + ".";
                } else {
                    jsfirstName = " " + jsfirstName;
                }
            }
            if (jsmiddleName != "") {
                if (jsfirstName.lenght == 2) {
                    jsmiddleName = jsmiddleName.charAt(0).toUpperCase() + ".";
                } else if (jsfirstName == "") {
                    jsmiddleName = "";
                } else {
                    jsmiddleName = " " + jsmiddleName;
                }
            }
            jsfullName = jslastName + jsfirstName + jsmiddleName;

            //If no information were found in database we show message with information about
            //absence of data.
            if (data.permissionjson.length == 0) {
                var informationMessageUl = document.getElementById('informationMessage');
                informationMessageUl.remove();
                deviceMackupForInsert = '<div id="informationMessage">' + 'Информация о полномочиях лица ' + jsfullName + " в базе данных не обнаружена." + '</div>';
                $('#anchorinformationMessage').before(deviceMackupForInsert);
                return;
            }

            //Remove old data.
            $('.panel-deletion').remove();
            var sjfullNameComplete = jsfullName;
            jsfullName = jsfullName == "" ? "" : '<p><b>ФИО: </b>' + jsfullName + '.</p>';
            var sjfullNameComplete
            var jsworkOfPlace = data.wrkPlace == null ? "" : '<p><b>Место работы: </b>' + data.wrkPlace + '.</p>';
            var jspost = data.post == null ? "" : '<p><b>Должность: </b>' + data.post + '.</p>';
            var jsaddress = data.address == null ? "" : '<p><b>Место проживания: </b>' + data.address + '.</p>';
            var jsphone = data.phone == null ? "" : '<p><b>Телефон: </b>' + data.phone + '.</p>';
            var jsfax = data.fax == null ? "" : '<p><b>Факс: </b>' + data.fax + '.</p>';
            var jspassportnumber = data.passnumber == null ? "" : data.passnumber;
            var jspassportauthoritybodyissue = data.passportauthoritybodyissue == null ? "" : data.passportauthoritybodyissue;
            var jspassportdate = data.passportdate == null ? "" : data.passportdate;

            jspassport = "паспорт № " + jspassportnumber +
                ((jspassportauthoritybodyissue != "") || (jspassportdate != "") ? " выдан " : "") +
                jspassportauthoritybodyissue + ((jspassportauthoritybodyissue != "") && (jspassportdate != "") ? " " : "") + jspassportdate;
            jspassport = jspassport == "" ? "" : '<p><b>Паспортные данные: </b>' + jspassport + '.</p>'
            jspersonData = jsworkOfPlace + jspost + jsaddress + jspassport + jsphone + jsfax;

            var panelWithNewData = $('<div class="panel panel-default panel-deletion" id="panelPermission' + 10000001 + data.id + '">' +
                '<div class="panel-heading " role = "tab" id = "headingPermission' + 10000001 + data.id + '" > ' +
                '<a type="button" class="close" id="deleteButton' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#carDeleteAccept" data-ajax-success="$(\'#carDeleteModal\').modal(\'show\')" href="/Car/PartialDelete/' + data.id + '"><span aria-hidden="true">&times;</span></a>' +
                '<a type="button" class="close" id="editButton' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#carEditAccept" data-ajax-success="$(\'#carEditModal\').modal(\'show\')" href="/Car/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
                '<h4 class="panel-title">' +
                '<a role="button" data-toggle="collapse" data-parent="#accordionPerson" href="#collapsePermission' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapsePermission' + 10000001 + data.id + '">' +
                '<p>Сведения об уполномоченном представителе: <b>' + sjfullNameComplete + '</b></p>' +
                '</a >' +
                '</h4>' +

                '</div >' +
                '<div id = "collapsePermission' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingPermission' + data.id + 10000001 + '" >' +
                '<div class="panel-body">' +
                jspersonData +
                '</div>' +
                '</div >' +
                '</div >');

            $('#anchorForCustomBrockerPerson').before(panelWithNewData);

            var j = data.permissionjson.length;
            for (var i = 0; i < j; i++) {

                var dateExpired = data.permissionjson[i].Rest.Item1.toString();
                var typeOfPanel = 'panel-default';
                var typeOfText = "";
                if (dateExpired != null && dateExpired != "") {
                    var now = new Date();
                    now.setHours(23, 59, 59, 999);
                    var dateExpired = new Date(parseDate(dateExpired));
                    dateExpired.setHours(23, 59, 59, 999);
                    if (dateExpired.getTime() >= now.getTime()) {
                        var timeDiff = Math.abs(dateExpired.getTime() - now.getTime());
                        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                        if (diffDays <= 20) {
                            typeOfPanel = 'panel-warning';
                            typeOfText = ' class = "text-warning"';
                        } else {
                            typeOfPanel = 'panel-success';
                            typeOfText = ' class = "text-success"';
                        }
                    } else {
                        typeOfPanel = 'panel-danger';
                        typeOfText = ' class = "text-danger"';
                    }
                }

                var jsaddressorg = data.permissionjson[i].Item3 == null ? "" : '<p><b>Адрес организации: </b>' + data.permissionjson[i].Item3.trim() + '.</p>';
                var jsdocnumber = data.permissionjson[i].Item4 == null ? "" : " № " + data.permissionjson[i].Item4.trim();
                var jsdocdate = data.permissionjson[i].Item6 == null ? "" : " от " + data.permissionjson[i].Item6.trim();
                var jsdoctype = data.permissionjson[i].Item5 == null ? "" : data.permissionjson[i].Item5.charAt(0).toUpperCase() + data.permissionjson[i].Item5.toLowerCase().slice(1);
                var jsdoc = "";
                jsdoc = jsdoctype + jsdocdate + jsdocnumber;
                jsdoc = jsdoc == "" ? "" : '<p><b>Документ, подтверждающий полномочия: </b>' + jsdoc + '.</p>';
                var jsstart = (data.permissionjson[i].Item7 == null) || (data.permissionjson[i].Item7 == "") ? "" : '<p><b>Начало действия полномочий: </b>' + data.permissionjson[i].Item7 + '.</p>';
                var jsfinish = (data.permissionjson[i].Rest.Item1 == null) || (data.permissionjson[i].Item1 == "") ? "" : '<p><b>Завершение действия полномочий: <span ' + typeOfText + '>' + data.permissionjson[i].Rest.Item1 + '<span></b>.</p>';

                var jscollapseinformation = jsaddressorg + jsdoc + jsstart + jsfinish;
                var MackupForInsert = $('<div class="panel ' + typeOfPanel + ' panel-deletion" id="panel' + 10000001 + i + '">' +
                    '<div class="panel-heading" role = "tab" id = "heading' + 10000001 + i + '" > ' +
                    '<h4 class="panel-title">' +
                    '<a role="button" data-toggle="collapse" data-parent="#accordionPermission" href="#collapse' + 10000001 + i + '" aria-expanded="false" aria-controls="collapse' + 10000001 + i + '">' +
                    'УНП: ' + data.permissionjson[i].Item1 + '. Наименование: ' + data.permissionjson[i].Item2 +
                    '</a >' +
                    '</h4>' +

                    '</div >' +
                    '<div id = "collapse' + 10000001 + i + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="heading' + i + 10000001 + '" >' +
                    '<div class="panel-body">' +
                    jscollapseinformation +
                    '</div>' +
                    '</div >' +
                    '</div >');
                $('#anchorForCustomBrocker').before(MackupForInsert);
            }

            $('#brockerModal').modal('hide');

            for (var i = 0; i < j; i++) {
                CollapsePanel('collapse' + 10000001 + i);
            }

        }
    </script>

    <script>
        function CollapsePanel(panel) {
            var collapsePanel = document.getElementById(panel);
            collapsePanel.collapse('hide');
        }
    </script>
    <script type="text/javascript">
        function parseDate(input) {
            var parts = input.match(/(\d+)/g);
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }
    </script>

</div>