﻿@model Focus.Web.Models.Custombrocker

    <hr />
    <div class="text-danger"><b>ОШИБКА.</b></div>
    <p><b>Уполномоченный представитель с номером паспорта @Html.DisplayFor(model => model.PASSPORTNUMBER) уже присутствует в базе данных.</b></p>
    <p><b>Повторное добавление уполномоченного представителя с указанным номером паспорта не представляется возможным.</b></p>