﻿<br />
<p><b><span style="color:brown">ОШИБКА.</span> Вводимые символы должны состоять ТОЧНО из 7 цифр.</b></p>
<p><b>Введите цифровую часть номера паспорта</b></p>
<p><b>и повторно нажмите кнопку 'Поиск'.</b></p>
