﻿@model IEnumerable<Focus.Web.Models.Custombrocker>
<br />
<p>
    <b>Нажмите на нужную фамилию для выбора таможенного представителя</b></p>
<table class="table">
    <tr>
        <th><b>ФИО</b></th>
        <th>@Html.DisplayNameFor(model => model.WORKPLACE)</th>
        <th>@Html.DisplayNameFor(model => model.POST)</th>
        @if ((bool)(ViewBag.IsAuditor ?? false) || (bool)(ViewBag.IsAdmin ?? false))
        {
            <th>
                @Html.DisplayName("Операции")
            </th>
        }
    </tr>
    @foreach (var item in Model){
    <tr>
        <td>
            @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.LASTNAME).ToString(), "JsonOrg", "custombrockers", new { id = item.CUSTOMBROCKERID }, new AjaxOptions { OnSuccess = "OnSuccessBrocker" }) <br />
        @Html.DisplayFor(modelItem => item.FIRSTNAME) <br />@Html.DisplayFor(modelItem => item.FATHERSNAME)
    </td>
    <td>@Html.DisplayFor(modelItem => item.WORKPLACE)</td>
    <td>@Html.DisplayFor(modelItem => item.POST)</td>
    @if ((bool)(ViewBag.IsAuditor ?? false) || (bool)(ViewBag.IsAdmin ?? false))
    {
        <td>
            @Html.ActionLink("Аудит", "Custombrocker", "Audit", new { id = item.CUSTOMBROCKERID }, new { @target = "_blank" })
        </td>
    }
    </tr>}
    </table>
<div class="modal-footer" id="brockerModalCloseButton"><button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button></div>