﻿<br />
<p><b><span style="color:brown">ОШИБКА.</span> Строка поиска не может быть пустой.</b></p>
<p><b>Введите цифровую часть номера паспорта</b></p>
<p><b>и повторно нажмите кнопку 'Поиск'.</b></p>
