﻿<br />
<p><b>Уполномоченный представитель с цифровой частью <span style="background-color: #ffff00;">@ViewBag.PassportNumberDigitalPart</span> номера паспорта
     в базе данных не обнаружен.</b></p>
