﻿@model IEnumerable<Focus.Web.Models.Custombrocker>

<br />
<p><b>Нажмите на нужную фамилию для выбора таможенного представителя</b></p>
<table class="table">
    <tr>
        <th>
            <b>ФИО</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKPLACE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.LASTNAME).ToString(), "JsonOrgMove", "custombrockers",
                    new { id = item.CUSTOMBROCKERID },
                    new AjaxOptions { OnSuccess = "OnSuccessBrocker"}) <br />
            @Html.DisplayFor(modelItem => item.FIRSTNAME) <br />
            @Html.DisplayFor(modelItem => item.FATHERSNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKPLACE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POST)
        </td>
    </tr>
    }

</table>

