﻿@model Focus.Web.Models.Permission

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>permission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATESTART)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATESTART)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEFINISH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFINISH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISVALID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISVALID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENT.NUMBER_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENT.NUMBER_)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
