﻿@model Focus.Web.Models.Permission

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>permission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATESTART)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATESTART)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEFINISH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFINISH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISVALID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISVALID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENT.NUMBER_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENT.NUMBER_)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.PERMISSIONID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
