﻿@model IEnumerable<Focus.Web.Models.Permission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATESTART)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEFINISH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISVALID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCUMENT.NUMBER_)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATESTART)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEFINISH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISVALID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCUMENT.NUMBER_)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.PERMISSIONID }) |
            @Html.ActionLink("Детали", "Details", new { id=item.PERMISSIONID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.PERMISSIONID })
        </td>
    </tr>
}

</table>
