﻿@model Focus.Web.Models.Permission


<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5>Вы действительно желаете удалить это разрешение?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().LASTNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().LASTNAME)
                    <dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().FIRSTNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().FIRSTNAME)
                    <dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().FATHERSNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().FATHERSNAME)
                    <dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().WORKPLACE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().WORKPLACE)
                    <dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().POST)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().POST)
                    <dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DATESTART)
                    <dt>

                    <dd>
                        @Html.DisplayFor(model => model.DATESTART)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DATEFINISH)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DATEFINISH)
                    <dd>
                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "CustomBrockerPermissionDeleteAccept" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#CustomBrockerPermissionDeleteModal').modal('hide')" />
            </div>
        }
    </div>
</div>

