﻿@model Focus.Web.Models.Permission

    <!--Content-->
    @using (Ajax.BeginForm("JsonPermission", "permissions", new AjaxOptions { OnSuccess = "OnSuccessPermission" }))
    {

        <div class="modal-header">
            <button type="button" class="close" id="buttonPermissionModalClose" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Формирование разрешения</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">Период полномочий</div>
                <div class="panel-body">
                    <div class="form-horizontal">


                        <div class="form-group">
                            @Html.LabelFor(model => model.DATESTART, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DATESTART, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATESTART, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DATEFINISH, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DATEFINISH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DATEFINISH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="panel-group" id="permissionAccordion" role="tablist" aria-multiselectable="true">
                <div id="anchorForCustomBrockerpermission"></div>
            </div>
            <button type="button" class="btn btn-primary" id="buttonAddCustomBrocker" data-toggle="modal" data-target="#brockerModal">
                Добавить таможенного представителя
            </button>
            <div id="permissionresults"></div>
        </div>
        <div class="modal-footer" id="organizationFooter">
            <button type="submit" disabled class="btn btn-default">Сохранить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
    }

<!--Permission group-->
<script type="text/javascript">
    function OnSuccessPermission(data) {
        //alert('Ok');
        var jsfullName = data.fullName == "" ? "" : '<b>' + data.fullName + '</b>';
        var jsstart = data.start == "" ? "" : '<p><b>Дата начала полномочий: </b>' + data.start + '.</p>';
        var jsfinish = data.finish == "" ? "." : ' со сроком полномочий вплоть до ' + data.finish + '.';
        var jsworkOfPlace = data.workOfPlace == "" ? "" : '<p><b>Место работы: </b>' + data.workOfPlace + '.</p>';
        var jspost = data.post == "" ? "" : '<p><b>Должность: </b>' + data.post + '.</p>';
        var jsaddress = data.address == "" ? "" : '<p><b>Место проживания: </b>' + data.address + '.</p>';
        var jsphone = data.phone == "" ? "" : '<p><b>Телефон: </b>' + data.phone + '.</p>';
        var jsfax = data.fax == "" ? "" : '<p><b>Факс: </b>' + data.fax + '.</p>';
        var jspassport = data.passport == "" ? "" : '<p><b>Паспортные данные: </b>' + data.passport + '.</p>'
        var jscollapseinformation = jsworkOfPlace + jspost + jsaddress + jspassport + jsphone + jsfax + jsstart;

        var PermissionMackupForInsert = $('<div class="panel panel-default" id="panelCustomBrockerPermission' + 10000001 + data.id + '">' +
            '<div class="panel-heading" role = "tab" id = "headingCustomBrockerPermission' + 10000001 + data.id + '" > ' +
            '<a type="button" class="close" id="deleteButtonCustomBrockerPermission' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomBrockerPermissionDeleteAccept" data-ajax-success="$(\'#CustomBrockerPermissionDeleteModal\').modal(\'show\')" href="/permissions/PartialDelete/' + data.id + '"><span aria-hidden="true">&times;</span></a>' +
            '<a type="button" class="close" id="editButtonCustomBrockerPermission' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomBrockerPermissionEditAccept" data-ajax-success="$(\'#CustomBrockerPermissionEditModal\').modal(\'show\')" href="/permissions/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
            '<h4 class="panel-title">' +
            '<a role="button" data-toggle="collapse" data-parent="#accordionCustomBrockerPermission" href="#collapseCustomBrockerPermission' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapseCustomBrockerPermission' + 10000001 + data.id + '">' +
            'Уполномоченный представитель: ' + jsfullName + jsfinish +
            '<input type="hidden" name="permission[' + data.id + '].PERMISSIONID" value="' +
            + data.id + '"><input type="hidden" value="' + data.id + '"name="permission.Index">' +
            '</a >' +
            '</h4>' +
            '</div >' +
            '<div id = "collapseCustomBrockerPermission' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingCustomBrockerPermission' + data.id + 10000001 + '" >' +
            '<div class="panel-body">' +
            jscollapseinformation +
            '</div>' +
            '</div >' +
            '</div >');
        $('#anchorForCustomBrockerPermission').before(PermissionMackupForInsert);
        $('#permissionModal').modal('hide');
        CollapsePanel('collapseCustomBrockerPermission' + 10000001 + data.id);

        function CollapsePanel(panel) {
            var collapsePanel = document.getElementById(panel);
            collapsePanel.collapse('hide');
        }
    }</script>

<!--Custom brocker modal.-->
<div class="modal fade" id="brockerModal" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm("Search", "custombrockers", new AjaxOptions { UpdateTargetId = "brockerresults" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="buttonBrockerModalClose" data-dismiss="modal" onclick="CloseOnlyInnerModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Выбор таможенного представителя</h4>
                </div>
                <div class="modal-body">
                    <div>

                        <div class="input-group" style="max-width: 380px;">
                            <input type="text" class="form-control" name="lastName" placeholder="Введите часть фамилии..." />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">Поиск</button>
                                @Ajax.ActionLink("Создать", "PartialCreate", "custombrockers", null,
                                new AjaxOptions { UpdateTargetId = "brockerresults" }, new { @class = "btn btn-default" } )
                            </div>
                        </div>


                        <div id="brockerresults"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function CloseOnlyInnerModal() {
        $('#buttonBrockerModalClose').prop('data-dismiss').remove();
        $('#brockerModal').modal('hide');
        ;

    }
</script>

<!--Modal dialog for device deleting-->
<div class="modal fade" id="CustomBrockerPermissionDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление разрешения</h4>
            </div>
            <div id="CustomBrockerPermissionDeleteAccept"></div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal dialog for device editing-->
<div class="modal fade" id="CustomBrockerPermissionEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменение сведений об разрешении</h4>
            </div>
            <div id="CustomBrockerPermissionEditAccept"></div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script>
    function CustomBrockerPermissionButtonCloseHide() {
        $('#CustomBrockerPermissionModalCloseButton').hide();

    }
    function CustomBrockerPermissionButtonCloseShow() {
        $('#CustomBrockerPermissionModalCloseButton').show();

    }
</script>


