﻿@model Focus.SSO.Models.Vehiclekind

@{
    ViewBag.Title = "Delete";
}

<div class="container body-content">
    <h2>Удаление</h2>

    <h3>Вы уверены, что хотите удалить?</h3>
    <div>
        <h4>vehiclekind</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VEHICLETYPE.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VEHICLETYPE.NAME)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Вернуться", "Index")
            </div>
        }
    </div>
</div>
