﻿@model IEnumerable<Focus.SSO.Models.Vehiclekind>

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <h2>Виды транспортного средства</h2>

    <p>
        @Html.ActionLink("Добавить новый", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VEHICLETYPE.NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_UPDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VEHICLETYPE.NAME)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.VEHICLEKINDID }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.VEHICLEKINDID }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.VEHICLEKINDID })
                </td>
            </tr>
        }

    </table>
</div>