﻿@model Focus.SSO.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Детальная информация</h2>

<div>
    <h4>Страна</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMEFULL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMEFULL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMEEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMEEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABBR3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABBR3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODELETTERS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODELETTERS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODEDIGITS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODEDIGITS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTINENTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTINENTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ABBR2 }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
