﻿@model Focus.Web.Models.Container


<!--Body-->
<div class="modal-body">
    <div class="text-left">
        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
        <h5 class="text-danger">Сведения о контейнере изменены</h5>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.REGNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REGNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEMENSIONS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEMENSIONS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COUNTRY.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COUNTRY.NAME)
            </dd>

        </dl>
    </div>
</div>
<!--Footer-->
<div class="modal-footer justify-content-center">
    @using (Ajax.BeginForm("Json", "containers", new { id = Model.CONTAINERID }, new AjaxOptions() { OnSuccess = "OnEditContainerNotification" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ОК" class="btn btn-primary" />
        </div>
    }
</div>
