﻿@model Focus.Web.Models.Container

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REGNUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGNUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEMENSIONS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEMENSIONS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.CONTAINERID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
