﻿@model IEnumerable<Focus.Web.Models.Container>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REGNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEMENSIONS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.REGNUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEMENSIONS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY.NAME)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.CONTAINERID }) |
            @Html.ActionLink("Детали", "Details", new { id=item.CONTAINERID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.CONTAINERID })
        </td>
    </tr>
}

</table>
