﻿@model Focus.Web.Models.Container


<div>
    <!--Body-->
    <div class="modal-body">
        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
        <h5>Сведения о контейнере</h5>
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "containerEditAccept" }))
        {
            @Html.AntiForgeryToken()
            <p>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CONTAINERID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.REGNUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.REGNUMBER, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.REGNUMBER, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.COUNTRYCODE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("COUNTRYCODE", null, "-- Страна регистрации --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.COUNTRYCODE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DEMENSIONS, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DEMENSIONS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DEMENSIONS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </p>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ОК" class="btn btn-warning" />
                        <input type="button" value="Отмена" class="btn btn-default" onclick="$('#containerEditModal').modal('hide');" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
