﻿@model IEnumerable<Focus.Web.Models.Container>

<table class="table" id="serchContainerTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REGNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.REGNUMBER).ToString(), "JsonOrg", "containers",
                        new { id = item.CONTAINERID },
                        new AjaxOptions { OnSuccess = "OnSuccessContainer" },
                        new { @class = "containerActionLink", onclick = "Disabling('serchContainerTable');" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTAINERID)
            </td>
        </tr>
    }

</table>
<div class="modal-footer" id="containerModalCloseButton">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
<!--Disabling and enabling elements-->
<script>
    function Disabling(string) {
        var element = document.getElementById(string);
        element.setAttribute('disabled', 'true');
    }
    function Enabling(string) {
        var element = document.getElementById(string);
        element.removeAttribute('disabled');
    }
</script>
