﻿@model IdentityMySQLDemo.Models.RegisterViewModel
@{

    ViewBag.Message2 = "Создание нового пользователя";
}

<div class="container body-content">
    <div class="container body-content">
        <h2>@ViewBag.Message2</h2>

        @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ROLE", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Инспектор</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PERSONID, "", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group" style="max-width: 272px;">
                                    <label for="hiddenFieldConsigneeId">Введите инспектора...</label>
                                    @Html.HiddenFor(model => model.PERSONID, new { htmlAttributes = new { @class = "form-control", @placeholde = "Выберите инспектора ...", @hidden = "hidden" } })
                                    <span class="input-group-btn">
                                        <button id="buttonConsigneeId" class="btn btn-default" type="button" onclick="ShowInspectorModal()">Выбрать</button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PERSONID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Фамилия", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("LASTNAME", null, new { htmlAttributes = new { @class = "form-control", id = "LASTNAME", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Имя", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("FIRSTNAME", null, new { htmlAttributes = new { @class = "form-control", id = "FIRSTNAME", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Отчество", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("FATHERNAME", null, new { htmlAttributes = new { @class = "form-control", id = "FATHERNAME", @disabled = "disabled" } })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.Label("Должность", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("TITLE", null, new { htmlAttributes = new { @class = "form-control", id = "TITLE", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Телефон", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("PHONENUMBER", null, new { htmlAttributes = new { @class = "form-control", id = "PHONENUMBER", @disabled = "disabled" } })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.Label("Код ПТО", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("CODE", null, new { htmlAttributes = new { @class = "form-control", id = "CODE", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("ПТО", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("NAME", null, new { htmlAttributes = new { @class = "form-control", id = "NAME", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Отдел/таможенный пост", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("DEVISION", null, new { htmlAttributes = new { @class = "form-control", id = "DEVISION", @disabled = "disabled" } })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Создать" />
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    </div>
        <!--Open inspector modal by javascript-->
        <script type="text/javascript">
            function ShowInspectorModal() {
                $('#inspresults').empty();
                $("#inspModal").modal();

            }
        </script>

        <!-- Insp Modal -->
        <script type="text/javascript">
            function OnSuccessInspector(data) {
                var devision = $('#DEVISION');
                devision.val(data.devision);
                var id = $('#PERSONID');
                id.val(data.id);
                var lastname = $('#LASTNAME');
                lastname.val(data.lastname);
                var firstname = $('#FIRSTNAME');
                firstname.val(data.firstname);
                var fathername = $('#FATHERNAME');
                fathername.val(data.fathername);
                var postname = $('#NAME');
                postname.val(data.postname);
                var code = $('#CODE');
                code.val(data.code);
                var phonenumber = $('#PHONENUMBER');
                phonenumber.val(data.phonenumber);
                var title = $('#TITLE');
                title.val(data.title);
                $('#inspModal').modal('hide');
            }</script>

        <div class="modal fade" id="inspModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Выбор инспектора</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            @using (Ajax.BeginForm("Search", "Inspector", new AjaxOptions { UpdateTargetId = "inspresults", OnSuccess = "InspectorButtonCloseShow" }))
                            {
                                <div class="input-group" style="max-width: 380px;">
                                    <input type="text" class="form-control" name="name" placeholder="Введите часть фамилии ..." />
                                    <div class="input-group-btn">
                                        <button type="submit" onclick="$('#inspresults').empty()" class="btn btn-default">Поиск</button>
                                        @Ajax.ActionLink("Создать", "PartialCreate", "Inspector", null,
                                     new AjaxOptions { UpdateTargetId = "inspresults", OnSuccess= "InspectorButtonCloseHide" }, new { @class = "btn btn-default" } )
                                    </div>
                                </div>

                            }
                            <div id="inspresults"></div>
                        </div>
                    </div>
                    <div class="modal-footer" id="InspectorFooter">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function InspectorButtonCloseHide() {
            $('#InspectorFooter').hide();

        }
    </script>
    <script>
        function InspectorButtonCloseShow() {
            $('#InspectorFooter').show();

        }
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
