﻿@model IdentityMySQLDemo.Models.RegisterAdministratorViewModel
@{

    ViewBag.Message2 = "Создание администратора системы";
}

<div class="container body-content">
    <div class="container body-content">
        <h2>@ViewBag.Message2</h2>

        @using (Html.BeginForm("CreateAdministrator", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @Value = "administrator"})
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Инспектор</div>
                <ul class="list-group">
                    <li class="list-group-item">

                        <div class="form-group">
                            @Html.Label("Фамилия", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("LASTNAME", null, new { htmlAttributes = new { @class = "form-control", id = "LASTNAME" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Имя", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("FIRSTNAME", null, new { htmlAttributes = new { @class = "form-control", id = "FIRSTNAME" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Отчество", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("FATHERNAME", null, new { htmlAttributes = new { @class = "form-control", id = "FATHERNAME" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Фамилия, инициалы", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("SHORTNAME", null, new { htmlAttributes = new { @class = "form-control", id = "SHORTNAME" } })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            @Html.Label("Должность", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("TITLE", null, new { htmlAttributes = new { @class = "form-control", id = "TITLE" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Телефон", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("PHONENUMBER", null, new { htmlAttributes = new { @class = "form-control", id = "PHONENUMBER" } })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Создать" />
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
