﻿@model IdentityMySQLDemo.Models.UserViewModel

@{
    ViewBag.Title = "Удаление пользователя";
}

<div class="container body-content">
    <div class="container body-content">
        <h2>Удаление пользователя</h2>

        <h3>Вы уверены, что хотите удалить указанного пользователя?</h3>
        <div>
            <hr />
            @Html.HiddenFor(model => model.Id)
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Role)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Удалить" />
                    </div>
                </div>
            }
        </div>
        <div>
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

