﻿@model IEnumerable< IdentityMySQLDemo.Models.UsersViewModel>

@{ DateTime? current = DateTime.Now.ToUniversalTime();}

@{
    ViewBag.Title = "Пользователи системы";
}
<div class="container container-fluid">
<h2>Пользователи системы</h2>

<p>
    @Html.ActionLink("Создание нового пользователя", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTOName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTOName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Сбросить пароль", "ChangePassword", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }) |
            @if (item.LockoutEndDate > current)
            {
                @Html.ActionLink("Разблокировать", "LockoutAccount", "User", new { id = item.Id }, new { @style = "color:red" })
            }
            else
            {
                @Html.ActionLink("Заблокировать", "LockAccount", "User", new { id = item.Id }, null)
            }
        </td>

    </tr>
}

</table>

</div>