﻿@model Focus.Web.Models.Doc

@{
    ViewBag.Title = "Детали";
}

<div class="container body-content">
    <h2>Детали</h2>

    <div>
        <h4>doc</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Получатель")
            </dt>

            <dd>
                УНП @Html.DisplayFor(model => model.CONSIGNEETIN), @Html.DisplayFor(model => model.CONSIGNEENAME), адрес - @Html.DisplayNameFor(model => model.CONSIGNEEADDRESS)
            </dd>

            <dt>
                @Html.DisplayName("Уполномоченный представитель")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LASTNAME) @Html.DisplayFor(model => model.FIRSTNAME) @Html.DisplayFor(model => model.FATHERSNAME), паспорт № @Html.DisplayFor(model => model.PASSPORTNUMBER), выдан @Html.DisplayFor(model => model.PASSPORTISSUEDDATE) @Html.DisplayFor(model => model.PASSPORTAUTHORITYBODY), @Html.DisplayFor(model => model.POST) @Html.DisplayFor(model => model.PLACEOFWORK)
            </dd>

            <dt>
                @Html.DisplayName("Должностное лицо, осуществляющее досмотр")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INSPECTORSHORTNAME), @Html.DisplayFor(model => model.INSPECTORTITLE) @Html.DisplayFor(model => model.INSPECTORDEVISION)
            </dd>

            <dt>
                @Html.DisplayName("Задача на таможенный досмотр (осмотр)")
            </dt>

            <dd>
                @{
                    if (!string.IsNullOrEmpty(Model.BASIS))
                    {
                        @Html.DisplayFor(model => model.BASIS)<span>, </span>@Html.DisplayFor(model => model.TASK);
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHOTOPAGES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHOTOPAGES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHOTOCOPIES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHOTOCOPIES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALNUMBERS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALNUMBERS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALNAME1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALNAME1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALPAGES1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALPAGES1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALCOPIES1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALCOPIES1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALNAME2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALNAME2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALPAGES2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALPAGES2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALCOPIES2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALCOPIES2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALNAME3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALNAME3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALPAGES3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALPAGES3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALCOPIES3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALCOPIES3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALNAME4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALNAME4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALPAGES4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALPAGES4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALCOPIES4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALCOPIES4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALNAME5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALNAME5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALPAGES5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALPAGES5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADDITIONALCOPIES5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADDITIONALCOPIES5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SAMPLINGNUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SAMPLINGNUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DECISIONNUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DECISIONNUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PERIODSTARTDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PERIODSTARTDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PERIODSTARTTIME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PERIODSTARTTIME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CUSTOMSPLACE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CUSTOMSPLACE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PEROIDFINISHDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PEROIDFINISHDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PERIODFINISHTIME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PERIODFINISHTIME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TRANSFERRINGDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TRANSFERRINGDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TRANSFERRINGTIME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TRANSFERRINGTIME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCDECLARATIONONGOODS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCDECLARATIONONGOODS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCTRANSITDECLARATION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCTRANSITDECLARATION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCCMRNUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCCMRNUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCCMRDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCCMRDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCCARNERNUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCCARNERNUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCCARNETDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCCARNETDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCNOTIFICATIONPLACEMENT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCNOTIFICATIONPLACEMENT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCPERMISSIONPLACEMENT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCPERMISSIONPLACEMENT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCINVOCENUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCINVOCENUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCINVOICEDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCINVOICEDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GOODSDESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GOODSDESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GOODSTOTALBRUTTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GOODSTOTALBRUTTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GOODSARRIVALCOUNTRY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GOODSARRIVALCOUNTRY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PACKAGEINITIALNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PACKAGEINITIALNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PACKAGENAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PACKAGENAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PLACESNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PLACESNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PLACESNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PLACESNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QUESTIONS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QUESTIONS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GOODSDES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GOODSDES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SAMPLEWEIGHT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SAMPLEWEIGHT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SAMPLECOST)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SAMPLECOST)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TOTALWEIGHT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TOTALWEIGHT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TOTALCOST)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TOTALCOST)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CURRENCYNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CURRENCYNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISDANGER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISDANGER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISPERISHABLEPRODUCT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISPERISHABLEPRODUCT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KINDOFSAMPLE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KINDOFSAMPLE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SAMPLESNUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SAMPLESNUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EXPERTINSINKIND)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EXPERTINSINKIND)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SEALNUM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SEALNUM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WEIGHINGACTUALNETTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WEIGHINGACTUALNETTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WEIGHINGACTUALBRUTTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WEIGHINGACTUALBRUTTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISACTUAL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISACTUAL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISAVERAGE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISAVERAGE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISAVERAGEFIRST)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISAVERAGEFIRST)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISAVERAGESECOND)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISAVERAGESECOND)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISAVERAGETHIRD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISAVERAGETHIRD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISAVERAGE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISAVERAGE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISCALCULATIONDESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISCALCULATIONDESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISOTHER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISOTHER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISOTHERDESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISOTHERDESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SIGNSSOFVIOLATIONS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SIGNSSOFVIOLATIONS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VIOLATIONSDESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VIOLATIONSDESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CUSTOMS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CUSTOMS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RADIATIONBACKGROUND)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RADIATIONBACKGROUND)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CUSTOMSRESULT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CUSTOMSRESULT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FIRSTNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIRSTNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CONSIGNEETIN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CONSIGNEETIN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REWIEW)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REWIEW)
            </dd>



        </dl>
    </div>
    <p>
        @if (Model.USERID == ViewBag.UserId)
        {
            @Html.ActionLink("Изменить", "Edit", new { id = Model.DOCID })
        }
        else
        {
            <div><font color="gray">Изменить</font></div>
        } |
        @Html.ActionLink("Вернуться", "Index")
    </p>
    </div>