﻿@using Focus.Web.Helpers;

@model Focus.Web.ViewModels.DocsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" style="margin-left: 5px">

    <h2>Таможенные документы</h2>

    <p>
        <table style="width:100%">
            <tr style="width:100%">
                <td float="right">
                    <a type="button" class="btn btn-primary" href="/docs/Create" onclick="$('#loader').show();">Добавить новый досмотр</a>
                    <a class="btn btn-default questionButton" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#smallHelpDocCreate" data-ajax-complete="ShowSmallHelpDocCreateModal();" href="/Help/PartialSmallDocCreate"><i class="glyphicon glyphicon-question-sign"></i></a>
                </td>
                <td float="right"><a class="btn btn-default pull-right" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#helpDocCreateResult" data-ajax-complete="ShowHelpDocCreateModal();" href="/Help/PartialDocCreate">Справка</a></td>
            </tr>
        </table>
        <br />
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { pageNumber = x }))
        </div>
    </p>
    <div id="loader" class="loader" style="display: none"></div>
    <table class="table table-striped table-hover table-inverse">
        <thead class="thead-dark">
            <tr>
                <th class="col-md-1" style="background-color: #212529; color:white; border-color: #32383e">
                    @Html.DisplayName("Наименование")
                </th>

                <th class="col-md-1" style="background-color: #212529; color:white; border-color: #32383e">
                    @Html.DisplayName("ФИО")
                </th>

                <th class="col-md-1" style="background-color: #212529; color:white; border-color: #32383e">
                    @Html.DisplayName("Номер АТД") /
                    @Html.DisplayName("Дата и время (создания, начала досмотра, обновления)")
                </th>

                <th class="col-md-1" style="background-color: #212529; color:white; border-color: #32383e">
                    @Html.DisplayName("Описание товара")
                </th>

                <th class="col-md-1" style="background-color: #212529; color:white; border-color: #32383e">
                    @Html.DisplayName("Задание / признаки нарушений")
                </th>

                <th class="col-md-6" style="background-color: #212529; color:white; border-color: #32383e">
                    @Html.DisplayName("Результат")
                </th>

                <th class="col-md-1" style="background-color: #212529; color:white; border-color: #32383e">
                    Операции
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Docs)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.CONSIGNEENAME)
                </td>

                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.LASTNAME) <br />
                    @Html.DisplayFor(modelItem => item.FIRSTNAME) <br />
                    @Html.DisplayFor(modelItem => item.FATHERSNAME) <br />
                </td>

                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.NUM) <br />
                    @Html.HiddenFor(modelItem => item.DOCDECLARATIONONGOODS, new { id = "dokaDOCDECLARATIONONGOODS" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.DOCTRANSITDECLARATION, new { id = "dokaDOCTRANSITDECLARATION" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.DOCCMRNUM, new { id = "dokaDOCCMRNUM" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.DOCCMRDATE, new { id = "dokaDOCCMRDATE" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.DOCINVOCENUM, new { id = "dokaDOCINVOCENUM" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.DOCINVOICEDATE, new { id = "dokaDOCINVOICEDATE" + item.DOCID.ToString() }) <hr style="border-color: lightgray" />
                    <span>Создан: </span><br />@item.TIMESTAMP_ON_CREATE.ToString(@"dd.MM.yyyy")<span> </span>@item.TIMESTAMP_ON_CREATE.ToString(@"HH:mm")
                    @if (item.PERIODSTARTDATE.HasValue)
                    {
                        <hr style="border-color: lightgray" />
                        <span>Начат: </span><br />@item.PERIODSTARTDATE.Value.ToString("dd.MM.yyyy");<span> </span>
                    }
                    @if (item.PERIODSTARTTIME.HasValue)
                    {
                        @item.PERIODSTARTTIME.Value.ToString(@"HH:mm");
                    }
                    <hr style="border-color: lightgray" />
                    <span>Обновлен: </span><br />@item.LAST_UPDATE.ToString(@"dd.MM.yyyy")<span> </span>@item.LAST_UPDATE.ToString(@"HH:mm")
                </td>

                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.GOODSDESCRIPTION)
                    @{
                        if (!string.IsNullOrEmpty(item.GOODSARRIVALCOUNTRY))
                        {
                            <hr style="border-color:lightgray; margin: 0px, 0px, 0px, 0px" />
                            @Html.DisplayName("Страна отправления");<span>:</span>
                            @Html.DisplayFor(modelItem => item.GOODSARRIVALCOUNTRY);
                            @Html.HiddenFor(modelItem => item.GOODSARRIVALCOUNTRY, new { id = "dokaGOODSARRIVALCOUNTRY" + item.DOCID.ToString() });
                        }
                    }
                    @{
                        if (item.GOODSTOTALBRUTTO != null && item.GOODSTOTALBRUTTO.Value != 0)
                        {
                            <hr style="border-color:lightgray; margin: 0px, 0px, 0px, 0px" />
                            @Html.DisplayName("Вес брутто, кг.");<span>:</span>
                            @Html.DisplayFor(modelItem => item.GOODSTOTALBRUTTO);
                            @Html.HiddenFor(modelItem => item.GOODSTOTALBRUTTO, new { id = "dokaGOODSTOTALBRUTTO" + item.DOCID.ToString() });
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(item.PLACESNUMBER))
                        {
                            <hr style="border-color:lightgray" />
                            @Html.DisplayName("Количество грузовых мест");<span>:</span>
                            @Html.DisplayFor(modelItem => item.PLACESNUMBER);
                            @Html.HiddenFor(modelItem => item.PLACESNUMBER, new { id = "dokaPLACESNUMBER" + item.DOCID.ToString() });
                        }
                    }

                    @{
                        decimal? bruttoActual = item.WEIGHINGACTUALBRUTTO;
                        decimal? nettoActual = item.WEIGHINGACTUALNETTO;
                        if (bruttoActual != null || nettoActual != null)
                        {
                            <hr style="border-color:lightgray" />
                            <span>Факт.вес, кг. (брутто / нетто) - </span>
                            @Html.DisplayFor(modelItem => item.WEIGHINGACTUALNETTO); <span>/</span>
                            @Html.DisplayFor(modelItem => item.WEIGHINGACTUALBRUTTO);
                        }
                    }
                </td>

                <td class="col-md-1">

                    @{
                        if (!string.IsNullOrEmpty(item.TASK))
                        {
                            @Html.DisplayFor(modelItem => item.TASK)
                        }
                        else
                        {
                            <span>Задание не указано</span>
                        }
                    }

                    <hr style="border-color: lightgray" />
                    @{
                        if (item.SIGNSSOFVIOLATIONS == 1)
                        {
                            <span style="color: red"><b>Есть нарушения</b>  </span><br />
                            @Html.DisplayFor(modelItem => item.VIOLATIONSDESCRIPTION);
                        }
                        else
                        {
                            <span style="color: darkgreen"><b>Нет нарушений</b></span>
                        }
                    }
                </td>

                <td class="col-md-6">
                    @{
                        const int INPUT_LENGHT = 650;
                        string str = item.CUSTOMSRESULT;
                        if (str.Length <= INPUT_LENGHT)
                        {
                            @Html.DisplayFor(modelItem => item.CUSTOMSRESULT);
                        }
                        else
                        {
                            @Html.HiddenFor(modelItem => item.CUSTOMSRESULT, new { id = "resultDescription" + item.DOCID.ToString() })
                            string str1 = str.Substring(0, INPUT_LENGHT - 1);
                            string str2 = str.Substring(INPUT_LENGHT - 1);
                            <div class="span4 collapse-group"><p>@str1<span class="collapse" id='@GetCollapseId(item)'>-@str2</span><a data-toggle="collapse" data-target='#@GetCollapseId(item)'> Свернуть/Развернуть ... &raquo;</a></p></div>
                        }
                    }
                </td>

                <td class="col-md-1">
                    @if (item.USERID == ViewBag.UserId || (bool)ViewBag.IsAdmin || ViewBag.PostIdOfUser == item.INSPECTOR1.POSTID)
                    {
                        @Html.ActionLink("Изменить", "Edit", new { id = item.DOCID }, htmlAttributes: new { onclick = "$('#loader').show();" })
                    }
                    else
                    {
                        <div><font color="gray">Изменить</font></div>
                    } |
                    @Html.ActionLink("Детали", "Details", new { id = item.DOCID }, htmlAttributes: new { onclick = "$('#loader').show();" }) |
                    @if (item.USERID == ViewBag.UserId || (bool)ViewBag.IsAdmin || ViewBag.PostIdOfUser == item.INSPECTOR1.POSTID)
                    {
                        @Html.ActionLink("Удалить", "Delete", new { id = item.DOCID }, htmlAttributes: new { onclick = "$('#loader').show();" })
                    }
                    else
                    {
                        <div><font color="gray">Удалить</font></div>
                    } |
                    @if (item.ISCOULDBEPRENTED == 1)
                    {
                        @Html.ActionLink("Показать", "Show", new { id = item.DOCID })
                    }
                    else
                    {
                        <div><font color="gray">Показать</font></div>
                    }
                    @if ((bool)ViewBag.IsAdmin || (bool)ViewBag.IsAuditor)
                    {<span>| </span>
                        @Html.ActionLink("Аудит", "Doc", "Audit", new { id = item.DOCID }, null)
                    }
                </td>
            </tr>
            <tr>
                <td class="col-md-1">
                    @Html.HiddenFor(modelItem => item.CONSIGNEENAME, new { @id = "dokaCONSIGNEENAME" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.CONSIGNEETIN, new { @id = "dokaCONSIGNEETIN" + item.DOCID.ToString() })
                    <button class="btn btn-default" onclick="copyToClipboardConsignee('@item.DOCID.ToString()')" background-color: transparent">Скопировать получателя</button>
                    <button class="btn btn-default" onclick="copyToClipboard('@item.CUSTOMSPLACE')" background-color: transparent">Место досмотра</button>
                </td>
                <td class="col-md-2">
                    <input type="hidden" id="@item.DOCID.ToString()" name="" value="@GetCustomBrockerShortName(item)">
                    @Html.HiddenFor(modelItem => item.PLACEOFWORK, new { @id = "dokaPLACEOFWORK" + item.DOCID.ToString() })
                    @Html.HiddenFor(modelItem => item.POST, new { @id = "dokaPOST" + item.DOCID.ToString() })
                    <button class="btn btn-default" onclick="copyToClipboard('@GetCustomBrockerShortName(item)')" background-color: transparent">ФИО</button><button class="btn btn-default" onclick="copyToClipboard('@item.PLACEOFWORK')" background-color: transparent">Место работы</button>
                    <button class="btn btn-default" onclick="copyToClipboard('@item.POST')" background-color: transparent"> Должность </button>
                    <button class="btn btn-default" onclick="copyToClipboard('@GetCustomBrockerPassport(item)')" background-color: transparent">  Паспорт </button>
                    @Html.HiddenFor(modelItem => item.PLACEOFWORK, new { id = "dokaCUSTOMBROCKERWORKPLACE", @value = GetCustomBrockerShortName(item) })
                    @Html.HiddenFor(modelItem => item.POST, new { id = "dokaPOST" })
                </td>
                <td class="col-md-1">
                    <button class="btn btn-default" onclick="GetDocument('@item.DOCID.ToString()')" background-color: transparent">Документы</button>
                </td>
                <td class="col-md-3">
                    <button class="btn btn-default" onclick="GetCountry('@item.DOCID.ToString()')" background-color: transparent">Страна</button>
                    <button class="btn btn-default" onclick="GetBrutto('@item.DOCID.ToString()')" style="width:100px; background-color: transparent">Вес брутто</button>
                    <button class="btn btn-default" onclick="GetCargoPlaceNumber('@item.DOCID.ToString()')" style="width:100px; background-color: transparent">Мест</button>
                    @{
                        string firstVehicle = GetFirstVehicle(item);
                        if (!string.IsNullOrEmpty(firstVehicle))
                        {
                            <button class="btn btn-default" onclick="copyToClipboard('@firstVehicle')" style="background-color: transparent">1-ое ТС</button>
                        }
                    }
                    @{
                        string secondVehicle = GetSecondVehicle(item);
                        if (!string.IsNullOrEmpty(secondVehicle))
                        {
                            <button class="btn btn-default" onclick="copyToClipboard('@secondVehicle')" style="background-color: transparent">2-ое ТС</button>
                        }
                    }
                </td>
                <td сlass="col-md-3"></td>
                <td class="col-md-1">
                    <button class="btn btn-default" onclick="сopyToClipboardResult('@item.DOCID.ToString()')" background-color: transparent">Описание</button>
                </td>
                <td сlass="col-md-1"></td>
            </tr>
        }

    </table>
</div>
<style>
    #orgModal {
        overflow-y: scroll;
    }

    #brockerModal {
        overflow-y: scroll;
    }
</style>

<div class="modal fade" id="HelpDocCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Добавление акта таможенного досмотра (осмотра)</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div id="helpDocCreateResult"></div>
                </div>
            </div>
            <div id="HelpDocCreateFooter" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowHelpDocCreateModal() {
        $('#HelpDocCreateModal').modal('show');
    };
</script>

<div class="modal fade" id="SmallHelpDocCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Добавление акта таможенного досмотра (осмотра)</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div id="smallHelpDocCreate"></div>
                </div>
            </div>
            <div id="smallHelpDocCreate" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowSmallHelpDocCreateModal() {
        $('#SmallHelpDocCreateModal').modal('show');
    };
</script>


@functions
{

    public static string GetCustomBrockerShortName(Focus.Web.Models.Doc doc)
    {
        const string space = " ";

        string lastName = doc.LASTNAME;

        string firstName = doc.FIRSTNAME;

        string fatherName = doc.FATHERSNAME;

        string shortName = string.Empty;

        if (string.IsNullOrEmpty(lastName))
        {
            return string.Empty;
        }

        if (string.IsNullOrEmpty(firstName))
        {
            return shortName;
        }

        if (firstName.Length == 1)
        {
            firstName = firstName.ToUpper() + ".";
        }

        if (string.IsNullOrEmpty(fatherName))
        {
            return shortName + space + GetShortName(firstName);
        }

        if (fatherName.Length == 1)
        {
            fatherName = fatherName.ToUpper() + ".";
        }

        return lastName + space + GetShortName(firstName) + GetShortName(fatherName);

    }

    public static string GetCollapseId(Focus.Web.Models.Doc doc)
    {
        if (doc == null)
        {
            return string.Empty;
        }

        return "collapse" + doc.DOCID.ToString();
    }

    public static bool IsShortName(string name)
    {
        if (string.IsNullOrEmpty(name))
        {
            return false;
        }

        int length = name.Length;

        return length == 2 && name.IndexOf(".") == 1 ? true : false;
    }

    public static string GetShortName(string name)
    {
        if (string.IsNullOrEmpty(name))
        {
            return string.Empty;
        }

        if (IsShortName(name))
        {
            return name;
        }

        return name.Substring(0, 1).ToUpper() + ".";
    }

    public static string GetCustomBrockerPassport(Focus.Web.Models.Doc doc)
    {
        return "паспорт № " + (doc.PASSPORTNUMBER ?? "") + " выдан " + (doc.PASSPORTAUTHORITYBODY ?? "") + " " + (doc.PASSPORTISSUEDDATE ?? "");
    }

    public static string GetFirstVehicle(Focus.Web.Models.Doc doc)
    {
        List<Focus.Web.Models.Vehicle> vehicles = doc.VEHICLE.ToList();

        if (vehicles == null || vehicles.Count() == 0)
        {
            return string.Empty;
        }

        return vehicles[0].REGNUMBER;
    }

    public static string GetSecondVehicle(Focus.Web.Models.Doc doc)
    {
        List<Focus.Web.Models.Vehicle> vehicles = doc.VEHICLE.ToList();

        if (vehicles == null || vehicles.Count() < 2)
        {
            return string.Empty;
        }

        return vehicles[1].REGNUMBER;
    }

    public static string GetSeals(Focus.Web.Models.Doc doc)
    {
        string seals = doc.SEALS;

        if (string.IsNullOrEmpty(seals))
        {
            return string.Empty;
        }

        return seals;
    }

    public static string GetDeclaration(Focus.Web.Models.Doc doc)
    {
        return (string.IsNullOrEmpty(doc.DOCDECLARATIONONGOODS) ? (string.IsNullOrEmpty(doc.DOCTRANSITDECLARATION) ? string.Empty : doc.DOCTRANSITDECLARATION) : doc.DOCDECLARATIONONGOODS);
    }

    public static string GetAttachments(Focus.Web.Models.Doc doc)
    {
        return string.Empty;
    }
}

<script>
    function copyToClipboard(str) {

        if (str == null) {
            return;
        }
        var tempInput = document.createElement("input");
        tempInput.style = "position: absolute; left: -1000px; top: -1000px";
        tempInput.value = str;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }

    function GetBrutto(id) {
        var brutto = document.getElementById('dokaGOODSTOTALBRUTTO' + id);
        var bruttovalue = brutto == null ? "" : brutto.value;
        if (bruttovalue == '') {
            return '';
        }
        var result = FormatNumeric(bruttovalue).toString();
        copyToClipboard(result);
    }

    function сopyToClipboardResult(id) {
        var resultElement = document.getElementById('resultDescription' + id);
        var valueResult = resultElement == null ? "" : resultElement.value;
        copyToClipboard(valueResult);
    }

    function FormatNumeric(number) {

        if (number.toString() == '') {
            return '';
        }
        if (number.toString().indexOf(",") == -1 && number.toString().indexOf(".") == -1) {
            return number;
        }

        var length = number.toString().length;
        var i = --length;

        while (i >= 0) {
            var chr = GetChar(number.toString(), i);
            if (chr != '0') {
                if (chr == ',' || chr == '.') {
                    return number.toString().substring(0, i);
                }
                return number.toString().substring(0, i + 1);
            }
            i = i - 1;
        }
        return '';
    }

    function GetChar(string, index) {


        if (string == null) {
            return '';
        }

        if (string == '') {
            return '';
        }

        if (index < 0 || index > string.length - 1) {
            return '';
        }
        return string.substring(index, index + 1);
    }

    function copyToClipboardConsignee(id) {

        var copyTextName = document.getElementById('dokaCONSIGNEENAME' + id);
        var copyTextTIN = document.getElementById('dokaCONSIGNEETIN' + id);
        if (copyTextName == null || copyTextTIN == null) {
            return;
        }
        var tempInput = document.createElement("input");
        tempInput.style = "position: absolute; left: -1000px; top: -1000px";
        tempInput.value = copyTextName.value + ' УНП: ' + copyTextTIN.value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }

    function AddSome(str, added) {
        if (added == '') {
            return str;
        }

        return str == '' ? added : str + ' ' + added;
    }

    function AddSomeWithDelimiter(delimiter, str, added) {
        if (added == '') {
            return str;
        }

        return str == '' ? added : str + delimiter + added;
    }

    function GetCMR(id) {
        var doccmrnum = document.getElementById('dokaDOCCMRNUM' + id);
        var doccmrnumvalue = doccmrnum == null ? "" : doccmrnum.value;
        var doccmrdate = document.getElementById('dokaDOCCMRDATE' + id);
        var doccmrdatevalue = doccmrdate == null ? "" : doccmrdate.value;
        if (doccmrnumvalue != '' && doccmrdatevalue != '') {
            return "CMR №" + doccmrnumvalue + " от " + doccmrdatevalue;
        }
        return '';
    }

    function GetDocument(id) {
        var dt = GetDT(id);
        var td = GetTD(id);
        var invoice = GetInvoice(id);
        var cmr = GetCMR(id);
        var result = "";
        if (dt == "" && td == "" && invoice == "" && cmr == "") {
            return ""
        }
        result = AddSomeWithDelimiter(", ", AddSomeWithDelimiter(", ", AddSomeWithDelimiter(", ", AddSomeWithDelimiter(", ", "", dt), td), invoice), cmr);
        copyToClipboard(result);
    }

    function GetCountry(id) {
        var country = document.getElementById('dokaGOODSARRIVALCOUNTRY' + id);
        var countryvalue = country == null ? "" : country.value;
        if (countryvalue == '') {
            return '';
        }
        var result = "из " + countryvalue + " в БЕЛАРУСЬ";
        copyToClipboard(result);
    }

    function GetCargoPlaceNumber(id) {
        var places = document.getElementById('dokaPLACESNUMBER' + id);
        var placesvalue = places == null ? "" : places.value;
        if (placesvalue == '') {
            return '';
        }
        var result = placesvalue;
        copyToClipboard(result);
    }

    function GetInvoice(id) {
        var docinvocenum = document.getElementById('dokaDOCINVOCENUM' + id);
        var docinvocenumvalue = docinvocenum == null ? "" : docinvocenum.value;
        var docinvoicedate = document.getElementById('dokaDOCINVOICEDATE' + id);
        var docinvoicedatevalue = docinvoicedate == null ? "" : docinvoicedate.value;
        if (docinvocenumvalue != '' && docinvoicedatevalue != '') {
            return "Invoice №" + docinvocenumvalue + " от " + docinvoicedatevalue;
        }
        return '';
    }

    function GetDT(id) {
        var docinvocenum = document.getElementById('dokaDOCDECLARATIONONGOODS' + id);
        var docinvocenumvalue = docinvocenum == null ? "" : docinvocenum.value;
        if (docinvocenumvalue != '') {
            return "ДТ №" + docinvocenumvalue;
        }
        return '';
    }

    function GetTD(id) {
        var docinvocenum = document.getElementById('dokaDOCTRANSITDECLARATION' + id);
        var docinvocenumvalue = docinvocenum == null ? "" : docinvocenum.value;
        if (docinvocenumvalue != '') {
            return "ТД №" + docinvocenumvalue;
        }
        return '';
    }
</script>
