﻿ ﻿@model Focus.Web.Models.Doc
@{
    ViewBag.Title = "Создaть";
}
<br>
<br>
<h2>Добавить документ(ы)</h2>

@using (Html.BeginForm("Create", "docs", FormMethod.Post, new { id = "createform" }))
{
    @Html.AntiForgeryToken()
    <br />@Html.ValidationSummary(false, "", new { @class = "text-danger" }, "Необходимо ввести следуюшие поля")<br />
    <div id="modalRun" style="display: none"></div>
    <div class="container">
        <div class="tabbable" id="tabs">
            <div id="tabs5">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#general">Основное</a></li>
                    <li><a data-toggle="tab" href="#time">Время</a></li>
                    <li><a data-toggle="tab" href="#goods">Товары</a></li>
                    <li><a data-toggle="tab" href="#basisandtask">Задание</a></li>
                </ul>
                <div class="tab-content">
                    <div id="general" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <h4>Формирование акта таможенного досмотра (отбора проб и образцов)</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NUM, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.NUM, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NUM, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CUSTOMS, htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-4">
                                            @Html.DropDownList("CUSTOMS", null, new { @id = "ddlLocationscustomsinspection", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CUSTOMS, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Получатель</div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="input-group" style="max-width: 272px;">
                                                <label for="hiddenFieldConsigneeId">Введите организацию...</label>
                                                @Html.HiddenFor(model => model.CONSIGNEEID, new { htmlAttributes = new { @id = "hiddenFieldConsigneeId", @class = "form-control", @placeholde = "Выберите организацию...", @hidden = "hidden" } })
                                                <span class="input-group-btn">
                                                    <button id="buttonConsigneeId" class="btn btn-default" type="button" data-toggle="modal" data-target="#orgModal">Выбрать</button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CONSIGNEEID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CONSIGNEETIN, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.CONSIGNEETIN, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                                                    @Html.ValidationMessageFor(model => model.CONSIGNEETIN, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CONSIGNEENAME, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.CONSIGNEENAME, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                                                    @Html.ValidationMessageFor(model => model.CONSIGNEENAME, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CONSIGNEEADDRESS, htmlAttributes: new { @class = "control-label col-md-1", @style = "text-align: left;" })
                                                <div class="col-md-11">
                                                    @Html.EditorFor(model => model.CONSIGNEEADDRESS, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                                                    @Html.ValidationMessageFor(model => model.CONSIGNEEADDRESS, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Инспектор</div>
                                <div class="panel-body">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.INSPECTORID, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="input-group" style="max-width: 272px;">
                                                <label for="hiddenFieldConsigneeId">Введите инспектора...</label>
                                                @Html.HiddenFor(model => model.INSPECTORID, new { htmlAttributes = new { @id = "hiddenFieldConsigneeId", @class = "form-control", @placeholde = "Выберите организацию...", @hidden = "hidden" } })
                                                <span class="input-group-btn">
                                                    <button id="buttonConsigneeId" class="btn btn-default" type="button" data-toggle="modal" data-target="#inspModal">Выбрать</button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.INSPECTORID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.INSPECTORSHORTNAME, htmlAttributes: new { @class = "control-label col-md-6" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.INSPECTORSHORTNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.INSPECTORSHORTNAME, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.INSPECTORTITLE, htmlAttributes: new { @class = "control-label col-md-7" })
                                                <div class="col-md-5">
                                                    @Html.EditorFor(model => model.INSPECTORTITLE, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.INSPECTORTITLE, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.INSPECTORDEVISION, htmlAttributes: new { @class = "control-label col-md-7" })
                                                <div class="col-md-5">
                                                    @Html.EditorFor(model => model.INSPECTORDEVISION, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.INSPECTORDEVISION, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Уполномоченный представитель</div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ID, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="input-group" style="max-width: 272px;">
                                                    <label for="hiddenFieldConsigneeId">Введите представителя...</label>
                                                    @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @id = "hiddenFieldConsigneeId", @class = "form-control", @placeholde = "Выберите организацию...", @hidden = "hidden" } })
                                                    <span class="input-group-btn">
                                                        <button id="buttonConsigneeId" class="btn btn-default" type="button" data-toggle="modal" data-target="#brockerModal">Выбрать</button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.LASTNAME, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.LASTNAME, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FIRSTNAME, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.FIRSTNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.FIRSTNAME, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FATHERSNAME, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.FATHERSNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.FATHERSNAME, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PASSPORTNUMBER, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.PASSPORTNUMBER, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PASSPORTNUMBER, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PASSPORTISSUEDDATE, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.PASSPORTISSUEDDATE, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PASSPORTISSUEDDATE, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PASSPORTAUTHORITYBODY, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.PASSPORTAUTHORITYBODY, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PASSPORTAUTHORITYBODY, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PLACEOFWORK, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.PLACEOFWORK, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                                                        @Html.ValidationMessageFor(model => model.PLACEOFWORK, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.POST, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.POST, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.POST, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                                                        @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FAX, htmlAttributes: new { @class = "control-label col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.FAX, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.FAX, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Место таможенного досмотра (осмотра)</div>
                                <div class="panel-body">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CUSTOMSPLACE, "", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="input-group" style="max-width: 272px;">
                                                <label for="hiddenFieldConsigneeId">Введите место досмотра...</label>
                                                <span class="input-group-btn">
                                                    <button id="buttonConsigneeId" class="btn btn-default" type="button" onclick="$('#placeresults').empty()" data-toggle="modal" data-target="#placeModal">Выбрать</button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CUSTOMSPLACE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CUSTOMSPLACE, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CUSTOMSPLACE, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                                            @Html.ValidationMessageFor(model => model.CUSTOMSPLACE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(p => p.SIGNSSOFVIOLATIONS, htmlAttributes: new { @Value = "0" })
                    @Html.HiddenFor(p => p.CUSTOMSRESULT, htmlAttributes: new { @Value = "[Введите результаты таможенного досмотра (осмотра). Данный текст удалить впоследствии.]" })
                    <div id="basisandtask" class="tab-pane fade">
                        <div class="form-horizontal">
                            <h4>Основание и задание на досмотр</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.BASIS, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.BASIS, new { htmlAttributes = new { @class = "form-control", @tabindex = 5 } })
                                    @Html.ValidationMessageFor(model => model.BASIS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TASK, htmlAttributes: new { @class = "control-label col-md-5", @style = "text-align:left" })
                                @Html.TextAreaFor(model => model.TASK, 7, 100, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @tabindex = 6 })
                                @Html.ValidationMessageFor(model => model.TASK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="goods" class="tab-pane fade">
                        <div class="form-horizontal">
                            <h4>Товары</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.GOODSDESCRIPTION, htmlAttributes: new { @class = "control-label col-md-5", @style = "text-align:left" })
                                @Html.TextAreaFor(model => model.GOODSDESCRIPTION, 5, 100, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @tabindex = 4 })
                                @Html.ValidationMessageFor(model => model.GOODSDESCRIPTION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="time" class="tab-pane fade">
                        <div class="form-horizontal">
                            <h4>Периоды проведения таможенных операций контроля</h4>
                            <hr />
                            <div class="panel panel-default">
                                <div class=" panel-heading">Дата и время начала</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PERIODSTARTDATE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-9">
                                                    @if (Model.PERIODSTARTDATE.HasValue)
                                                    {
                                                        @Html.EditorFor(model => model.PERIODSTARTDATE, new { htmlAttributes = new { @class = "form-control time", @Value = Model.PERIODSTARTDATE.Value.ToString("yyyy-MM-dd") } })
                                                    }
                                                    else
                                                    {
                                                        @Html.EditorFor(model => model.PERIODSTARTDATE, new { htmlAttributes = new { @class = "form-control time" } })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.PERIODSTARTDATE, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PERIODSTARTTIME, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @if (Model.PERIODSTARTTIME.HasValue)
                                                    {
                                                        @Html.EditorFor(model => model.PERIODSTARTTIME, new { htmlAttributes = new { @class = "form-control time", @Value = Model.PERIODSTARTTIME.Value.ToString(@"hh\:mm") } });
                                                    }
                                                    else
                                                    {
                                                        @Html.EditorFor(model => model.PERIODSTARTTIME, new { htmlAttributes = new { @class = "form -control time" } })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.PERIODSTARTTIME, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Вернуться", "Create")
</div>

<script type="text/javascript">
    function OnSuccessInspector(data) {
        var devision = $('#INSPECTORDEVISION');
        devision.val(data.devision);
        var id = $('#INSPECTORID');
        id.val(data.id);
        var name = $('#INSPECTORSHORTNAME');
        name.val(data.name);
        var title = $('#INSPECTORTITLE');
        title.val(data.title);
        $('#inspModal').modal('hide');
    }</script>
<div class="modal fade" id="inspModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Выбор инспектора</h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("Search", "Inspector", new AjaxOptions { UpdateTargetId = "inspresults", OnSuccess = "InspectorButtonCloseShow" }))
                    {
                        <div class="input-group" style="max-width: 380px;">
                            <input type="text" class="form-control" name="name" placeholder="Введите часть фамилии ..." />
                            <div class="input-group-btn">
                                <button type="submit" onclick="$('#inspresults').empty()" class="btn btn-default">Поиск</button>
                                @Ajax.ActionLink("Создать", "PartialCreate", "Inspector", null,
                             new AjaxOptions { UpdateTargetId = "inspresults", OnSuccess= "InspectorButtonCloseHide" }, new { @class = "btn btn-default" } )
                            </div>
                        </div>
                    }
                    <div id="inspresults"></div>
                </div>
            </div>
            <div class="modal-footer" id="InspectorFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script>
    function InspectorButtonCloseHide() {
        $('#InspectorFooter').hide();
    }
</script>
<script>
    function InspectorButtonCloseShow() {
        $('#InspectorFooter').show();
    }
</script>
<script type="text/javascript">
    function ShowOrganizationModal() {
        $('#orgresults').empty();
        $("#orgModal").modal();
    }
</script>
<script type="text/javascript">
    function ShowCustomBrockerModal() {
        $('#brockerresults').empty();
        $("#brockerModal").modal();
    }
</script>
<script type="text/javascript">
    function ShowInspectorModal() {
        $('#inspresults').empty();
        $("#inspModal").modal();
    }
</script>
<script type="text/javascript">
    function OnSuccess(data) {
        var tin = $('#CONSIGNEETIN');
        tin.val(data.tin);
        var id = $('#CONSIGNEEID');
        id.val(data.id);
        var name = $('#CONSIGNEENAME');
        name.val(data.name);
        var addr = $('#CONSIGNEEADDRESS');
        addr.val(data.addr);
        $('#orgModal').modal('hide');
        $('#brockerModal').modal('show');
    }
</script>
<div class="modal fade" id="orgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Выбор организации</h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("Search", "organizations", new AjaxOptions { UpdateTargetId = "orgresults" }))
                    {
                        <div class="input-group" style="max-width: 380px;">
                            <input type="text" class="form-control" name="name" placeholder="Введите часть наименования..." />
                            <div class="input-group-btn">
                                <button type="submit" onclick="$('#orgresults').empty()" class="btn btn-default">Поиск</button>
                                @Ajax.ActionLink("Создать", "PartialCreate", "organizations", null,
                             new AjaxOptions { UpdateTargetId = "orgresults" }, new { @class = "btn btn-default" } )
                            </div>
                        </div>
                    }
                    <div id="orgresults"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="placeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Выбор места таможенного досмотра (осмотра) </h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("Search", "storage", new AjaxOptions { UpdateTargetId = "placeresults" }))
                    {
                        <div class="input-group" style="max-width: 320px;">
                            <input type="text" class="form-control" name="name" placeholder="Введите часть наименования..." />
                            <div class="input-group-btn">
                                <button type="submit" onclick="$('#placeresults').empty()" class="btn btn-default">Поиск</button>
                            </div>
                        </div>

                    }
                    <div id="placeresults"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function OnSuccessStorage(data) {
        var place = $('#CUSTOMSPLACE');
        place.val(data.storagenumber + ", " + data.storageaddress);
        $('#placeModal').modal('hide');
    }</script>

<style>
    .editors input[type='text'] {
        width: 500px;
    }
</style>

<script type="text/javascript">
    function OnSuccessBrocker(data) {
        var id = $('#ID');
        id.val(data.id);
        var firstName = $('#FIRSTNAME');
        firstName.val(data.firstName);
        var lastName = $('#LASTNAME');
        lastName.val(data.lastName);
        var fthName = $('#FATHERSNAME');
        fthName.val(data.fthName);
        var wrkPlace = $('#PLACEOFWORK');
        wrkPlace.val(data.wrkPlace);
        var address = $('#ADDRESS');
        address.val(data.address);
        var passnumber = $('#PASSPORTNUMBER');
        passnumber.val(data.passnumber);
        var passportdate = $('#PASSPORTISSUEDDATE');
        passportdate.val(data.passportdate);
        var passportauthoritybodyissue = $('#PASSPORTAUTHORITYBODY');
        passportauthoritybodyissue.val(data.passportauthoritybodyissue);
        var post = $('#POST');
        post.val(data.post);
        var phone = $('#PHONE');
        phone.val(data.phone);
        var fax = $('#FAX');
        fax.val(data.fax);
        $('#brockerModal').modal('hide');
        $('.nav-tabs li:nth-child(3) a').tab('show');
    }</script>

<div class="modal fade" id="brockerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Выбор таможенного представителя</h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("Search", "custombrockers", new AjaxOptions { UpdateTargetId = "brockerresults" }))
                    {
                        <div class="input-group" style="max-width: 380px;">
                            <input type="text" class="form-control" name="lastName" placeholder="Введите часть фамилии..." />
                            <div class="input-group-btn">
                                <button type="submit" onclick="$('#brockerresults').empty()" class="btn btn-default">Поиск</button>
                                @Ajax.ActionLink("Создать", "PartialCreate", "custombrockers", null,
                             new AjaxOptions { UpdateTargetId = "brockerresults" }, new { @class = "btn btn-default" } )
                            </div>
                        </div>

                    }
                    <div id="brockerresults"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var modalRun = document.getElementById('CONSIGNEEID');
            var modalRunValue = modalRun == null ? "" : modalRun.value;
            if (modalRunValue == 0) {
                $('#orgModal').modal('show');
            }
        });
    </script>
}
<style>

    #orgModal {
        overflow-y: scroll;
    }

    #brockerModal {
        overflow-y: scroll;
    }
</style>
<script>
    var focusedElement;

    function checkTabPress(e) {
        'use strict';

        if (e.keyCode === 9) {
            if (focusedElement != null) {
                $('.nav-tabs li:nth-child(4) a').tab('show');
                focusedElement = null;
            }

        }
    }
    document.addEventListener('keyup', function (e) {
        checkTabPress(e);
    }, false);

    var listenedElement = document.getElementById('GOODSDESCRIPTION');
    listenedElement.addEventListener('focus', function () {
        focusedElement = this;
    })
</script>
