﻿@model Focus.SSO.Models.Vehicle

<div>
    <div class="modal-body">
        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
        <h5>Сведения о транспортном средстве</h5>
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "vehicleEditAccept" }))
        {
            @Html.AntiForgeryToken()
            <p>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.VEHICLEID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.VEHICLEKINDID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("VEHICLEKINDID", null, "-- Вид транспорта --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VEHICLEKINDID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.COUNTRYCODE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("COUNTRYCODE", null, "-- Страна регистрации --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.COUNTRYCODE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MARK, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MARK, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MARK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MODEL, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MODEL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MODEL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.REGNUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.REGNUMBER, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.REGNUMBER, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </p>
            <div class="modal-footer justify-content-center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ОК" class="btn btn-warning" />
                        <input type="button" value="Отмена" class="btn btn-default" onclick="$('#vehicleEditModal').modal('hide');" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
