﻿@model Focus.Web.Models.Device

<div class="container body-content">

    @{
        ViewBag.Title = "Delete";
    }

    <h2>Delete</h2>

    <h3>Вы уверены, что хотите удалить?</h3>
    <div>
        <h4>device</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MARK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MARK)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MODEL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MODEL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SERIALNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SERIALNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CALLIBRATION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CALLIBRATION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSOFSCALES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSOFSCALES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSOFCAMERA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSOFCAMERA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHONE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHONE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEVICETYPE.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEVICETYPE.NAME)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Вернуться к списку", "Index")
            </div>
        }
    </div>

</div>