﻿@model Focus.Web.Models.Device

<div class="container body-content">

    @{
        ViewBag.Title = "Детали";
    }

    <h2>Детали</h2>

    <div>
        <h4>device</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MARK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MARK)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MODEL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MODEL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SERIALNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SERIALNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CALLIBRATION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CALLIBRATION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSOFSCALES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSOFSCALES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSOFCAMERA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSOFCAMERA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHONE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHONE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEVICETYPE.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEVICETYPE.NAME)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.DEVICEID }) |
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>

</div>