﻿@model IEnumerable<Focus.Web.Models.Device>

<div class="container body-content">

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MARK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERIALNUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CALLIBRATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PARAMETERSOFSCALES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PARAMETERSOFCAMERA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEVICETYPE.NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERIALNUMBER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CALLIBRATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARAMETERSOFSCALES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARAMETERSXRAYCOMPLEXES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARAMETERSOFCAMERA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEVICETYPE.NAME)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.DEVICEID }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.DEVICEID }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.DEVICEID })
                </td>
            </tr>
        }

    </table>

</div>