﻿@model Focus.Web.Models.Device


<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <h5>Вы действительно желаете удалить это ТСТК?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MARK)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MARK)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MODEL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MODEL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CALLIBRATION)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CALLIBRATION)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PARAMETERSOFSCALES)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PARAMETERSOFSCALES)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PARAMETERSXRAYCOMPLEXES)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PARAMETERSXRAYCOMPLEXES)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PARAMETERSOFCAMERA)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PARAMETERSOFCAMERA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PHONE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PHONE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DEVICETYPE.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DEVICETYPE.NAME)
                    </dd>

                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "deviceDeleteAccept" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="OnDeviceDeleted(@Model.DEVICEID);" />
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#deviceDeleteModal').modal('hide')" />
            </div>
        }
    </div>
</div>

