﻿@model IEnumerable<Focus.Web.Models.Device>

<table class="table" id="serchDeviceTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODEL)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.NAME).ToString(), "JsonOrg", "Device",
                        new { id = item.DEVICEID },
                        new AjaxOptions { OnSuccess = "OnSuccessDevice" },
                        new { @class = "deviceActionLink", onclick = "Disabling('serchDeviceTable');" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODEL)
            </td>
        </tr>
    }

</table>
<div class="modal-footer" id="deviceModalCloseButton">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
<!--Disabling and enabling elements-->
<script>
    function Disabling(string) {
        var element = document.getElementById(string);
        element.setAttribute('disabled', 'true');
    }
    function Enabling(string) {
        var element = document.getElementById(string);
        element.removeAttribute('disabled');
    }
</script>

