﻿@model Focus.Web.Models.Organization


<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5>Вы действительно желаете удалить сведения об этой организации в документе?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UNP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ADDRESS)
                    </dt>
                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "organizationDeleteAccept" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#organizationDeleteModal').modal('hide')" />
            </div>
        }
    </div>
</div>
