﻿@model Focus.Web.Models.Organization

    <hr />
    <div class="text-danger"><b>ОШИБКА.</b></div>
    <p><b>Организация с УНП @Html.DisplayFor(model => model.UNP) и наименованием @Html.DisplayFor(model => model.NAME) уже присутствует в базе данных.</b></p>
    <p><b>Повторное добавление организации с указанными УНП и наименованием не представляется возможным.</b></p>