﻿@model Focus.Web.Models.Organization

    <hr />
    <div class="text-danger"><b>ОШИБКА.</b></div>
    <p><b>Организация с наименованием @Html.DisplayFor(model => model.NAME) (УНП @Html.DisplayFor(model => model.UNP)) уже присутствует в базе данных.</b></p>
    <p><b>Повторное добавление организации с указанным наименованием не представляется возможным.</b></p>