﻿@model IEnumerable<Focus.Web.Models.Organization>

<br />
<p><b>Нажмите на нужное наименование для выбора организации</b></p>
<table class="table" id="searchOrganizationTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        @if ((bool)(ViewBag.IsAuditor ?? false) || (bool)(ViewBag.IsAdmin ?? false))
        {
            <th>
                @Html.DisplayName("Операции")
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.UNP).ToString(), "JsonOrg", "organizations",
                new { id = item.ORGANIZATIONID},
                new AjaxOptions { OnSuccess = "OnSuccess" })

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        @if ((bool)(ViewBag.IsAuditor ?? false) || (bool)(ViewBag.IsAdmin ?? false)) {
        <td>
            @Html.ActionLink("Аудит", "Organization", "Audit", new { id = item.ORGANIZATIONID }, new { @target = "_blank" })
        </td>
        }
        </tr>
    }

</table>
<div class="modal-footer" id="orgModalCloseButton">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>

