﻿
<style>
    .img {
        border: 1px solid #000000;
    }

    .leftfoto {
        float: left;
        margin: 4px 10px 2px 0px;
    }

    .rightfoto {
        float: right;
        margin: 4px 0px 2px 10px;
    }
</style>

<div class="container body-content">
    <br /><p class="title"><a href="\">Главная страница</a></p>
    <p class="title"><a href="\Help\ListHelp">Список справочных материалов</a></p>
    <p class="boldtitle">Создать новую организацию в БД КПС «Focus»</p>
    <p class="helptext">
        Данная страница предназначена для добавления организации в БД КПС «Focus».
    </p>
    <p class="title"><b>Добавление новой организации</b> </p>


    <p class="helptext">
        <b>1. </b>Нажмите кнопку <b><i>«Добавить организацию»</i></b>, после чего откроется окно, указанное ниже.
        <img src="@Url.Content("~/Pictures/6.jpg")" alt="Рисунок 1" class="img">
    </p>
    <p class="helptext">
        <b>2.</b> Нажмите кнопку <b><i>«Создать»</b></i>, после чего откроется окно, указанное на рисунке.
        <img src="@Url.Content("~/Pictures/7.jpg")" alt="Рисунок 2" class="img"><br><br>

    </p>
    <p class="helptext">
        <b>3.</b> Введите сведения о получателе в поля.
        Обязательными для заполнения являются следующие поля:<br>
        -	УНП;<br>
        -	Название;<br>
        -	Адрес;<br>
        -	Страна.<br>
        Желательно ввести также дополнительные данные: телефон, факс, Email в целях сокращения в дальнейшем времени на анализ данных в КПС «Focus».
    </p>


    <p class="helptext">

        <b>4.</b> После завершения ввода данных нажмите кнопку <b><i>«Создать»</i></b>.

    </p>

    <p class="helptext">
        <b>5.</b>Сведения о введенной организации добавятся в БД КПС «Focus». Факт добавление в БД подтверждает то,
        что сведения о добавленной организации появятся в поле окна «Выбор организации», и будут доступны через функции поиска
        организации по части ее наименования.

    </p>
    <img src="@Url.Content("~/Pictures/8.jpg")" alt="Рисунок 3" class="img">
    <p class="helptext">
        <b>6.</b>Нажмите на гиперссылку с названием организации и сведения добавятся.

    </p>
</div>

