﻿<title>Создать акт таможенного досмотра (осмотра) </title>

<style>
    .img {
        width: 100%;
        align: middle;
    }

    .text {
        font-family: Times New Roman;
        font-size: 170%;
        color: red;
    }

    .leftfoto {
        float: left;
        margin: 4px 10px 2px 0px;
    }

    .rightfoto {
        float: right;
        margin: 4px 0px 2px 10px;
    }
</style>

<div class="container body-content">
    <p class="helptext" text-align="center">
        <h1 style="text-align:center"><b>Описание проекта</b></h1><br />

        <img src="@Url.Content("~/Pictures/Description.jpg")" alt="Рисунок 1" class="img">
    </p>

    <p class="text">
        Правовые основания действий

    </p>

    <p class="helptext">
        <b>
            1. Затребования доверенности <br>
            Закон «О таможенном регулировании в Республике Беларусь»  от 10 января 2014 г.
            N 129-З,  статья 13, часть 5.
        </b> <i>
            Таможенные органы для выполнения возложенных на них функций вправе: ….
            требовать от физических и юридических лиц <b> подтверждения полномочий</b>  на совершение
            определенных действий или осуществление определенной деятельности в сфере таможенного дела.
        </i>
    </p>

    <p class="helptext">
        <b>
            2. Затребования паспорта <br>

            Закон «О таможенном регулировании в Республике Беларусь»  от 10 января 2014 г.
            N 129-З,  статья 13, часть 4.
        </b> <i>
            Таможенные органы для выполнения возложенных на них функций вправе: ….
            проверять у физических лиц и должностных лиц, участвующих в совершении таможенных операций, <b>
                документы, удостоверяющие их личность.
            </b>
        </i>

    </p>
    <p class="helptext">

        <b>
            3. Сбора и хранения паспортных данных <br>

            Таможенный Кодекс ЕврАзЭС,  статья 361, пункт 5.
        </b><i>
            Таможенные органы вправе проводить сбор
            информации о лицах, осуществляющих внешнеэкономическую деятельность, связанную с
            перемещением товаров через таможенную границу Союза, …, включая сведения:
            10) о физических лицах: персональные данные (фамилия, имя, отчество (при наличии), дата и место
            рождения, пол, адрес места жительства, реквизиты документа, удостоверяющего личность…
        </i>
        </b>
    </p>

    <p class="text">
        Правовые основания использования ПО

        <img src="@Url.Content("~/Pictures/Low.jpg")" alt="Рисунок 1" class="img">
    </p>

    <p class="text">
        Правовые основания использования ПО

    </p>
    <p class="helptext">

        Одной из целей внедрения ПО Focus является минимизация угроз собственной безопасности. <br>
        Невыполнение данного приказа является неисполнением или ненадлежащим исполнением должностным лицом,
        работником (трудовых обязанностей) и является информацией, влияющей на обеспечение собственной безопасности таможни,
        и согласно <b>
            2.2 и 2.3 приказа ГТК №200-ОД от 01.06.2018 «Об обеспечении собственной безопасности таможенных органов
            Республики Беларусь»
        </b> должна быть использована для информирования руководства подразделений и начальника
        таможни для принятия соответствующих мер.

    </p>
    <p class="text">
        Технические аспекты использования ПО

    </p>
    <p class="helptext">
        1. Для работы нужен только Интернет-браузер Chrome. <br>
        2. Для входа в программу надо ввести текст в адресную строку:  <b><a href="https:\focus.mrt.customs.gov.by">https://focus.mrt.customs.gov.by</a></b><br>
        3. Зайти в ПО можно с любого компьютера. <br>
        4. Разработано 3 эксплуатационных документа для упрощения работы с ПО, общим объемом – <b>50 листов</b>.</p>
        <div style="margin-left: 40px" class="helptext">
            • Руководство пользователя КПС «Focus». <br>
            • Памятка по использованию программы «Focus». <br>
            • Инструкция по работе с ПО. <br>
        </div>
    <p class="helptext">
        Все документы оснащены рисунками и схемами применения.
    </p>
    <p class="text">Организационные аспекты использования ПО </p>
    <p class="helptext">
        1. Для доступа направляется докладная записка.<br>
        2. Ведется создание учетных записей и консультация.
    </p>
    <p class="text">Контакты: </p>
    <p class="helptext">
        1. Телефон:<br>
        <b>
            500 17 37<br>
            +375 29 606 12 90
        </b><br>
        2. Ведомственный Email: <br>
        <b><a href="mailto:GolubVI@mrt.customs.gov.by">GolubVI@mrt.customs.gov.by</a>.</b><br>

    </p>
</div>
