﻿<html>

<head>
    <title>Уполномоченные представители</title>

    <style>
        .img {
            border: 1px solid #000000;
        }

        .leftfoto {
            float: left;
            margin: 4px 10px 2px 0px;
        }

        .rightfoto {
            float: right;
            margin: 4px 0px 2px 10px;
        }
    </style>

</head>


<body>
    <p class="helptext">

        Данная страница предназначена для осуществления поиска сведений
        о физических лицах, участвующих в совершении таможенных процедур, а также уполномоченных
        представителей в БД КПС «Focus» .
    </p>

    <p>
        <h4>Проверка полномочий физических лиц </h4>
    </p>

    <p class="helptext">
        <b>1. </b>Для начала поиска необходимо нажать на кнопку <b><i>«Найти»</i></b>, после чего откроется следующее окно.
    </p>

    <img class="img leftfoto" src="@Url.Content("~/Pictures//1.jpg")" alt="Рисунок 1">




    <p class="helptext">
        <b>2.</b> Введите семизначный номер цифровой части номера паспорта в поле, затем на кнопку <b><i>«Поиск»</i></b>.
        <br>


        В случае если вводимый номер не будет содержать точно <b>7 цифровых символов</b>, то появится сообщение об ошибке.

        <br>
        Также строка поиска <b>не может быть пустой</b>, иначе появится сообщение об ошибке.
        </br>
        В случае, если в БД КПС «Focus» отсутствуют сведения о физическом лице, необходимо добавить новые сведения.
    </p>
    <p class="helptext">
        <b>3.</b> В случае, если в БД КПС «Focus» присутствуют сведения о физическом лице, цифровая часть номера паспорта которого соответствует введенным
        цифрам, то появится следующее сообщение.
        <br>
        <img class="img " src="@Url.Content("~/Pictures//2.jpg")" alt="Рисунок 2">
    </p>
    <p class="helptext">
        <b>4.</b> Нужно нажать на гиперссылку с фамилией.
        <br>
        В случае, если в БД КПС «Focus» присутствуют сведения о полномочиях указанного физического лица,
        то откроется следующее окно.
        <br>
        <img class="img" src="@Url.Content("~/Pictures//3.jpg")" alt="Рисунок 3">
    </p>
    <p class="helptext">
        <b>5.</b>	Для просмотра персональных данных физического лица нажмите гиперссылку <b><i>"Сведения об уполномоченном представителе..."</i></b>.
        Раскроется окно с информацией.

        <br>Для просмотра полномочий физического лица по конкретной организации, необходимо нажать на гиперссылку этой организации.
    </p>




</body>

</html>

