﻿<html>

<head>
    <title>Создать акт таможенного досмотра (осмотра) </title>

    <style>
        .border {
            border: 1px solid #000000;
        }

        .leftfoto {
            float: left;
            margin: 4px 10px 2px 0px;
        }

        .rightfoto {
            float: right;
            margin: 4px 0px 2px 10px;
        }
    </style>

</head>

<body>
    <p  class="helptext">
	Данная страница предназначена для регистрации новых таможенных досмотров. 
	<br>
	</p>
   
        
</body>

</html>

