﻿
<style>
    .img {
        border: 1px solid #000000;
    }

    .leftfoto {
        float: left;
        margin: 4px 10px 2px 0px;
    }

    .rightfoto {
        float: right;
        margin: 4px 0px 2px 10px;
    }
</style>


    <p class="helptext">
        Данная страница предназначена для добавления новых документов в БД КПС «Focus» .
    </p>
    <p class="helptext">
        <b>1. </b>Нажмите кнопку <b><i>«Добавить новый документ»</i></b>, после чего откроется следующее окно.

        <img src="@Url.Content("~/Pictures/1.1.jpg")" alt="Рисунок 1" class="img">
    </p>
    <p class="helptext">
        <b>2.</b> Необходимо заполнить сведения о новом подтверждающем документе. <br>
        Выбрать вид документа:<br>
        - Доверенность.<br>
        - Письмо.<br>
        - Приказ.<br>
        - Договор поручения.<br>
        - Свидетельство о регистрации.

    </p>
    <p class="helptext">
        <b>3.</b> Заполнить поле "Номер документа."
    </p>

    <p class="helptext">
        <b>4. </b> Выбрать дату регистрации документа. <br>
        Введите в поле «Дата регистрации документа» дату регистрации документа.
        Дату можно ввести вручную либо вызвать и ввести дату с использованием инструмента календарь,
        для чего нажать треугольник, появляющийся при наведении на правый верхний край указанного поля манипулятора ввода-вывода «мышь», как указано на рисунке ниже.
        <img src="@Url.Content("~/Pictures/1.2.jpg")" alt="Рисунок 2" class="img">

    </p>




    <p class="helptext">
        <b>5. </b>Добавить организацию.
    </p>
    <p class="helptext">
        <b>6. </b>Добавить разрешение.
    </p>
    <p class="helptext">

        <b>7. </b>Нажать кнопку <b><i>«Создать»</b></i>.
    </p>