﻿
@{
    ViewBag.Title = "SmallDocCreate";
}
<html>

<head>
    <title>Создать акт таможенного досмотра (осмотра) </title>

    <style>
        .img {
            border: 1px solid #000000;
        }

        .leftfoto {
            float: left;
            margin: 4px 10px 2px 0px;
        }

        .rightfoto {
            float: right;
            margin: 4px 0px 2px 10px;
        }
    </style>

</head>

<body>
    <p class="helptext">
        <b>1. </b>Нажмите кнопку <b><i>«Добавить новый досмотр»</i></b>, после чего откроется окно, указанное ниже.

        <img class="img" src="@Url.Content("~/Pictures/11.jpg")" alt="Рисунок 1">
    </p>
    <p class="helptext">

        <b>2. </b> Введите часть наименования организации, по которому будет производиться контекстный поиск
        организации в БД КПС «Focus» и нажмите кнопку <b><i>«Поиск»</b></i>. В поисковом
        окне появятся сведения об организациях (ии), наименования (е) которых (ого) содержит введенный в поисковую
        строку текст.

        <br><img src="@Url.Content("~/Pictures/12.jpg")" alt="Рисунок 2" class="img rightfoto">
    </p>
    <p class="helptext">
        <b>3. </b>В случае если в БД КПС «Focus» ни одна из организаций не соответствует критериям поиска,
        существует возможность в рамках интерфейса, добавить новую организацию в
        БД КПС «Focus», для чего необходимо выполнить действия, приведенные в подпункте
        3.6.2.4 пункта 3 настоящего документа руководства пользователя.

    </p>
    <p class="helptext">
        <b>4. </b>
        Нажмите на значение УНП найденной организации, представленной в поисковом диалоговом окне в виде
        гиперссылки. В результате выполнения указанных действий, сведения о выбранной организации появятся
        на странице добавления таможенных документов.


    </p>
    <p class="helptext">
        <b>5. </b>После того, как данные об организации будут добавлены, появится новое диалоговое окно, показанное на рисунке 3,
        где необходимо произвести выбор уполномоченного представителя.
        <br>

        <img src="@Url.Content("~/Pictures/13.jpg")" alt="Рисунок 2" class="img">
    </p>
    <p class="helptext">
        <b>6. </b>В окне введите в поле часть фамилии физического лица,
        наделяемого полномочиями, и нажмите кнопку <b><i>«Поиск»</b></i>.
        <br>

        <img src="@Url.Content("~/Pictures/12.jpg")" alt="Рисунок 3" class="img rightfoto">
    </p>
    <p class="helptext">
        <b>7. </b>
        В случае если в БД КПС «Focus» содержатся сведения о физических лицах, фамилии которых содержат текст, введенный в
        текстовое поисковое поле, то форма примет вид, указанный на рисунке 4.
        <br>В нашем случае
        будут выведены сведения обо всех физических лицах, в фамилиях которых присутствует текст «голу». <br>

        <img src="@Url.Content("~/Pictures/14.jpg")" alt="Рисунок 4" class="img">
    </p>
    <p class="helptext">
        <b>8. </b>
        В случае если в БД КПС «Focus» ни одно из физических лиц не соответствует критериям поиска, существует возможность
        в рамках интерфейса добавить новые сведения о физическом лице в БД КПС «Focus», для
        чего необходимо выполнить действия, приведенные в подпункте 3.6.2.3 пункта 3 настоящего документа руководства пользователя.



    </p>
    <p class="helptext">
        <b>9. </b>После заполнения сведений о физическом лице, наделяемом полномочиями,
        появится новое диалоговое окно, представленное на рисунке 5.
        <br> Необходимо заполнить окно <i>«Описание товара» </i> на вкладке<i> «Товары»</i>, где необходимо указать информацию о товаре.
        <br>

        <img src="@Url.Content("~/Pictures/15.jpg")" alt="Рисунок 5" class="img rightfoto">

    </p>
    <p class="helptext">
        <b>10. </b>На вкладке «Основное» при необходимости можно выбрать место
        таможенного досмотра (осмотра).
        <br>Обычно место выбирается автоматически, но при необходимости данные можно изменить, нажав на кнопку <b><i>«Введите место досмотра… Выбрать»</b></i>.

        <br>
        Появится диалоговое окно, в котором можно произвести поиск по названию места.
        Далее нажать на гиперссылку необходимого места.


    </p>
    <p class="helptext">
        <b>11. </b>При необходимости можно перейти на вкладку <i>«Время»</i>.
        <br>
        Появится окно, в котором можно выбрать периоды проведения таможенных операций контроля. Периоды обычно выбираются автоматически.
    </p>
    <p class="helptext">
        <b>12. </b>Далее перейти на вкладку <i>«Задание»</i>. Появится окно, в котором необходимо заполнить данные:
        <i> «Основание» и «Задание»</i>.<br>

        <img src="@Url.Content("~/Pictures/16.jpg")" alt="Рисунок 6" class="img rightfoto">
    </p>
    <p class="helptext">
        <b>13. </b>После заполнения всех сведений, необходимо нажать кнопку <b><i>«Создать»</b></i>.
        <br> Сведения о добавленных документах появятся в базе в конце страницы.</b></i>
    </p>
</body>

</html>

