﻿<style>
    .img {
        width: 70%;
        align: middle;
    }

    .text {
        font-family: Times New Roman;
        font-size: 150%;
        color: red;
    }

    .leftfoto {
        float: left;
        margin: 4px 10px 2px 0px;
    }

    .rightfoto {
        float: right;
        margin: 4px 0px 2px 10px;
    }
</style>

<div class="container body-content">
    <br /><p class="title"><a href="\">Главная страница</a></p>
    <p class="title"><b>Список справочных материалов</b></p>

    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("redactor") || User.IsInRole("admin") || User.IsInRole("inspection"))
        {
            <p class="helptext">
                1.

                <a href="\Help\DocCreate">
                    Добавление акта таможенного досмотра (осмотра).
                </a>
            </p>

            <p class="helptext" text-align="center">
                2.
                <a href="\Help\SmallCustomBrockersCreate">
                    Поиск сведений о физических лицах, участвующих в совершении
                    таможенных процедур, а также уполномоченных представителей.
                </a>
            </p>

            <p class="helptext" text-align="center">
                3.
                <a href="\Help\NewDocs">
                    Добавление новых документов в БД КПС «Focus» (Доверенность, письмо, приказ, договор поручения, свидетельство о регистрации).
                </a>
            </p>


            <p class="helptext" text-align="center">
                4.
                <a href="\Help\CreateCompany">
                    Добавление организации в БД КПС «Focus».
                </a>
            </p>


            <p class="helptext" text-align="center">
                5.
                <a href="\Help\CreateResolution">
                    Добавление нового разрешения в БД КПС «Focus».
                </a>
            </p>
        }
        else
        {
           
            <p class="helptext" text-align="center">
                1.
                <a href="\Help\SmallCustomBrockersCreate">
                    Поиск сведений о физических лицах, участвующих в совершении
                    таможенных процедур, а также уполномоченных представителей.
                </a>
            </p>

            <p class="helptext" text-align="center">
                2.
                <a href="\Help\NewDocs">
                    Добавление новых документов в БД КПС «Focus» (Доверенность, письмо, приказ, договор поручения, свидетельство о регистрации).
                </a>
            </p>


            <p class="helptext" text-align="center">
                3.
                <a href="\Help\CreateCompany">
                    Добавление организации в БД КПС «Focus».
                </a>
            </p>


            <p class="helptext" text-align="center">
                4.
                <a href="\Help\CreateResolution">
                    Добавление нового разрешения в БД КПС «Focus».
                </a>
            </p>
        }
    }







    <p class="text">Контакты: </p>
    <p class="helptext">
        1. Телефон:<br>
        <b>
            500 17 37<br>
            +375 29 606 12 90
        </b><br>
        2. Ведомственный Email: <br>
        <b>GolubVI@mrt.customs.gov.by. </b><br>

    </p>

</div>
