﻿<html>

<head>
    <title>Формирование разрешения</title>
    <style>
        .img {
            border: 1px solid #000000;
        }

        .leftfoto {
            float: left;
            margin: 4px 10px 2px 0px;
        }

        .rightfoto {
            float: right;
            margin: 4px 0px 2px 10px;
        }
    </style>
</head>
<body>
    <p class="helptext">
        Данная страница предназначена для добавления нового разрешения в БД КПС «Focus» .
    </p>
    <h3>Добавление нового разрешения </h3>
    <p class="helptext">
        <b>1. </b>Нажмите кнопку <b><i>«Добавить разрешение»</i></b>, после чего откроется окно.
        <img src="@Url.Content(" ~/Pictures/9.1.jpg")" alt="Рисунок 1" class="img">
    </p>
    <p class="helptext">
        <b>2.</b> <b>2. </b> Нажмите кнопку <b><i>«Добавить уполномоченного представителя»</i></b>,
        после чего откроется окно.
        <img src="@Url.Content(" ~/Pictures/10.1.jpg")" alt="Рисунок 2" class="img">
    </p>
    <p class="helptext">

        <b>3.</b> В окне, приведенном на рисунке, введите в поле часть фамилии физического лица,

        наделяемого полномочиями, и нажмите кнопку <b><i>«Поиск»</i></b>.
    </p>
    <p class="helptext">
        <b>4. </b> В случае если в БД КПС «Focus» содержатся сведения о физических лицах, фамилии которых содержат текст,
        введенный в текстовое поисковое поле, то форма примет следующий вид (пример поска по фимилии"голу"). <br /><br />
        <img src="@Url.Content(" ~/Pictures/11.1.jpg")" alt="Рисунок 3" class="img">

    </p>
    <p class="helptext">
        <b>5. </b>В случае если в БД КПС «Focus» ни одно из физических лиц не соответствует критериям поиска, существует возможность в рамках
        интерфейса, нужно добавить новые сведения о физическом лице в БД КПС «Focus».
    </p>
    <p class="helptext">
        <b>6. </b>Нажмите кнопку <b><i>«Создать»</i></b>, появится следующее окно.
        <img src="@Url.Content(" ~/Pictures/12.1.jpg")" alt="Рисунок 4" class="img">
    </p>
    <p class="helptext">
        <b>7. </b> Введите сведений о физическом лице в поля. Обязательными для заполнения являются следующие поля:<br />
        - фамилия;<br>
        - имя;<br>
        - отчество;<br>
        - адрес;<br>
        - страна;<br>
        - место работы;<br>
        - должность;<br>
        - номер паспорта;<br>
        - дата выдачи (паспорта);<br>
        - орган выдачи (паспорта).<br>
        Желательно ввести также дополнительную информацию в целях сокращения в дальнейшем времени на анализ данных в КПС «Focus»:<br>
        - телефон;<br>
        - факс;<br>
        - Email.<br>
    </p>
    <p class="helptext">
        <b>8. </b>После завершения ввода данных нажмите кнопку <b><i>«Создать»</i></b>.<br>
        Сведения о введенном физическом лице добавятся в БД КПС «Focus». Факт добавление в БД подтверждает то,
        что сведения о добавленном физическом лице появятся в поле окна «Выбор таможенного представителя».
        <img src="@Url.Content(" ~/Pictures/13.1.jpg")" alt="Рисунок 5" class="img"  height="50%">

    </p>
    <p class="helptext">
        <b>9. </b>Необходимо нажать на гиперссылку с фамилией представителя и данные добавятся.
    </p>

    <p class="helptext">
        <b>10. </b>Введите данные о начале и завершение периода действия полномочий выбранного физического лица, в поля периода полномочий.
        Даты в указанные поля могут быть введены вручную либо с использованием инструмента календарь,
        для чего необходимо нажать
        треугольник, появляющийся при наведении на правый верхний край указанных полей мышью, как указано на рисунке.
    </p>
    <img src="/Pictures/14.1.jpg" alt="Рисунок 6" class="img">
    <p class="helptext">
        <b>11. </b>Нажать на кнопку <b><i>«Добавить уполномоченного представителя»</i></b>.
    </p>
</body>

</html>

