﻿

<div class="container body-content">
    <br />
    <p class="boldtitle">Версии ПО «Focus»</p>

    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, tr {
            border: 1px solid black;
            background-color: lightgray;
            font-family: Times New Roman;
            font-size: 110%;
            padding-left: 10px;
        }

        th {
            height: 50px;
        }

        .text {
            margin: 500px;
        }
    </style>


    <table style="table helptext">

        <tr class="helptext">
            <b>
                <th>
                    № версии
                </th>
                <th>
                    Описание версии, изменений
                </th>
            </b>
        </tr>
        <tr>
            <th>
                0.8.1.1 от 06.12.2019
            </th>
            <th>
                Доработан интерфейс администрирования пользователей.
            </th>
        </tr>
        <tr>
            <th>
                0.8.1.1 от 30.10.2019
            </th>
            <th>
                Исправление ошибок со входом в систему и создание АТД, оптимизация административного интерфейса, изменение пользовательского интерфейса.
            </th>
        </tr>
        <tr>
            <th>
                0.8.0.10 от 21.10.2019
            </th>
            <th>
                Блокировка пользователей при трех неудачных попытках входа в систему либо при отсутствии действий пользователя в течение более чем 45 дней.
            </th>
        </tr>
        <tr>
            <th>
                0.8.0.9 от 18.10.2019
            </th>
            <th>
                Аудит действий пользователей.

            </th>
        </tr>
        <tr>
            <th>
                0.8.0.8 от 25.08.2019
            </th>
            <th>
                Добавление пагинации (постраничного вывода) для списка актов таможенного досмотра.
            </th>
        </tr>
        <tr>
            <th>
                0.8.0.6 от 22.08.2019
            </th>
            <th>
                Исправление ошибок, связанных с:
                <ul>
                    <li>распечаткой документации при оформлении акта отбора проб (образцов);</li>
                    <li>добавлением начальника отдела, принимающего решение о проведении экспертизы.</li>
                </ul>
            </th>
        </tr>
        <tr>
            <th>
                0.8.0.5 от 21.08.2019
            </th>
            <th>
                Добавление справочной информации. Редизайн главной страницы.
            </th>
        </tr>
        <tr>
            <th>
                0.0.0.0 - 0.8.0.4 до 20.08.2019
            </th>
            <th>
                <i>Реализация функционала предыдущих версий.</i>
            </th>
        </tr>
    </table>
</div>
