﻿@model Focus.SSO.Models.Inspector

@{
    ViewBag.Title = "Delete";
    
}

<h2>Delete</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>inspector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FATHERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FATHERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHORTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHORTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LNP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LNP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONENUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONENUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST.CODE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
