﻿@model IEnumerable<Focus.SSO.Models.Inspector>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SHORTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.SHORTNAME).ToString(), "JsonOrg", "Inspector",
                        new { id = item.ID },
                        new AjaxOptions { OnSuccess = "OnSuccessInspector" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
        </tr>
    }

</table>


