﻿@model IdentityMySQLDemo.Models.IndexViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Измените пароль", "ChangePassword", null, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
    </dl>
</div>
