﻿@model IEnumerable<Focus.Web.Models.Report>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PASSPORTNUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUSTOMBROCKERID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NUMBER_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FULLNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PASSPORTNUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUSTOMBROCKERID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMBER_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FULLNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_UPDATE)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.REPORTID }) |
                @Html.ActionLink("Детали", "Details", new { id=item.REPORTID }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.REPORTID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
