﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Блокировка";
}

<div class="container body-content">
    <hgroup>
        <h1 class="text-danger">Блокировка аккаунта.</h1>
        <h2 class="text-danger">Этот аккаунт заблокирован. Попробуйте зайти позднее.</h2>
    </hgroup>
</div>
