﻿@{
    ViewBag.Title = "Домашняя страница";
}

<div class="container body-content">
    <div class="jumbotron">
        <h1>ТАМОЖЕННЫЙ КОНТРОЛЬ</h1>
        <p class="lead">ТАМОЖЕННЫЙ КОНТРОЛЬ - формирование актов таможенного досмотра (осмотра), актов отбора проб и образцов.</p>
        <p><a href="/Help/Description" class="btn btn-primary btn-lg">Подбробнее &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><a href="\docs\Index" class="btn btn-lg btn-block btn-primary">Контроль</a></h2>
            <p>
                ТАМОЖЕННЫЙ КОНТРОЛЬ за счет автоматизированного контроля вводимой информации, повторного использования информации. Обеспечивает значительное сокращение
                времени проведения операций таможенного контроля, исключение ошибок, как технического, так и логического характера.
            </p>
            <p><a class="btn btn-default" href="/Help/DocCreate">Подбробнее &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><a href="\custombrockers\Index" class="btn btn-lg btn-block btn-primary">Представители</a></h2>
            <p>
                СНИЖАЕТ временные задержки на проверку полномочий физических лиц на совершение определенных действий в сфере таможенного дела
                за счет хранение доверенностей и данных о физических лицах в электронном виде.
            </p>
            <p><a class="btn btn-default" href="/Help/SmallCustomBrockersCreate">Подбробнее &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><a href="\documents\index" class="btn btn-lg btn-block btn-primary">Документы</a></h2>
            <p>
                МИНИМИЗИРУЕТ временные затраты на ввод данных о доверенностях физических лиц
                за счет получения информации из баз данных организаций и физических лиц, участвующих в определенных действиях
                в сфере таможенного дела, исключает ошибки ввода.
            </p>
            <p><a class="btn btn-default" href="/Help/NewDocs">Подбробнее &raquo;</a></p>
        </div>
    </div>
</div>