﻿@model Focus.SSO.Models.Device


<!--Body-->
<div class="modal-body">
    <div class="text-left">
        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
        <h5 class="text-danger">Сведения об ТСТК изменены</h5>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MARK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MARK)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MODEL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MODEL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CALLIBRATION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CALLIBRATION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSOFSCALES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSOFSCALES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSXRAYCOMPLEXES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PARAMETERSOFCAMERA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PARAMETERSOFCAMERA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PHONE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHONE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.devicetype.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.devicetype.NAME)
            </dd>

        </dl>
    </div>
</div>
<!--Footer-->
<div class="modal-footer justify-content-center">
    @using (Ajax.BeginForm("Json", "Device", new { id = Model.DEVICEID }, new AjaxOptions() { OnSuccess = "OnEditDeviceNotification" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ОК" class="btn btn-primary" />
        </div>
    }
</div>

