﻿
@model Focus.SSO.Models.Device

@using (Ajax.BeginForm("PartialCreate", new AjaxOptions { UpdateTargetId = "deviceResults"}))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>ТСТК</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.DEVICETYPEID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DEVICETYPEID", null, "-- Тип ТСТК --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DEVICETYPEID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MARK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MARK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MARK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MODEL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MODEL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MODEL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CALLIBRATION, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CALLIBRATION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CALLIBRATION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PARAMETERSOFSCALES, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PARAMETERSOFSCALES, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PARAMETERSOFSCALES, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SERIALNUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SERIALNUMBER, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SERIALNUMBER, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PARAMETERSXRAYCOMPLEXES, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PARAMETERSXRAYCOMPLEXES, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PARAMETERSXRAYCOMPLEXES, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PARAMETERSOFCAMERA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PARAMETERSOFCAMERA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PARAMETERSOFCAMERA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
        <div class="modal-footer">
        <input type="submit" value="Создать" class="btn btn-success" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>

}

    @Scripts.Render("~/bundles/jqueryval")