﻿@model Focus.Web.Models.Document

@{
    /**/

    ViewBag.Title = "Создaть";
}

<div class="container body-content">
    <h2>Добавление нового документа</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.DOCUMENTKINDID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DOCUMENTKINDID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DOCUMENTKINDID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NUMBER_, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NUMBER_, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NUMBER_, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DATE_, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DATE_, new { htmlAttributes = new { @class = "form-control time" } })
                    @Html.ValidationMessageFor(model => model.DATE_, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />
        <ul class="list-group" id="carsList"></ul>
        <button type="button" class="btn btn-primary" id="buttonAddOrganization" data-toggle="modal" data-target="#organizationModal">
            Добавить организацию
        </button>
		 <a class="btn btn-default questionButton" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#SmallCreateCompanyResult" data-ajax-complete="ShowSmallCreateCompanyModal();" href="/Help/SmallCreateCompany"><i class="glyphicon glyphicon-question-sign"></i></a>

		
        <hr />
        <div class="panel-group" id="organizationAccordion" role="tablist" aria-multiselectable="true">
            <div id="anchorForOrganization"></div>
        </div>

        <hr />
        <ul class="list-group" id="permissionsList"></ul>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="ClearAddPermission(); " data-target="#permissionModal">Добавить разрешение</button>
        <a class="btn btn-default questionButton" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShowSmallCreateResolutionResult" data-ajax-complete="ShowSmallCreateResolutionModal();" href="/Help/SmallCreateResolution"><i class="glyphicon glyphicon-question-sign"></i></a>

        <hr />

        <div class="panel-group" id="accordionCustomBrockerPermission" role="tablist" aria-multiselectable="true">
            <!--Старт панели-->
            <!--Фигниш панели-->

            <div id="anchorForCustomBrockerPermission"></div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="buttonCreateDocument" value="Создать" class="btn btn-success" />
            </div>
        </div>

    }

    <div class="modal fade" id="SmallCreateCompanyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Добавление организации</h3>
                </div>
                <div class="modal-body">
                        <div id="SmallCreateCompanyResult"></div>
                </div>
                <div id="SmallCreateCompanyCreate" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ShowSmallCreateCompanyModal() {
            $('#SmallCreateCompanyModal').modal('show');
        };
    </script>

 <div class="modal fade" id="ShowSmallCreateResolutionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Добавление разрешения</h3>
                </div>
                <div class="modal-body">
                        <div id="ShowSmallCreateResolutionResult"></div>
                </div>
                <div id="ShowSmallCreateResolutionCreate" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ShowSmallCreateResolutionModal() {
            $('#ShowSmallCreateResolutionModal').modal('show');
        };
    </script>

    <div>
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
    </div>
    <script type="text/javascript">
        function ClearAddPermission() {
            $('#DATESTART').val("");
            $('#DATEFINISH').val("");
            $('.panel-deletion').remove();
            Enabling('buttonAddCustomBrocker');
        }
    </script>
    <!--Organization Modal-->
    <script type="text/javascript">
        function OnSuccess(data) {

            var elements = document.getElementsByClassName("panel-org");
            if (elements.length > 0) {
                return;
            }

            var jsname = data.name == null ? "" : '<b>' + data.name + '</b>.';
            var jssimplename = data.name == null ? "" : data.name;
            var jstin = data.tin == null ? "" : '<p><b>УНП</b>: ' + data.tin + '.</p>';
            var jsaddr = data.addr == null ? "" : '<p><b>Адрес</b>: ' + data.addr + '.</p>';
            var jscountry = data.country == null ? "" : data.country;
            var jscollapseinformation = jstin + jsaddr;

            var OrganizationMackupForInsert = $('<div class="panel panel-default panel-org" id="panelOrganization' + 10000001 + data.id + '">' +
                '<div class="panel-heading" role = "tab" id = "headingOrganization' + 10000001 + data.id + '" > ' +
                '<a type="button" class="close" id="deleteButtonOrganization' + 10000001 + data.id + '" "data-ajax="true" onclick="onClickdeleteButtonOrganization(\'panelOrganization' + 10000001 + data.id + '\')"><span aria-hidden="true">&times;</span></a>' +
                '<a type="button" class="close" id="editButtonOrganization' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#organizationEditAccept" data-ajax-success="$(\'#organizationEditModal\').modal(\'show\')" href="/organizations/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
                '<h4 class="panel-title">' +
                '<a role="button" data-toggle="collapse" data-parent="#organizationAccordion" href="#collapseOrganization' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapseOrganization' + 10000001 + data.id + '">' +
                'Организация: ' + jsname +
                '<input type="hidden" name="workplace" id="workplaceid" value="' + jssimplename + '">' +
                '<input type="hidden" name="organization[' + data.id + '].ORGANIZATIONID" value="'
                + data.id + '"><input type="hidden" value="' + data.id + '"name="organization.Index">' +
                '<input type="hidden" name="organization[' + data.id + '].NAME" value="' + data.name + '">' +
                '<input type="hidden" name="organization[' + data.id + '].UNP" value="' + data.tin + '">' +
                '<input type="hidden" name="organization[' + data.id + '].ADDRESS" value="' + data.addr + '">' +
                '<input type="hidden" name="organization[' + data.id + '].COUNTRYID" value="' + jscountry + '">' +
                '</a >' +
                '</h4>' +
                '</div >' +
                '<div id = "collapseOrganization' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingOrganization' + data.id + 10000001 + '" >' +
                '<div class="panel-body">' +
                jscollapseinformation +
                '</div>' +
                '</div >' +
                '</div >');
            $('#anchorForOrganization').before(OrganizationMackupForInsert);
            $('#organizationModal').modal('hide');
            Disabling('buttonAddOrganization');
            //ManageCreateButtonEnabling();
            CollapsePanel('collapseOrganization' + 10000001 + data.id);


            function CollapsePanel(panel) {
                var collapsePanel = document.getElementById(panel);
                collapsePanel.collapse('hide');
            }
        }</script>

    <script>
        function OnOrganizationDeleted(id) {
            $('#panelOrganization' + 10000001 + id).remove();

        }
    </script>
    <script type="text/javascript">
        function OnEditOrganizationNotification(data) {
            $('#panelOrganization' + 10000001 + data.id).remove();
            var jsname = data.name == null ? "" : '<b>' + data.name + '</b>';
            var jstin = data.tin == null ? "" : '<p><b>УНП</b>: ' + data.tin + '.</p>';
            var jsaddr = data.addr == null ? "" : '<p><b>Адрес</b>: ' + data.addr + '.</p>';
            var jscollapseinformation = jstin + jsaddr;

            var OrganizationMackupForInsert = $('<div class="panel panel-default" id="panelOrganization' + 10000001 + data.id + '">' +
                '<div class="panel-heading" role = "tab" id = "headingOrganization' + 10000001 + data.id + '" > ' +
                '<a type="button" class="close" id="deleteButtonOrganization' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#organizationDeleteAccept" data-ajax-success="$(\'#organizationDeleteModal\').modal(\'show\')" href="/organizations/PartialDelete/' + data.id + '"><span aria-hidden="true">&times;</span></a>' +
                '<a type="button" class="close" id="editButtonOrganization' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#organizationEditAccept" data-ajax-success="$(\'#organizationEditModal\').modal(\'show\')" href="/organizations/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
                '<h4 class="panel-title">' +
                '<a role="button" data-toggle="collapse" data-parent="#organizationAccordion" href="#collapseOrganization' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapseOrganization' + 10000001 + data.id + '">' +
                'Организация: ' + jsname +
                '<input type="hidden" name="organization[' + data.id + '].ORGANIZATIONID" value="' +
                + data.id + '"><input type="hidden" value="' + data.id + '"name="organization.Index">' +
                '</a >' +
                '</h4>' +
                '</div >' +
                '<div id = "collapseOrganization' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingOrganization' + data.id + 10000001 + '" >' +
                '<div class="panel-body">' +
                jscollapseinformation +
                '</div>' +
                '</div >' +
                '</div >');
            $('#anchorForOrganization').before(OrganizationMackupForInsert);
            $('#organizationModal').modal('hide');
            CollapsePanel('collapseOrganization' + 10000001 + data.id);

            function CollapsePanel(panel) {
                var collapsePanel = document.getElementById(panel);
                collapsePanel.collapse('hide');
            }
        }</script>
    <script>

        function OrganizationConfirmationOnDelete(nameLocal, tinLocal, addrLocal) {

            ;
        }
    </script>
    <script>
        function OrganizationDeleteFromForm() {

            ;
        }
    </script>
    <script>
        function OrganizationFooterHide() {
            $('#organizationFooter').hide();

        }
    </script>
    <script>
        function OrganizationFooterShow() {
            $('#organizationFooter').show();

        }
    </script>
    <!--Alert when form have been loaded.-->
    <script>
        function OrganizationDeleteModalOnLoad() {
            $('#organizationFooter').show();

        }
    </script>
    <!--Modal dialog for Organization-->
    <div class="modal fade" id="organizationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Выбор организации</h3>
                </div>
                <div class="modal-body">
                    <div>
                        @using (Ajax.BeginForm("Search", "organizations", new AjaxOptions { UpdateTargetId = "orgresults", OnSuccess = "OrganizationFooterShow" }))
                        {
                            <div class="input-group" style="max-width: 380px;">
                                <input type="text" class="form-control" name="name" placeholder="Введите часть наименования..." />
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Поиск</button>
                                    @Ajax.ActionLink("Создать", "PartialCreate", "organizations", null,
                                new AjaxOptions { UpdateTargetId = "orgresults", OnSuccess= "OrganizationFooterHide" }, new { @class = "btn btn-default" } )
                                </div>
                            </div>

                        }
                        <div id="orgresults"></div>
                    </div>
                </div>
                <div class="modal-footer" id="organizationFooter">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .editors input[type='text'] {
            width: 500px;
        }
    </style>
    <!--Modal dialog for Organization deleting-->
    <div class="modal fade" id="organizationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onload="OrganizationDeleteModalOnLoad()"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Удаление сведений об организации</h3>
                </div>
                <div id="organizationDeleteModalText"></div>
                <div id="organizationDeleteAccept"></div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal dialog for Organization editing-->
    <div class="modal fade" id="organizationEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Изменение сведений об органзиации</h3>
                </div>
                <div id="organizationEditAccept"></div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Permission group-->
    <script type="text/javascript">
        function OnSuccessPermission(data) {
            //alert('Ok');

            var jsfullName = data.fullName == "" ? "" : '<b>' + data.fullName + '</b>';
            var jsstart = data.start == "" ? "" : '<p><b>Дата начала полномочий: </b>' + data.start + '.</p>';
            var jsfinish = data.finish == "" ? "." : ' со сроком полномочий вплоть до ' + data.finish + '.';
            var jsworkOfPlace = data.workOfPlace == "" ? "" : '<p><b>Место работы: </b>' + data.workOfPlace + '.</p>';
            var jspost = data.post == "" ? "" : '<p><b>Должность: </b>' + data.post + '.</p>';
            var jsaddress = data.address == "" ? "" : '<p><b>Место проживания: </b>' + data.address + '.</p>';
            var jsphone = data.phone == "" ? "" : '<p><b>Телефон: </b>' + data.phone + '.</p>';
            var jsfax = data.fax == "" ? "" : '<p><b>Факс: </b>' + data.fax + '.</p>';
            var jspassport = data.passport == "" ? "" : '<p><b>Паспортные данные: </b>' + data.passport + '.</p>'
            var jscollapseinformation = jsworkOfPlace + jspost + jsaddress + jspassport + jsphone + jsfax + jsstart;

            var PermissionMackupForInsert = $('<div class="panel panel-default panel-permission" id="panelCustomBrockerPermission' + 10000001 + data.id + '">' +
                '<div class="panel-heading" role = "tab" id = "headingCustomBrockerPermission' + 10000001 + data.id + '" > ' +
                '<a type="button" class="close" id="deleteButtonCustomBrockerPermission' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomBrockerPermissionDeleteAccept" data-ajax-success="$(\'#CustomBrockerPermissionDeleteModal\').modal(\'show\')" href="/permissions/PartialDelete/' + data.id + '"><span aria-hidden="true">&times;</span></a>' +
                '<a type="button" class="close" id="editButtonCustomBrockerPermission' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomBrockerPermissionEditAccept" data-ajax-success="$(\'#CustomBrockerPermissionEditModal\').modal(\'show\')" href="/permissions/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
                '<h4 class="panel-title">' +
                '<a role="button" data-toggle="collapse" data-parent="#accordionCustomBrockerPermission" href="#collapseCustomBrockerPermission' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapseCustomBrockerPermission' + 10000001 + data.id + '">' +
                'Уполномоченный представитель: ' + jsfullName + jsfinish +
                '<input type="hidden" name="permission[' + data.id + '].PERMISSIONID" value="' +
                + data.id + '"><input type="hidden" value="' + data.id + '"name="permission.Index">' +
                '<input type="hidden" name="permission[' + data.id + '].DATESTART" value="' + data.start + '">' +
                '<input type="hidden" name="permission[' + data.id + '].DATEFINISH" value="' + data.finish + '">' +
                '</a >' +
                '</h4>' +
                '</div >' +
                '<div id = "collapseCustomBrockerPermission' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingCustomBrockerPermission' + data.id + 10000001 + '" >' +
                '<div class="panel-body">' +
                jscollapseinformation +
                '</div>' +
                '</div >' +
                '</div >');
            $('#anchorForCustomBrockerPermission').before(PermissionMackupForInsert);
            $('#permissionModal').modal('hide');
            //ManageCreateButtonEnabling();
            CollapsePanel('collapseCustomBrockerPermission' + 10000001 + data.id);

            function CollapsePanel(panel) {
                var collapsePanel = document.getElementById(panel);
                collapsePanel.collapse('hide');
            }
        }</script>
    <!--Modal dialog for Permission-->
    <div class="modal fade" id="permissionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                @*@Html.Partial("PermissionPartialCreate");*@
                @using (Ajax.BeginForm("JsonPermission", "permissions", new AjaxOptions { OnSuccess = "OnSuccessPermission" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Формирование разрешения</h3>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Период полномочий</div>
                            <div class="panel-body">
                                <div class="form-horizontal">


                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="DATESTART">Начало</label>
                                        <div class="col-md-5">
                                            <input class="form-control text-box single-line" type="date" id="DATESTART" onchange="ManageSaveButtonEnabling()" name="DATESTART" value="">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DATESTART" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="DATEFINISH">Окончание </label>
                                        <div class="col-md-5">
                                            <input class="form-control text-box single-line" type="date" id="DATEFINISH" onchange="ManageSaveButtonEnabling()" name="DATEFINISH" value="">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DATEFINISH" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="panel-group" id="permissionAccordion" role="tablist" aria-multiselectable="true">
                            <div id="anchorForCustomBrockerpermission"></div>
                        </div>
                        <button type="button" class="btn btn-primary" id="buttonAddCustomBrocker" onclick="$('#brockerresults').empty(); $('#lastName').val('');" data-toggle="modal" data-target="#brockerModal">
                            Добавить уполномоченного представителя
                        </button>
                        <div id="permissionresults"></div>
                    </div>

                    <div class="modal-footer" id="organizationFooter">
                        <button type="submit" id="saveButton" disabled class="btn btn-default">Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Custom brocker modal.-->
    <div class="modal fade" id="brockerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Выбор уполномоченного представителя</h3>
                </div>
                <div class="modal-body">
                    <div>
                        @using (Ajax.BeginForm("Search", "custombrockers", new AjaxOptions { UpdateTargetId = "brockerresults" }))
                        {
                            <div class="input-group" style="max-width: 380px;">
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введите часть фамилии..." />
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Поиск</button>
                                    @Ajax.ActionLink("Создать", "PartialCreate", "custombrockers", null,
                                        new AjaxOptions { UpdateTargetId = "brockerresults", OnBegin= "GetRefference" }, new { @class = "btn btn-default" } )
                                </div>
                            </div>
                        }
                        <div id="brockerresults"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    function GetRefference(xhr, request) {
        var element = $('#workplaceid');
        var standartUrl = "@Url.Action("PartialCreate", "custombrockers")";
        if (element == null) {
            request.url = standartUrl;
            return;
        }
        if (element.val() == undefined) {
            request.url = standartUrl;
            return;
        }
        request.url = standartUrl + "?workplace=" + element.val().replace("Общество с ограниченной ответственностью ", "ООО ")
            .replace("Закрытое акционерное общество ", "ЗАО ")
            .replace("Унитарное предприятие ", "УП ")
            .replace("Частное торговое унитарное предприятие ", "ЧТУП ")
            .replace("Частное унитарное предприятие ", "ЧУП ")
            .replace("Иностранное закрытое акционерное общество ", "ИЗАО ")
            .replace("Частное торговое унитарное предприятие ", "ЧТУП ")
            .replace("Иностранное торговое унитарное предприятие ", "ИТУП ")
            .replace("Иностранное общество с ограниченной ответственностью ", "ИООО ")
            .replace("Иностранное производственно-торговое унитарное предприятие ", "ИПТУП ")
            .replace("Индивидуальный предприниматель ", "ИП ")
            .replace("Частное сервисное унитарное предприятие ", "ЧСУП ")
            .replace("Совместное закрытое акционерное общество ", "СЗАО ")
            .replace("Общество с дополнительной ответственностью ", "ОДО ")
            .replace("Открытое акционерное общество ", "ОАО ")
            .replace("Совместное общество с ограниченной ответственностью ", "СООО ")
            .replace("Республиканское унитарное предприятие ", "РУП ");
    }
    </script>
    <script>
        function ManageSaveButtonEnabling() {
            var dateStartvalue = $('#DATESTART').val().length;
            var dateFinishvalue = $('#DATEFINISH').val().length;
            var countPanel = $('.panel-deletion').length;
            if (dateStartvalue > 0 && dateFinishvalue > 0 && countPanel > 0) {
                Enabling('saveButton');
            } else {
                Disabling('saveButton');
            }
        }
    </script>
    <script>
        function ManageCreateButtonEnabling() {
            var countOrganizations = $('.panel-org').length;
            var countPermissions = $('.panel-permission').length;
            if ((countOrganizations > 0) && (countPermissions > 0)) {
                Enabling('buttonCreateDocument');
            } else {
                Disabling('buttonCreateDocument');
            }
        }
    </script>
    <script>
        function OnVehicleDeleted(id) {
            $('#panelVehicle' + 10000001 + id).remove();

        }
    </script>
    <script>
        function ToTextFromHTMLCode(mystring) {
            if (mystring == null) {
                return "";
            } else if (mystring = "") {
                return "";
            } else {
                return mystring.replace(">", "&gt;").replace("<", "&lt;");
            }
        }
    </script>
    <script type="text/javascript">
        function OnSuccessBrocker(data) {
            var elements = document.getElementsByClassName("panel-deletion");
            if (elements.length > 0) {
                return;
            }
            //var carsUl = document.getElementById('anchorForCustomBrocker');
            var lastName = data.lastName == null ? "" : data.lastName.trim();
            var firstName = data.firstName == null ? "" : data.firstName.trim();
            var middleName = data.fthName == null ? "" : data.fthName.trim();
            var passport = data.passnumber == null ? "" : data.passnumber.trim();
            var fullName = "";
            var personData = "";

            if (lastName != "") {
                if (firstName == "") {
                } else if ((firstName.lenght == 1) || (firstName.lenght == 2)) {
                    firstName = " " + firstName.charAt(0).toUpperCase() + ".";
                } else {
                    firstName = " " + firstName;
                }
                if (middleName == "") {
                } else if ((firstName.lenght == 1) || (firstName.lenght == 2)) {
                    firstName = " " + firstName.charAt(0).toUpperCase() + ".";
                } else {
                    firstName = " " + firstName;
                }
            }
            if (middleName != "") {
                if (firstName.lenght == 2) {
                    middleName = middleName.charAt(0).toUpperCase() + ".";
                } else if (firstName == "") {
                    middleName = "";
                } else {
                    middleName = " " + middleName;
                }
            }
            fullName = lastName + firstName + middleName;



            var sjfullNameComplete = fullName;
            jsfullName = fullName == "" ? "" : '<p><b>ФИО: </b>' + fullName + '.</p>';
            var workOfPlace = data.wrkPlace == null ? "" : data.wrkPlace;
            var post = data.post == null ? "" : data.post;
            var address = data.address == null ? "" : data.address;
            var phone = data.phone == null ? "" : data.phone;
            var fax = data.fax == null ? "" : data.fax;
            var jsworkOfPlace = data.wrkPlace == null ? "" : '<p><b>Место работы: </b>' + data.wrkPlace + '.</p>';
            var jspost = data.post == null ? "" : '<p><b>Должность: </b>' + data.post + '.</p>';
            var jsaddress = data.address == null ? "" : '<p><b>Место проживания: </b>' + data.address + '.</p>';
            var jsphone = data.phone == null ? "" : '<p><b>Телефон: </b>' + data.phone + '.</p>';
            var jsfax = data.fax == null ? "" : '<p><b>Факс: </b>' + data.fax + '.</p>';
            var jspassportnumber = data.passnumber == null ? "" : data.passnumber;
            var jspassportauthoritybodyissue = data.passportauthoritybodyissue == null ? "" : data.passportauthoritybodyissue;
            var jspassportdate = data.passportdate == null ? "" : data.passportdate;

            passport = "паспорт № " + jspassportnumber +
                ((jspassportauthoritybodyissue != "") || (jspassportdate != "") ? " выдан " : "") +
                jspassportauthoritybodyissue + ((jspassportauthoritybodyissue != "") && (jspassportdate != "") ? " " : "") + jspassportdate;
            var jspassport = passport == "" ? "" : '<p><b>Паспортные данные: </b>' + passport + '.</p>'
            var jspersonData = jsworkOfPlace + jspost + jsaddress + jspassport + jsphone + jsfax;

            var panelWithNewData = '<div class="panel panel-default panel-deletion" id="panelPermission' + 10000001 + data.id + '">' +
                '<div class="panel-heading" role = "tab" id = "headingPermission' + 10000001 + data.id + '" > ' +
                '<a type="button" class="close" id="deletePermissionButton' + 10000001 + data.id + '"data-ajax="true"  onclick="onClickdeletePermissionButton(\'panelPermission' + 10000001 + data.id + '\')"><span aria-hidden="true">&times;</span></a>' +
                '<a type="button" class="close" id="editPermissionButton' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#carEditAccept" data-ajax-success="$(\'#carEditModal\').modal(\'show\')" href="/Car/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
                '<h4 class="panel-title">' +
                '<a role="button" data-toggle="collapse" data-parent="#permissionAccordion" href="#collapsePermission' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapsePermission' + 10000001 + data.id + '">' +
                '<p>Сведения об уполномоченном представителе: <b>' + sjfullNameComplete + '</b></p>' +
                '<input type="hidden" name="custombrocker[' + data.id + '].CUSTOMBROCKERID" value="' +
                data.id + '"><input type="hidden" value="' + data.id + '" name="custombrocker.Index">' +
                '<input type="hidden" id="fullName" type="text" name="fullName" value="' +
                fullName + '">' +
                '<input type="hidden" type="text" id="workOfPlace" name="workOfPlace" value="' +
                workOfPlace + '">' +
                '<input type="hidden" type="text" id="post" name="post" value="' +
                post + '">' +
                '<input type="hidden" type="text" id="passport" name="passport" value="' +
                passport + '">' +
                '<input type="hidden" type="text" id="address" name="address" value="' +
                address + '">' +
                '<input type="hidden" type="text" id="phone" name="phone" value="' +
                phone + '">' +
                '<input type="hidden" type="text" id="fax" name="fax" value="' +
                fax + '">' +
                '</a >' +
                '</h4>' +

                '</div >' +
                '<div id = "collapsePermission' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingPermission' + data.id + 10000001 + '" >' +
                '<div class="panel-body">' +
                jspersonData +
                '</div>' +
                '</div >' +
                '</div >';
            Disabling('buttonAddCustomBrocker');
            $('#anchorForCustomBrockerpermission').before(panelWithNewData);

            $('#brockerModal').modal('hide');

            ManageSaveButtonEnabling();
        }</script>
    <!--OnClick Delete Button in Custom Brocker Modal-->
    <script>
        function Disabling(string) {
            var element = document.getElementById(string);
            element.setAttribute('disabled', 'true');
        }
        function Enabling(string) {
            var element = document.getElementById(string);
            element.removeAttribute('disabled');
        }
    </script>
    <script>
        function onClickdeletePermissionButton(string) {
            $('#' + string).remove();
            ManageSaveButtonEnabling();
            Enabling('buttonAddCustomBrocker');
        }
        function onClickdeleteButtonOrganization(string) {
            $('#' + string).remove();
            Enabling('buttonAddOrganization');
            //ManageCreateButtonEnabling();
        }
    </script>
    <script>
        function OnCustomBrockerPermissionDeleted(id) {
            $('#panelCustomBrockerPermission' + 10000001 + id).remove();
            //ManageCreateButtonEnabling();

        }
    </script>

    <!--Modal dialog for device deleting-->
    <div class="modal fade" id="CustomBrockerPermissionDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Удаление разрешения</h3>
                </div>
                <div id="CustomBrockerPermissionDeleteAccept"></div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal dialog for device editing-->
    <div class="modal fade" id="CustomBrockerPermissionEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h class="modal-title">Изменение сведений о разрешении</h>
                </div>
                <div id="CustomBrockerPermissionEditAccept"></div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <script>
        function CustomBrockerPermissionButtonCloseHide() {
            $('#CustomBrockerPermissionModalCloseButton').hide();

        }
        function CustomBrockerPermissionButtonCloseShow() {
            $('#CustomBrockerPermissionModalCloseButton').show();

        }
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
