﻿@model Focus.Web.Models.Document

@{
    ViewBag.Title = "Delete";
}

<div class="container body-content">
    <h2>Удаление</h2>

    <h3>Вы уверены, что хотите удалить этот документ?</h3>
    <div>
        <h4>Документ, подтверждающий полномочия</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NUMBER_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NUMBER_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATE_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATE_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORGANIZATION.FirstOrDefault().NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORGANIZATION.FirstOrDefault().NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCUMENTKIND.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCUMENTKIND.NAME)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("Вернуться к списку", "Index")
            </div>
        }
    </div>
    </div>