﻿@model IEnumerable<Focus.Web.Models.Document>

@{
    ViewBag.Title = "Документы, подтверждающие полномочия лица";
}


<div class="container body-content">

    <h2>Документы, подтверждающие полномочия лица</h2>

    <p>
        <hr />
        <a type='button' class='btn btn-primary' href='/documents/Create/'>Добавить новый документ</a>
		 <a class="btn btn-default questionButton" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#NewDocsResult" data-ajax-complete="ShowNewDocsModal();" href="/Help/PartialNewDocs"><i class="glyphicon glyphicon-question-sign"></i></a>

		
    </p><br />
	
	
	  <div class="modal fade" id="NewDocsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Добавление нового документа</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="NewDocsResult"></div>
                    </div>
                </div>
                <div id="NewDocsCreate" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ShowNewDocsModal() {
            $('#NewDocsModal').modal('show');
        };
    </script>
	
	
	
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NUMBER_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ORGANIZATION.FirstOrDefault().NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOCUMENTKIND.NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NUMBER_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ORGANIZATION.FirstOrDefault().NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_UPDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOCUMENTKIND.NAME)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.DOCUMENTID }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.DOCUMENTID }) | <br />
                    @Html.ActionLink("Удалить", "Delete", new { id = item.DOCUMENTID })
                    @if ((bool)ViewBag.IsAdmin || (bool)ViewBag.IsAuditor)
                    {<span>| </span>
                        @Html.ActionLink("Аудит", "Document", "Audit", new { id = item.DOCUMENTID}, null)
                    }
                </td>
            </tr>
        }

    </table>

</div>