﻿@model IEnumerable<Focus.Web.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Страны</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<h1>СТРАНЫ</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAMEFULL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAMEEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABBR3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODELETTERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODEDIGITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTINENTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMEFULL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMEEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABBR3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODELETTERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODEDIGITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTINENTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGION)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ABBR2 }) |
            @Html.ActionLink("Детали", "Details", new { id=item.ABBR2 }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ABBR2 })
        </td>
    </tr>
}

</table>
