﻿@model IEnumerable<Focus.Web.Models.Storage>

@{
    ViewBag.Title = "Список";
    
}

<h2>Список складов временного хранения</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NUMBER_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMBER_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMBER_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE)
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Детали", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
