﻿@model IEnumerable<Focus.Web.Models.Storage>

<br />
<p><b>Нажмите на нужный номер для выбора СВХ</b></p>
<table class="table" id="searchOrganizationTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMBER_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.NUMBER_).ToString(), "JsonOrg", "storage",
                    new { id = item.ID},
                    new AjaxOptions { OnSuccess = "OnSuccessStorage" })

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
        </tr>
    }

</table>