﻿@model IEnumerable<Focus.SSO.Models.Organization>

@{
    ViewBag.Title = "Index";
}

<br>
<br>
<h2>Получатели товара</h2>

<p>
    @Html.ActionLink("Добавить нового", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESSFULL)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESSFULL)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ORGANIZATIONID }) |
                @Html.ActionLink("Детали", "Details", new { id = item.ORGANIZATIONID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ORGANIZATIONID })
            </td>
        </tr>
    }

</table>
