﻿@model Focus.SSO.Models.Organization

    <hr />
    <div class="text-danger"><b>ОШИБКА.</b></div>
    <p><b>Организация с УНП @Html.DisplayFor(model => model.UNP) (c наименованием @Html.DisplayFor(model => model.NAME)) уже присутствует в базе данных.</b></p>
    <p><b>Повторное добавление организации с указанными УНП не представляется возможным.</b></p>