﻿@model Focus.SSO.Models.Document

@{
    ViewBag.Title = "Детали";
}

<div class="container body-content">
    <h2>Детали</h2>

    <div>
        <h4>Документ</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NUMBER_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NUMBER_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATE_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATE_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BODYISSUE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BODYISSUE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOCUMENTKIND.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOCUMENTKIND.NAME)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.DOCUMENTID }) |
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>
    </div>