﻿@model Focus.Web.Models.Vehiclekind

@{
    ViewBag.Title = "Детали";
}

<div class="container body-content">
    <h2>Детали</h2>

    <div>
        <h4>vehiclekind</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VEHICLETYPE.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VEHICLETYPE.NAME)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.VEHICLEKINDID }) |
        @Html.ActionLink("Вернуться", "Index")
    </p>
</div>