﻿@model Focus.SSO.Models.Container


<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5>Вы действительно желаете удалить этот контейнер?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.REGNUMBER)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.REGNUMBER)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DEMENSIONS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DEMENSIONS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LAST_UPDATE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LAST_UPDATE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.COUNTRY.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.COUNTRY.NAME)
                    </dd>

                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "containerDeleteAccept" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="OnContainerDeleted(@Model.CONTAINERID);" />
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#containerDeleteModal').modal('hide');" />
            </div>
        }
    </div>
</div>
