﻿@model IEnumerable<Focus.Web.Models.Inspector>

@{
    ViewBag.Title = "Список";
    
}

<h2>Список сотрудников МРТ</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FATHERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHORTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONENUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST.CODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LASTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FATHERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHORTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONENUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POST.CODE)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Детали", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
