﻿@model Focus.Web.Models.Inspector


<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5>Вы действительно желаете удалить сведения об указанном должностном лице?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FIRSTNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FIRSTNAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LASTNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LASTNAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FATHERNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FATHERNAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SHORTNAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SHORTNAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TITLE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TITLE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LNP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LNP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SEAL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SEAL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PHONENUMBER)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PHONENUMBER)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LAST_UPDATE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LAST_UPDATE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.POST.CODE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.POST.CODE)
                    </dd>

                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "inspectorDeleteAccept" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#inspectorDeleteModal').modal('hide')" />
            </div>
        }
    </div>
</div>

