﻿@using Focus.Web.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <link rel="icon" href="~/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title - Focus - контроль</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/loader")
    @Styles.Render("~/Content/css")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".n  avbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ТАМОЖЕННЫЙ КОНТРОЛЬ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("user"))
                        {
                            <li>@Html.ActionLink("Представители", "Index", "custombrockers")</li>
                            <li><a href="\Help\ListHelp">Справка</a></li>
                        }
                        else if (User.IsInRole("redactor"))
                        {
                            <li>@Html.ActionLink("Контроль", "Index", "docs")</li>
                            <li>@Html.ActionLink("Представители", "Index", "custombrockers")</li>
                            <li>@Html.ActionLink("Документы", "Index", "documents")</li>
                            <li><a href="\Help\ListHelp">Справка</a></li>
                        }
                        else if (User.IsInRole("inspection"))
                        {
                            <li>@Html.ActionLink("Контроль", "Index", "docs")</li>
                            <li>@Html.ActionLink("Представители", "Index", "custombrockers")</li>
                            <li><a href="\Help\ListHelp">Справка</a></li>
                        }
                        else if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Контроль", "Index", "docs")</li>
                            <li>@Html.ActionLink("Представители", "Index", "custombrockers")</li>
                            <li>@Html.ActionLink("Документы", "Index", "documents")</li>
                            <li>@Html.ActionLink("Администрирование", "Index", "User")</li>
                            <li><a href="\Help\ListHelp">Справка</a></li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Минская региональная таможня. Разработка <a href="mailto:GolubVI@mrt.customs.gov.by">Голуба В.И.</a>, <a href="mailto:UsovSA@mrt.customs.gov.by">Усова С.А.</a> <span class="badge">Версия @Html.ActionLink("0.8.0.7", "Version", "Help", null, new { @style = "color:#ffffff" })</span></p>
        @PoCStaticMethodInGlobalAsax.GetDateTimeCreation().ToString(@"dd.MM.yyyy HH:mm") <br>
        @PoCStaticMethodInGlobalAsax.GetCreationContext()
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
