﻿@model Focus.SSO.Models.Post

@{
    ViewBag.Title = "Создать";
}

<h2>Создать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Запись о пункте таможенного оформления / таможенном посте МРТ</h4>
        <hr />

        <div class="container">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#posttabgeneral">Основное</a></li>
                    <li><a data-toggle="tab" href="#storagestab">СВХ</a></li>
                </ul>
                <div class="tab-content">
                    <div id="posttabgeneral" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <h4>Основные данные</h4>
                            <hr />
                            <div class="mainTab">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CODE, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.CODE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CODE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DEVISION, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DEVISION, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DEVISION, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" id="buttonCreatePost" value="Создать" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="storagestab" class="tab-pane fade">
                        <h4>Склады временного хранения</h4>
                        <hr />
                        <ul class="list-group" id="storagesList"></ul>
                        <button type="button" class="btn btn-primary" id="buttonAddStorage" data-toggle="modal" data-target="#storageModal">
                            Добавить СВХ
                        </button>
                        <hr />
                        <div class="panel-group" id="storageAccordion" role="tablist" aria-multiselectable="true">
                            <div id="anchorForStorage"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<!--Modal dialog for Storage-->
<div class="modal fade" id="storageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Выбор СВХ</h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("Search", "storage", new AjaxOptions { UpdateTargetId = "storageresult", OnSuccess = "StorageFooterShow" }))
                    {
                        <div class="input-group" style="max-width: 380px;">
                            <input type="text" class="form-control" name="name" placeholder="Введите часть наименования ..." />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">Поиск</button>
                                @Ajax.ActionLink("Создать", "PartialCreate", "storage", null,
                            new AjaxOptions { UpdateTargetId = "storageresult", OnSuccess= "StorageFooterHide" }, new { @class = "btn btn-default" } )
                            </div>
                        </div>

                    }
                    <div id="storageresult"></div>
                </div>
            </div>
            <div class="modal-footer" id="storageFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!--Modal dialog for Storage editing-->
<div class="modal fade" id="storageEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменение сведений о СВХ</h4>
            </div>
            <div id="storageEditAccept"></div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

<!--Organization Modal-->
<script type="text/javascript">
    function OnSuccessStorage(data) {

        StorageBlock(data);
        $('#storageModal').modal('hide');
        ManageCreateButtonEnabling();
        CollapsePanel('collapseStorage' + 10000001 + data.id);


        function CollapsePanel(panel) {
            var collapsePanel = document.getElementById(panel);
            collapsePanel.collapse('hide');
        }
    }
    function StorageBlock(data) {
        var elements = document.getElementsByClassName("panel-org");
        if (elements.length > 0) {
            return;
        }

        var jsstoragename = data.storagename == null ? "" : '<b>' + data.storagename + '</b>.';
        var jsstoragenumber = data.storagenumber == null ? "" : '<p><b>Номер</b>: ' + data.storagenumber + '.</p>';
        var jsstorageaddress = data.storageaddress == null ? "" : '<p><b>Адрес</b>: ' + data.storageaddress + '.</p>';
        var jscollapseinformation = jsstoragenumber + jsstorageaddress;

        var StorageMackupForInsert = $('<div class="panel panel-default panel-storage" id="panelStorage' + 10000001 + data.id + '">' +
            '<div class="panel-heading" role = "tab" id = "headingStorage' + 10000001 + data.id + '" > ' +
            '<a type="button" class="close" id="deleteButtonStorage' + 10000001 + data.id + '" "data-ajax="true" onclick="DeleteElementById(\'panelStorage' + 10000001 + data.id + '\')"><span aria-hidden="true">&times;</span></a>' +
            '<a type="button" class="close" id="editButtonStorage' + 10000001 + data.id + '"data-ajax="true" data-ajax-mode="replace" data-ajax-update="#storageEditAccept" data-ajax-success="$(\'#storageEditModal\').modal(\'show\')" href="/storage/PartialEdit/' + data.id + '"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>' +
            '<h4 class="panel-title">' +
            '<a role="button" data-toggle="collapse" data-parent="#storageAccordion" href="#collapseStorage' + 10000001 + data.id + '" aria-expanded="false" aria-controls="collapseStorage' + 10000001 + data.id + '">' +
            'СВХ: ' + jsstoragename +
            '<input type="hidden" name="storage[' + data.id + '].ID" value="'
            + data.id + '"><input type="hidden" value="' + data.id + '"name="storage.Index">' +
            '<input type="hidden" name="storage[' + data.id + '].NAME" value="' + data.storagename + '">' +
            '<input type="hidden" name="storage[' + data.id + '].NUMBER" value="' + data.storagenumber + '">' +
            '<input type="hidden" name="storage[' + data.id + '].ADDRESS" value="' + data.storageaddress + '">' +
            '</a >' +
            '</h4>' +
            '</div >' +
            '<div id = "collapseStorage' + 10000001 + data.id + '" class= "panel-collapse collapse" role = "tabpanel" aria-labelledby="headingStorage' + data.id + 10000001 + '" >' +
            '<div class="panel-body">' +
            jscollapseinformation +
            '</div>' +
            '</div >' +
            '</div >');
        $('#anchorForStorage').before(StorageMackupForInsert);
    }
</script>

<script>
    function OnStorageDeleted(id) {
        $('#panelStorage' + 10000001 + id).remove();

    }
</script>

<script>
    function StorageFooterHide() {
        $('#storageFooter').hide();

    }
</script>

<script>
    function StorageFooterShow() {
        $('#storageFooter').show();

    }
</script>

<script>
    function ManageCreateButtonEnabling() {
        var countStorages = $('.panel-storage').length;
        if (countStorages > 0) {
            Enabling('buttonCreatePost');
        } else {
            Disabling('buttonCreatePost');
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
