﻿@model Focus.Web.Models.Vehicle

@{
    ViewBag.Title = "Детали";
}

<div class="container body-content">
    <h2>Детали</h2>

    <div>
        <h4>vehicle</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MARK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MARK)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MODEL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MODEL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REGNUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REGNUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REGNUMBERLETTERS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REGNUMBERLETTERS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REGNUMBERDIGITS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REGNUMBERDIGITS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REGNUMBEDIGITSAFTER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REGNUMBEDIGITSAFTER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAST_UPDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COUNTRY.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COUNTRY.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VEHICLEKIND.NAME)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.VEHICLEID }) |
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>
</div>