﻿@model IEnumerable<Focus.Web.Models.Vehicle>
@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <h2>Список</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MARK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REGNUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REGNUMBERLETTERS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REGNUMBERDIGITS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REGNUMBEDIGITSAFTER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_UPDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COUNTRY.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MARK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REGNUMBER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REGNUMBERLETTERS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REGNUMBERDIGITS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REGNUMBEDIGITSAFTER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_UPDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COUNTRY.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VEHICLEKIND.NAME)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.VEHICLEID }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.VEHICLEID }) |
                    @Ajax.ActionLink("Удалить", "JsonDelete", "vehicles", new { id = item.VEHICLEID },
                            new AjaxOptions { OnSuccess = "DisplayToBeDeleted"} )
                </td>
            </tr>
        }

    </table>
</div>
    <!--Modal dialog for error-->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Удаление</h4>
                </div>
                <div class="modal-body">
                    <div id="errorResults"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function DisplayToBeDeleted(data) {


            var entityCount = entities.length;
            var entityCount2 = entities2.length;
            var entityCount3 = entities3.length;
            var entityCount4 = entities4.length;
            var entityCount5 = entities5.length;

            if (entityCount == 0 && entityCount2 == 0 && entityCount3 == 0
                && entityCount4 == 0
                && entityCount5 == 0) {
                var form = document.createElement("form");
                form.setAttribute("method", "get");
                form.setAttribute("action", data.action);
                document.body.appendChild(form);
                form.submit();
                return;
            }

            for (var i = 0; i < length; i++) {

            }



            var titleMistake = "";
            var ToBeDeleted = "";
            var titleMistake2 = "";
            var ToBeDeleted2 = "";
            var maxCount = data.listLenght;

            if (entities.length > 0) {
                titleMistake = data.message;
                ToBeDeleted = "<p><ul>";
                for (var i = 0; i < entityCount; i++) {
                    ToBeDeleted += "<li class='text-danger'>" + data.entities[i] + "</li>";
                    if (i > maxCount) {
                        ToBeDeleted += "<li class='text-danger'>другие ...</li>"; break;
                    }
                }
                ToBeDeleted += "</ul></p>";
            }

            if (entities2.length > 0) {
                titleMistake2 = data.message2;
                ToBeDeletd2 = "<p><ul>";
                for (var i = 0; i < entityCount2; i++) {
                    ToBeDeleted2 += "<li class='text-danger'>" + data.entities2[i] + "</li>";
                    if (i > maxCount) {
                        ToBeDeleted2 += "<li class='text-danger'>другие ...</li>"; break;
                    }
                }
                ToBeDeleted2 += "</ul></p>";
            }

            titleMistake += ToBeDeleted;
            titleMistake2 += ToBeDeleted2;

            $("#errorResults").empty();

            document.getElementById("errorResults").innerHTML = titleMistake + titleMistake2;

            $("#errorModal").modal('show');
        }
    </script>
