﻿@model Focus.Web.Models.Vehicle

@{
    ViewBag.Title = "Удалить";
}

<div>
    <!--Body-->
    <div class="modal-body">
        <div class="text-left">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <h5>Вы действительно желаете удалить это транспортное средство?</h5>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MARK)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MARK)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MODEL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MODEL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DESCRIPTION)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DESCRIPTION)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.REGNUMBER)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.REGNUMBER)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.REGNUMBERLETTERS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.REGNUMBERLETTERS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.REGNUMBERDIGITS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.REGNUMBERDIGITS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.REGNUMBEDIGITSAFTER)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.REGNUMBEDIGITSAFTER)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LAST_UPDATE)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LAST_UPDATE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.COUNTRY.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.COUNTRY.NAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VEHICLEKIND.NAME)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VEHICLEKIND.NAME)
                    </dd>

                </dl>
            </p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "vehicleDeleteAccept" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="OnVehicleDeleted(@Model.VEHICLEID); " />
                <input type="button" value="Отмена" class="btn btn-default" onclick="$('#vehicleDeleteModal').modal('hide')" />
            </div>
        }
    </div>
</div>
