﻿@model IEnumerable<Focus.Web.Models.Vehicle>

<table class="table" id="serchVehicleTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REGNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICLEKINDID)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Ajax.ActionLink(@Html.DisplayFor(modelItem => item.REGNUMBER).ToString(), "JsonOrg", "vehicles",
                        new { id = item.VEHICLEID },
                        new AjaxOptions { OnSuccess = "OnSuccessVehicle" },
                        new { @class = "vehicleActionLink", onclick = "Disabling('serchVehicleTable');" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VEHICLEKINDID)
            </td>
        </tr>
    }

</table>
<div class="modal-footer" id="vehicleModalCloseButton">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
<!--Disabling and enabling elements-->
<script>
    function Disabling(string) {
        var element = document.getElementById(string);
        element.setAttribute('disabled', 'true');
    }
    function Enabling(string) {
        var element = document.getElementById(string);
        element.removeAttribute('disabled');
    }
</script>