﻿
@model Focus.SSO.Models.Permission

<!--Body-->
<div class="modal-body">
    <div class="text-left">
        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
        <h5 class="text-danger">Указанное разрешение удалено</h5>
        <p>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().LASTNAME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().LASTNAME)
                <dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().FIRSTNAME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().FIRSTNAME)
                <dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().FATHERSNAME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().FATHERSNAME)
                <dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().WORKPLACE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().WORKPLACE)
                <dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CUSTOMBROCKER.FirstOrDefault().POST)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CUSTOMBROCKER.FirstOrDefault().POST)
                <dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DATESTART)
                <dt>

                <dd>
                    @Html.DisplayFor(model => model.DATESTART)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DATEFINISH)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DATEFINISH)
                <dd>
            </dl>
    </div>
</div>
<!--Footer-->
<div class="modal-footer justify-content-center">

    @using (Ajax.BeginForm("PermissionDeleted", "permissions", new {id = @Model.PERMISSIONID}, new AjaxOptions() { }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ОК" class="btn btn-primary" onclick="OnCustomBrockerPermissionDeleted(@Model.PERMISSIONID); $('#CustomBrockerPermissionDeleteModal').modal('hide');" />
        </div>
    }
</div>
