﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.helptext {
    font-family:Times New Roman;
    font-size:120%;
}

.questionButton {
    border: thin;
    color: black;
    padding: 3px 0;
    width: 30px;
    height: 30px;
    line-height: 1.428571429;
    text-align: center;
    font-size: 13px;
    border-radius: 15px;
}

.glyphicon.glyphicon-question-sign {
    font-size: 25px;
}

.title {
    font-family: Times New Roman;
    font-size: 180%;
}

.boldtitle {
    font-family: Times New Roman;
    font-size: 180%;
    font-weight: bold;
}

.helptext {
    font-family: Times New Roman;
    font-size: 150%;
    text-align: justify;
}

