﻿@using System.Collections.Generic;
@using System.Linq.Expressions;
@using Focus.Web.Extensions;

@model IEnumerable<Focus.Web.Models.Custombrocker>

@{
    const int SHOWN_VERSIONS = 2;
    var entityVersions = Model.ToList().Take(SHOWN_VERSIONS).ToList(); int count = entityVersions.Count();
    var entityVersionsFull = Model.ToList(); int countFull = Model.Count();
    string firstColumnWidth = "300px";
    bool isFieldEmpty = true;
    string otherColumnWidth = "325px";
    string currentValue = string.Empty;
    string previousValue = string.Empty;
    string fieldName = string.Empty;
    int firstColumnWidthInt = int.Parse(firstColumnWidth.Replace("px", ""));
    int otherColumnWidthInt = int.Parse(otherColumnWidth.Replace("px", ""));
    int tableWidth = (count) * int.Parse(otherColumnWidth.Replace("px", "")) + int.Parse(otherColumnWidth.Replace("px", ""));
    string tableWidthText = tableWidth.ToString() + "px";
}


<div class="container-fluid" style="margin-left: 5px">

    @if (count == 0)
    {
        <h3 style="text-align:center">Данные по аудиту отсутствуют.</h3>
    }
    else
    {
        <div class="split splitleft">

            <br />
            <br />
            <h3 style="margin-left: 10px">Аудит документа</h3>

            <div id="versionComparing">
                <table class="table audit" style="width:@tableWidthText; margin-left: 10px">
                    <tr>
                        @for (int i = -1; i < count; i++)
                        {
                            if (count > 0)
                            {
                                if (i == -1)
                                {
                                    <th style="background-color:white; text-align:center; width:@firstColumnWidth">Наименование поля</th>
                                }
                                else if (i == 0)
                                {
                                    <th style="background-color: lightgreen; text-align:center">
                                        <div style="text-align:center; width:@otherColumnWidth; padding:2px 2px 2px 2px">
                                            @entityVersions[i].LAST_UPDATE.ToString()<br />
                                            @GetInspectorName(entityVersions[i].USERINFO)
                                        </div>
                                    </th>
                                }
                                else
                                {
                                    <th style="background-color: lightyellow; text-align:center">
                                        <div style="text-align:center; width:@otherColumnWidth; padding:2px 2px 2px 2px">
                                            @entityVersions[i].LAST_UPDATE.ToString()<br />
                                            @GetInspectorName(entityVersions[i].USERINFO)
                                        </div>
                                    </th>
                                }
                            }
                        }
                    </tr>

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.LASTNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.LASTNAME).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].LASTNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].LASTNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].LASTNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.FIRSTNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.FIRSTNAME).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].FIRSTNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].FIRSTNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].FIRSTNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.FATHERSNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.FATHERSNAME).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].FATHERSNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].FATHERSNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].FATHERSNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.WORKPLACE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.WORKPLACE).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].WORKPLACE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].WORKPLACE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].WORKPLACE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.POST).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.POST).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].POST).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].POST).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].POST).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }


                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PASSPORTNUMBER).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.PASSPORTNUMBER).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTNUMBER).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTNUMBER).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PASSPORTNUMBER).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }


                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PASSPORTISSUED).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.PASSPORTISSUED).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTISSUED).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTISSUED).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PASSPORTISSUED).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PASSPORTBODYISSUE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.PASSPORTBODYISSUE).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTBODYISSUE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTBODYISSUE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PASSPORTBODYISSUE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.ADDRESS).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.ADDRESS).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].ADDRESS).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].ADDRESS).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].ADDRESS).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PHONE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.PHONE).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PHONE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PHONE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PHONE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.FAX).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.FAX).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].FAX).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].FAX).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].FAX).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) {
                        var email = Html.DisplayFor(modelItem => entity.EMAIL).ToString().Trim();
                        if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.EMAIL).ToString().Trim()) && email != "<a href=\"mailto:\"></a>") { isFieldEmpty = false; };
                    }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.EMAIL).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].EMAIL).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].EMAIL).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].EMAIL).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.COUNTRY_ID).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.COUNTRY_ID).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].COUNTRY_ID).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].COUNTRY_ID).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].COUNTRY_ID).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.COUNTRY.NAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.COUNTRY.NAME).ToString().Replace(";", "")</b></div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].COUNTRY.NAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].COUNTRY.NAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].COUNTRY.NAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }
            </table>
            </div>                
            @if (!(bool)(ViewBag.IsAuditor ?? false))
            {
                <div class="container body-content">
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Минская региональная таможня. Разработка Голуба В.И., <a href="mailto:UsovSA@mrt.customs.gov.by">Усова С.А.</a> <span class="badge">Версия @Html.ActionLink("0.8.1.1", "Version", "Help", null, new { @style = "color:#ffffff" })</span></p>
                    </footer>
                </div>
            }
        </div>
        <div class="split splitright">
            <br />
            <br />
            <h1 style="margin-left: 10px">Перечень версий:</h1>
            @using (Ajax.BeginForm("PartialCustombrocker", "Audit", new AjaxOptions { UpdateTargetId = "versionComparing", InsertionMode = InsertionMode.Replace }))
            {
                <hr />
                <input name="id" hidden id="docid" value="@entityVersions.FirstOrDefault().CUSTOMBROCKERID">

                @GetVersionsList(entityVersionsFull, countFull);<hr>
                <button style="margin-left: 15px" type="submit" @IsDisabled(count) id="submitbutton" class="btn btn-primary">Сравнить версии</button>
            }
        </div>

    }
</div>
@functions
{
    public static string IsDisabled(int count)
    {
        return count < 2 ? "disabled" : "";
    }


    public static HtmlString GetVersionsList(IEnumerable<Focus.Web.Models.Custombrocker> entities, int count)
    {
        string startCheckBoxChecked = count < 3 ? "checked" : "";
        string resultHtmlCode = $"<div class='form-group'>" +
                $"<div class='col-md-1'><input type='checkbox' class='check-1' {startCheckBoxChecked} onclick='SelectAll()' " +
                $"id = 'startCheckBox'></div>" +
                $"<label class='control-label col-md-11 label-2' for>Выделить все</label>" +
                $"<br></div><hr>";
        string resultHtmlHiddenFields = string.Empty;
        for (int i = 0; i < count; i++)
        {
            var entity = entities.ToList()[i];

            if (i < 2 && i < count)
            {
                resultHtmlHiddenFields += $"<input name='markup' class='hiddenFields' value='{entity.LAST_UPDATE.ToString().Replace(" ", "_")}' type='hidden' id = '{entity.LAST_UPDATE.ToString().Replace(" ", "_")}'>";
            }

            string isChecked = i < 2 ? "checked" : "";
            resultHtmlCode += $"<div class='form-group'>" +
                $"<div class='col-md-1'>" +
                $"<input type='checkbox' class='check-1 checkboxes' {isChecked} onclick='AddHiddenFields()' " +
                $"id = '{entity.LAST_UPDATE.ToString().Replace(" ", "_")}'>" +
                $"</div>" +
                $"<label class='control-label col-md-11 label-2' for>{entity.LAST_UPDATE.ToString()}, {GetInspectorName(entity.USERINFO)}</label>" +
                $"<br><br></div>";
        }
        return new HtmlString(resultHtmlHiddenFields + "<div id='anchorFor'></div>" + resultHtmlCode);
    }

    public static string GetVehicles(IEnumerable<Focus.Web.Models.Vehicle> vehicles)
    {
        if (vehicles == null || vehicles.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Vehicle vehicle in vehicles)
        {
            result += $"{vehicle.VEHICLEKIND.NAME} {vehicle.MARK} {vehicle.MODEL} {vehicle.REGNUMBER}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetContainers(IEnumerable<Focus.Web.Models.Container> containeres)
    {
        if (containeres == null || containeres.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Container container in containeres)
        {
            result += $"{container.NAME} {container.REGNUMBER}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetDevices(IEnumerable<Focus.Web.Models.Device> devices)
    {
        if (devices == null || devices.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Device device in devices)
        {
            string desc = string.Empty;
            if (device.NAME.IndexOf(device.MARK) > -1)
            {
                desc += device.MARK;
            }
            if (device.NAME.IndexOf(device.MODEL) > -1)
            {
                if (desc.Length > 0)
                {
                    desc += " " + device.MODEL;
                }
            }
            if (desc.Length > 0)
            {
                desc += " " + device.NAME;
            }
            else
            {
                desc += device.NAME;
            }

            result += $"{device.DEVICETYPE.NAME} {desc}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetInspectorName(string userInfor)
    {
        string[] array = userInfor.Split(new string[] { "," }, StringSplitOptions.None).Select(e => e.Trim()).ToArray();
        string result = string.Empty;
        return array[1] + ", " + array[2] + ", " + array[3];
    }

    public static HtmlString ConvertToHtml(string str)
    {
        return new HtmlString(str);
    }

    public static HtmlString GetCurrentValue(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return new HtmlString(previous);
        }
        else
        {
            return new HtmlString(current);
        }
    }

    public static HtmlString ConvertBooleanToString(HtmlString htmlString)
    {
        return string.IsNullOrEmpty(htmlString.ToString()) ? new HtmlString("нет") : (htmlString.ToString() == "0 " ? new HtmlString("нет") : new HtmlString("да"));

    }

    public static string IsStrikeStart(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "strike";
        }
        else
        {
            return string.Empty;
        }
    }

    public static string IsStrikeFinish(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "</strike>";
        }
        else
        {
            return string.Empty;
        }
    }

    public static string GetColor(string previous, string current)
    {
        if (string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current))
        {
            return "green";
        }
        else if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "red";
        }
        else if (!string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current) && (previous != current))
        {
            return "orange";
        }
        else
        {
            return "dimgray";
        }

    }

    public static string IsBold(string previous, string current)
    {
        if (string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current))
        {
            return "bold";
        }
        else if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "bold";
        }
        else if (!string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current) && (previous != current))
        {
            return "bold";
        }
        else
        {
            return "";
        }

    }
    }

    <style>
        table.audit {
            border-collapse: collapse;
            table-layout: fixed;
        }

            table.audit tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            table.audit tr:hover {
                background-color: #ddd;
            }

            table.audit th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #4CAF50;
                color: black;
            }

        .strike {
            text-decoration: line-through;
        }

        table.audit th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    </style>


    @section Scripts {

        @Scripts.Render("~/bundles/disabling")
    }
