﻿@using System.Collections.Generic;
@using System.Linq.Expressions;
@using Focus.Web.Extensions;

@model IEnumerable<Focus.Web.Models.Doc>

@{
    const int SHOWN_VERSIONS = 2;
    var entityVersions = Model.ToList().Take(SHOWN_VERSIONS).ToList(); int count = entityVersions.Count();
    var entityVersionsFull = Model.ToList(); int countFull = Model.Count();
    string firstColumnWidth = "300px";
    bool isFieldEmpty = true;
    string otherColumnWidth = "300px";
    string currentValue = string.Empty;
    string previousValue = string.Empty;
    string fieldName = string.Empty;
    int firstColumnWidthInt = int.Parse(firstColumnWidth.Replace("px", ""));
    int otherColumnWidthInt = int.Parse(otherColumnWidth.Replace("px", ""));
    int tableWidth = (count) * int.Parse(otherColumnWidth.Replace("px", "")) + int.Parse(otherColumnWidth.Replace("px", ""));
    string tableWidthText = tableWidth.ToString() + "px";
}


<div class="container-fluid" style="margin-left: 5px">

    @if (count == 0)
    {
        <h3 style="text-align:center">Данные по аудиту отсутствуют.</h3>
    }
    else
    {
        <div class="split splitleft">

            <br />
            <br />
            <h3 style="margin-left: 10px">Аудит документа</h3>

            <div id="versionComparing">
                <table class="table audit" style="width:@tableWidthText; margin-left: 10px">
                    <tr>
                        @for (int i = -1; i < count; i++)
                        {
                            if (count > 0)
                            {
                                if (i == -1)
                                {
                                    <th style="background-color:white; text-align:center; width:@firstColumnWidth">Наименование поля</th>
                                }
                                else if (i == 0)
                                {
                                    <th style="background-color: lightgreen; text-align:center">
                                        <div style="text-align:center; width:@otherColumnWidth;">
                                            @entityVersions[i].LAST_UPDATE.ToString()<br />
                                            @GetInspectorName(entityVersions[i].USERINFO)
                                        </div>
                                    </th>
                                }
                                else
                                {
                                    <th style="background-color: lightgreen; text-align:center">
                                        <div style="text-align:center; width:@otherColumnWidth;">
                                            @entityVersions[i].LAST_UPDATE.ToString()<br />
                                            @GetInspectorName(entityVersions[i].USERINFO)
                                        </div>
                                    </th>
                                }
                            }
                        }
                    </tr>

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.CONSIGNEENAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.CONSIGNEENAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].CONSIGNEENAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].CONSIGNEENAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].CONSIGNEENAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.CONSIGNEEADDRESS).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.CONSIGNEEADDRESS).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].CONSIGNEEADDRESS).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].CONSIGNEEADDRESS).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].CONSIGNEEADDRESS).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.CONSIGNEETIN).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.CONSIGNEETIN).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].CONSIGNEETIN).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].CONSIGNEETIN).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].CONSIGNEETIN).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.LASTNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.LASTNAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].LASTNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].LASTNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].LASTNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.FIRSTNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.FIRSTNAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].FIRSTNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].FIRSTNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].FIRSTNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }


                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.FATHERSNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.FATHERSNAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].FATHERSNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].FATHERSNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].FATHERSNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.CUSTOMSRESULT).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.CUSTOMSRESULT).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].CUSTOMSRESULT).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].CUSTOMSRESULT).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].CUSTOMSRESULT).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.INSPECTORTITLE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.INSPECTORTITLE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORTITLE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORTITLE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].INSPECTORTITLE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.USERID).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.USERID).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].USERID).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].USERID).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].USERID).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.INSPECTORID).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.INSPECTORID).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORID).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORID).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].INSPECTORID).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.INSPECTORSHORTNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.INSPECTORSHORTNAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORSHORTNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORSHORTNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].INSPECTORSHORTNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.INSPECTORDEVISION).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.INSPECTORDEVISION).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORDEVISION).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].INSPECTORDEVISION).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].INSPECTORDEVISION).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.ID).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.ID).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].ID).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].ID).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].ID).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PASSPORTNUMBER).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PASSPORTNUMBER).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTNUMBER).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTNUMBER).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PASSPORTNUMBER).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PASSPORTISSUEDDATE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PASSPORTISSUEDDATE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTISSUEDDATE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTISSUEDDATE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PASSPORTISSUEDDATE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PASSPORTAUTHORITYBODY).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PASSPORTAUTHORITYBODY).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTAUTHORITYBODY).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PASSPORTAUTHORITYBODY).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PASSPORTAUTHORITYBODY).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PLACEOFWORK).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PLACEOFWORK).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PLACEOFWORK).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PLACEOFWORK).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PLACEOFWORK).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.POST).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.POST).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].POST).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].POST).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].POST).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.ADDRESS).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.ADDRESS).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].ADDRESS).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].ADDRESS).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].ADDRESS).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PHONE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PHONE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PHONE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PHONE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PHONE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.FAX).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.FAX).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].FAX).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].FAX).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].FAX).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PHOTOPAGES).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PHOTOPAGES).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PHOTOPAGES).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PHOTOPAGES).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PHOTOPAGES).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PHOTOCOPIES).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PHOTOCOPIES).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PHOTOCOPIES).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PHOTOCOPIES).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PHOTOCOPIES).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.NUM).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.NUM).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].NUM).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].NUM).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].NUM).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.SAMPLINGNUM).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.SAMPLINGNUM).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].SAMPLINGNUM).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].SAMPLINGNUM).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].SAMPLINGNUM).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DECISIONNUM).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DECISIONNUM).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DECISIONNUM).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DECISIONNUM).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DECISIONNUM).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.CUSTOMSPLACE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.CUSTOMSPLACE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].CUSTOMSPLACE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].CUSTOMSPLACE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].CUSTOMSPLACE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCDECLARATIONONGOODS).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCDECLARATIONONGOODS).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCDECLARATIONONGOODS).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCDECLARATIONONGOODS).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCDECLARATIONONGOODS).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCTRANSITDECLARATION).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCTRANSITDECLARATION).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCTRANSITDECLARATION).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCTRANSITDECLARATION).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCTRANSITDECLARATION).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCCMRNUM).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCCMRNUM).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCMRNUM).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCMRNUM).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCCMRNUM).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCCMRDATE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCCMRDATE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCMRDATE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCMRDATE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCCMRDATE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCCARNERNUM).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCCARNERNUM).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCARNERNUM).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCARNERNUM).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCCARNERNUM).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCCARNETDATE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCCARNETDATE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCARNETDATE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCCARNETDATE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCCARNETDATE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCNOTIFICATIONPLACEMENT).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCNOTIFICATIONPLACEMENT).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCNOTIFICATIONPLACEMENT).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCNOTIFICATIONPLACEMENT).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCNOTIFICATIONPLACEMENT).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCPERMISSIONPLACEMENT).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCPERMISSIONPLACEMENT).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCPERMISSIONPLACEMENT).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCPERMISSIONPLACEMENT).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCPERMISSIONPLACEMENT).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCINVOCENUM).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCINVOCENUM).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCINVOCENUM).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCINVOCENUM).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCINVOCENUM).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCINVOICEDATE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.DOCINVOICEDATE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCINVOICEDATE).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCINVOICEDATE).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCINVOICEDATE).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.GOODSDESCRIPTION).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.GOODSDESCRIPTION).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].GOODSDESCRIPTION).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].GOODSDESCRIPTION).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].GOODSDESCRIPTION).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.GOODSARRIVALCOUNTRY).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.GOODSARRIVALCOUNTRY).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].GOODSARRIVALCOUNTRY).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].GOODSARRIVALCOUNTRY).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].GOODSARRIVALCOUNTRY).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PACKAGEINITIALNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PACKAGEINITIALNAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PACKAGEINITIALNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PACKAGEINITIALNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PACKAGEINITIALNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PACKAGENAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PACKAGENAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PACKAGENAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PACKAGENAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PACKAGENAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PLACESNAME).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PLACESNAME).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PLACESNAME).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PLACESNAME).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PLACESNAME).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.PLACESNUMBER).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.PLACESNUMBER).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].PLACESNUMBER).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].PLACESNUMBER).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].PLACESNUMBER).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.QUESTIONS).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.QUESTIONS).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].QUESTIONS).ToString().Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].QUESTIONS).ToString().Trim();
                                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].QUESTIONS).ToString().Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.VEHICLE).ToString().Trim())) { isFieldEmpty = false; } }
                    @if (!isFieldEmpty)
                    {
                        <tr>
                            <td><div style='with:@firstColumnWidth'>@Html.DisplayNameFor(d => d.VEHICLE).ToString().Replace(";", "")</div></td>
                            @for (int i = 0; i < count; i++)
                            {
                                if (i == count - 1)
                                {
                                    previousValue = GetVehicles(entityVersions[i].VEHICLE).Trim();
                                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                                }
                                else
                                {
                                    currentValue = GetVehicles(entityVersions[i].VEHICLE).Trim();
                                    previousValue = GetVehicles(entityVersions[i + 1].VEHICLE).Trim();
                                    <td>
                                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                            @GetCurrentValue(previousValue, currentValue)
                                        </div>
                                    </td>
                                }
                            }
                            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
                        </tr>
                    }

                </table>

            </div>
            @if (!(bool)(ViewBag.IsAuditor ?? false))
            {
                <div class="container body-content">
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Минская региональная таможня. Разработка Голуба В.И., <a href="mailto:UsovSA@mrt.customs.gov.by">Усова С.А.</a> <span class="badge">Версия @Html.ActionLink("0.8.1.1", "Version", "Help", null, new { @style = "color:#ffffff" })</span></p>
                    </footer>
                </div>
            }
        </div>
        <div class="split splitright">
            <br />
            <br />
            <h1 style="margin-left: 10px">Перечень версий:</h1>
            @using (Ajax.BeginForm("PartialDoc", "Audit", new AjaxOptions { UpdateTargetId = "versionComparing", InsertionMode = InsertionMode.Replace }))
            {
                <hr />
                <input name="id" hidden id="docid" value="@entityVersions.FirstOrDefault().DOCID">

                @GetVersionsList(entityVersionsFull, countFull);<hr>
                <button style="margin-left: 15px" type="submit" @IsDisabled(count) id="submitbutton" class="btn btn-primary">Сравнить версии</button>
            }
        </div>

    }
</div>
@functions
{
    public static string IsDisabled(int count)
    {
        return count < 2 ? "disabled" : "";
    }


    public static HtmlString GetVersionsList(IEnumerable<Focus.Web.Models.Doc> entities, int count)
    {
        string startCheckBoxChecked = count < 3 ? "checked" : "";
        string resultHtmlCode = $"<div class='form-group'>" +
                $"<div class='col-md-1'><input type='checkbox' class='check-1' {startCheckBoxChecked} onclick='SelectAll()' " +
                $"id = 'startCheckBox'></div>" +
                $"<label class='control-label col-md-11 label-2' for>Выделить все</label>" +
                $"<br></div><hr>";
        string resultHtmlHiddenFields = string.Empty;
        for (int i = 0; i < count; i++)
        {
            var entity = entities.ToList()[i];

            if (i < 2 && i < count)
            {
                resultHtmlHiddenFields += $"<input name='markup' class='hiddenFields' value='{entity.LAST_UPDATE.ToString().Replace(" ", "_")}' type='hidden' id = '{entity.LAST_UPDATE.ToString().Replace(" ", "_")}'>";
            }

            string isChecked = i < 2 ? "checked" : "";
            resultHtmlCode += $"<div class='form-group'>" +
                $"<div class='col-md-1'>" +
                $"<input type='checkbox' class='check-1 checkboxes' {isChecked} onclick='AddHiddenFields()' " +
                $"id = '{entity.LAST_UPDATE.ToString().Replace(" ", "_")}'>" +
                $"</div>" +
                $"<label class='control-label col-md-11 label-2' for>{entity.LAST_UPDATE.ToString()}, {GetInspectorName(entity.USERINFO)}</label>" +
                $"<br><br></div>";
        }
        return new HtmlString(resultHtmlHiddenFields + "<div id='anchorFor'></div>" + resultHtmlCode);
    }

    public static string GetVehicles(IEnumerable<Focus.Web.Models.Vehicle> vehicles)
    {
        if (vehicles == null || vehicles.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Vehicle vehicle in vehicles)
        {
            result += $"{vehicle.VEHICLEKIND.NAME} {vehicle.MARK} {vehicle.MODEL} {vehicle.REGNUMBER}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetContainers(IEnumerable<Focus.Web.Models.Container> containeres)
    {
        if (containeres == null || containeres.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Container container in containeres)
        {
            result += $"{container.NAME} {container.REGNUMBER}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetDevices(IEnumerable<Focus.Web.Models.Device> devices)
    {
        if (devices == null || devices.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Device device in devices)
        {
            string desc = string.Empty;
            if (device.NAME.IndexOf(device.MARK) > -1)
            {
                desc += device.MARK;
            }
            if (device.NAME.IndexOf(device.MODEL) > -1)
            {
                if (desc.Length > 0)
                {
                    desc += " " + device.MODEL;
                }
            }
            if (desc.Length > 0)
            {
                desc += " " + device.NAME;
            }
            else
            {
                desc += device.NAME;
            }

            result += $"{device.DEVICETYPE.NAME} {desc}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetInspectorName(string userInfor)
    {
        string[] array = userInfor.Split(new string[] { "," }, StringSplitOptions.None).Select(e => e.Trim()).ToArray();
        string result = string.Empty;
        return array[1] + ", " + array[2] + ", " + array[3];
    }

    public static HtmlString ConvertToHtml(string str)
    {
        return new HtmlString(str);
    }

    public static HtmlString GetCurrentValue(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return new HtmlString(previous);
        }
        else
        {
            return new HtmlString(current);
        }
    }

    public static HtmlString ConvertBooleanToString(HtmlString htmlString)
    {
        return string.IsNullOrEmpty(htmlString.ToString()) ? new HtmlString("нет") : (htmlString.ToString() == "0 " ? new HtmlString("нет") : new HtmlString("да"));

    }

    public static string IsStrikeStart(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "strike";
        }
        else
        {
            return string.Empty;
        }
    }

    public static string IsStrikeFinish(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "</strike>";
        }
        else
        {
            return string.Empty;
        }
    }

    public static string GetColor(string previous, string current)
    {
        if (string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current))
        {
            return "green";
        }
        else if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "red";
        }
        else if (!string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current) && (previous != current))
        {
            return "orange";
        }
        else
        {
            return "dimgray";
        }

    }

    public static string IsBold(string previous, string current)
    {
        if (string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current))
        {
            return "bold";
        }
        else if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "bold";
        }
        else if (!string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current) && (previous != current))
        {
            return "bold";
        }
        else
        {
            return "";
        }

    }
}

<style>
    table.audit {
        border-collapse: collapse;
        table-layout: fixed;
    }

        table.audit tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table.audit tr:hover {
            background-color: #ddd;
        }

        table.audit th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #4CAF50;
            color: black;
        }

    .strike {
        text-decoration: line-through;
    }

    table.audit th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
</style>


@section Scripts {

    @Scripts.Render("~/bundles/disabling")
}
