﻿@using System.Collections.Generic;
@using System.Linq.Expressions;
@using Focus.Web.Extensions;

@model IEnumerable<Focus.Web.Models.Document>
@{var entityVersions = Model.ToList(); int count = Model.Count();
    string firstColumnWidth = "300px";
    bool isFieldEmpty = true;
    string otherColumnWidth = "250px";
    string currentValue = string.Empty;
    string previousValue = string.Empty;
    string fieldName = string.Empty;
    int firstColumnWidthInt = int.Parse(firstColumnWidth.Replace("px", ""));
    int otherColumnWidthInt = int.Parse(otherColumnWidth.Replace("px", ""));
    int tableWidth = (count) * int.Parse(otherColumnWidth.Replace("px", "")) + int.Parse(otherColumnWidth.Replace("px", ""));
    string tableWidthText = tableWidth.ToString() + "px";
}

<table class="table audit" style="width:@tableWidthText; margin-left: 10px">
    <tr>
        @for (int i = -1; i < count; i++)
        {
            if (count > 0)
            {
                if (i == -1)
                {
                    <th style="background-color:white; text-align:center; width:@firstColumnWidth">Наименование поля</th>
                }
                else if (i == 0)
                {
                    <th style="background-color: lightgreen; text-align:center">
                        <div style="text-align:center; width:@otherColumnWidth; padding:2px 2px 2px 2px">
                            @entityVersions[i].LAST_UPDATE.ToString()<br />
                            @GetInspectorName(entityVersions[i].USERINFO)
                        </div>
                    </th>
                }
                else
                {
                    <th style="background-color: lightyellow; text-align:center">
                        <div style="text-align:center; width:@otherColumnWidth; padding:2px 2px 2px 2px">
                            @entityVersions[i].LAST_UPDATE.ToString()<br />
                            @GetInspectorName(entityVersions[i].USERINFO)
                        </div>
                    </th>
                }
            }
        }
    </tr>

    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DATE_).ToString().Trim())) { isFieldEmpty = false; } }
    @if (!isFieldEmpty)
    {
        <tr>
            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.DATE_).ToString().Replace(";", "")</b></div></td>
            @for (int i = 0; i < count; i++)
            {
                if (i == count - 1)
                {
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DATE_).ToString().Trim();
                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                }
                else
                {
                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DATE_).ToString().Trim();
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DATE_).ToString().Trim();
                    <td>
                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                            @GetCurrentValue(previousValue, currentValue)
                        </div>
                    </td>
                }
            }
            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
        </tr>
    }

    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.NUMBER_).ToString().Trim())) { isFieldEmpty = false; } }
    @if (!isFieldEmpty)
    {
        <tr>
            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.NUMBER_).ToString().Replace(";", "")</b></div></td>
            @for (int i = 0; i < count; i++)
            {
                if (i == count - 1)
                {
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].NUMBER_).ToString().Trim();
                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                }
                else
                {
                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].NUMBER_).ToString().Trim();
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].NUMBER_).ToString().Trim();
                    <td>
                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                            @GetCurrentValue(previousValue, currentValue)
                        </div>
                    </td>
                }
            }
            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
        </tr>
    }

    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.DOCUMENTKIND.NAME).ToString().Trim())) { isFieldEmpty = false; } }
    @if (!isFieldEmpty)
    {
        <tr>
            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.DOCUMENTKIND.NAME).ToString().Replace(";", "")</b></div></td>
            @for (int i = 0; i < count; i++)
            {
                if (i == count - 1)
                {
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCUMENTKIND.NAME).ToString().Trim();
                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                }
                else
                {
                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].DOCUMENTKIND.NAME).ToString().Trim();
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].DOCUMENTKIND.NAME).ToString().Trim();
                    <td>
                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                            @GetCurrentValue(previousValue, currentValue)
                        </div>
                    </td>
                }
            }
            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
        </tr>
    }

    @foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(@Html.DisplayFor(modelItem => entity.ORGANIZATION).ToString().Trim())) { isFieldEmpty = false; } }
    @if (!isFieldEmpty)
    {
        <tr>
            <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.ORGANIZATION).ToString().Replace(";", "")</b></div></td>
            @for (int i = 0; i < count; i++)
            {
                if (i == count - 1)
                {
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i].ORGANIZATION.FirstOrDefault().NAME).ToString().Trim();
                    <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                }
                else
                {
                    currentValue = @Html.DisplayFor(modelItem => entityVersions[i].ORGANIZATION.FirstOrDefault().NAME).ToString().Trim();
                    previousValue = @Html.DisplayFor(modelItem => entityVersions[i + 1].ORGANIZATION.FirstOrDefault().NAME).ToString().Trim();
                    <td>
                        <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                            @GetCurrentValue(previousValue, currentValue)
                        </div>
                    </td>
                }
            }
            @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
        </tr>
    }

    @for (int j = 0; j < entityVersions.FirstOrDefault().PERMISSION.Count; j++)
    {

        foreach (var entity in entityVersions) { if (!string.IsNullOrEmpty(entity.PERMISSION.ToList()[j].DATESTART.ToString())) { isFieldEmpty = false; } }
        if (!isFieldEmpty)
        {
            <tr>
                <td><div style='with:@firstColumnWidth'><b>@Html.DisplayNameFor(d => d.PERMISSION).ToString().Replace(";", "")</b></div></td>
                @for (int i = 0; i < count; i++)
                {
                    if (i == count - 1)
                    {
                        previousValue = $"{entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().LASTNAME} " +
                    $"{entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().FIRSTNAME}" +
                    $" {entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().FATHERSNAME}," +
                    $" {entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().WORKPLACE}," +
                    $" {entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().POST}," +
                    $" полномочия с {entityVersions[i].PERMISSION.ToList()[j].DATESTART.Value.ToShortDateString()} по {entityVersions[i].PERMISSION.ToList()[j].DATEFINISH.Value.ToShortDateString()}";
                        <td><div style='with:@otherColumnWidth'></div>@ConvertToHtml(previousValue)</td>
                    }
                    else
                    {
                        previousValue = $"{entityVersions[i + 1].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().LASTNAME} " +
                    $"{entityVersions[i + 1].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().FIRSTNAME}" +
                    $" {entityVersions[i + 1].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().FATHERSNAME}," +
                    $" {entityVersions[i + 1].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().WORKPLACE}," +
                    $" {entityVersions[i + 1].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().POST}," +
                    $" полномочия с {entityVersions[i + 1].PERMISSION.ToList()[j].DATESTART.Value.ToShortDateString()} по {entityVersions[i + 1].PERMISSION.ToList()[j].DATEFINISH.Value.ToShortDateString()}";
                        currentValue = $"{entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().LASTNAME} " +
                    $"{entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().FIRSTNAME}" +
                    $" {entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().FATHERSNAME}," +
                    $" {entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().WORKPLACE}," +
                    $" {entityVersions[i].PERMISSION.ToList()[j].CUSTOMBROCKER.FirstOrDefault().POST}," +
                    $" полномочия с {entityVersions[i].PERMISSION.ToList()[j].DATESTART.Value.ToShortDateString()} по {entityVersions[i].PERMISSION.ToList()[j].DATEFINISH.Value.ToShortDateString()}";
                        <td>
                            <div class='@IsBold(previousValue, currentValue) @IsStrikeStart(previousValue, currentValue)' style='color:@GetColor(previousValue, currentValue)'>
                                @GetCurrentValue(previousValue, currentValue)
                            </div>
                        </td>
                    }
                }
                @{previousValue = string.Empty; currentValue = string.Empty; isFieldEmpty = true; }
            </tr>
        }
    }

</table>

@functions
{
    public static HtmlString GetVersionsList(IEnumerable<Focus.Web.Models.Document> entities, int count)
    {
        string startCheckBoxChecked = count < 3 ? "checked" : "";
        string resultHtmlCode = $"<div class='form-group'>" +
                $"<div class='col-md-1'><input type='checkbox' class='check-1' {startCheckBoxChecked} onclick='SelectAll()' " +
                $"id = 'startCheckBox'></div>" +
                $"<label class='control-label col-md-11 label-2' for>Выделить все</label>" +
                $"<br></div><hr>";
        string resultHtmlHiddenFields = string.Empty;
        for (int i = 0; i < count; i++)
        {
            var entity = entities.ToList()[i];

            if (i < 3 && i < count)
            {
                resultHtmlHiddenFields += $"<input name='markup' class='hiddenFields' value='{entity.LAST_UPDATE.ToString().Replace(" ", "_")}' type='hidden' id = '{entity.LAST_UPDATE.ToString().Replace(" ", "_")}'>";
            }

            string isChecked = i < 2 ? "checked" : "";
            resultHtmlCode += $"<div class='form-group'>" +
                $"<div class='col-md-1'>" +
                $"<input type='checkbox' class='check-1 checkboxes' {isChecked} onclick='AddHiddenFields()' " +
                $"id = '{entity.LAST_UPDATE.ToString().Replace(" ", "_")}'>" +
                $"</div>" +
                $"<label class='control-label col-md-11 label-2' for>{entity.LAST_UPDATE.ToString()}, {GetInspectorName(entity.USERINFO)}</label>" +
                $"<br><br></div>";
        }
        return new HtmlString(resultHtmlHiddenFields + "<div id='anchorFor'></div>" + resultHtmlCode);
    }

    public static string GetVehicles(IEnumerable<Focus.Web.Models.Vehicle> vehicles)
    {
        if (vehicles == null || vehicles.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Vehicle vehicle in vehicles)
        {
            result += $"{vehicle.VEHICLEKIND.NAME} {vehicle.MARK} {vehicle.MODEL} {vehicle.REGNUMBER}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetContainers(IEnumerable<Focus.Web.Models.Container> containeres)
    {
        if (containeres == null || containeres.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Container container in containeres)
        {
            result += $"{container.NAME} {container.REGNUMBER}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetDevices(IEnumerable<Focus.Web.Models.Device> devices)
    {
        if (devices == null || devices.Count() < 1)
        {
            return string.Empty;
        }
        string result = string.Empty;

        foreach (Focus.Web.Models.Device device in devices)
        {
            string desc = string.Empty;
            if (device.NAME.IndexOf(device.MARK) > -1)
            {
                desc += device.MARK;
            }
            if (device.NAME.IndexOf(device.MODEL) > -1)
            {
                if (desc.Length > 0)
                {
                    desc += " " + device.MODEL;
                }
            }
            if (desc.Length > 0)
            {
                desc += " " + device.NAME;
            }
            else
            {
                desc += device.NAME;
            }

            result += $"{device.DEVICETYPE.NAME} {desc}, ".Replace("  ", " ");
        }
        return result.Substring(0, result.Length - 2);
    }

    public static string GetInspectorName(string userInfor)
    {
        if (string.IsNullOrEmpty(userInfor))
        {
            return string.Empty;
        }
        string[] array = userInfor.Split(new string[] { "," }, StringSplitOptions.None).Select(e => e.Trim()).ToArray();
        string result = string.Empty;
        return array[1] + ", " + array[2] + ", " + array[3];
    }

    public static HtmlString ConvertToHtml(string str)
    {
        return new HtmlString(str);
    }

    public static HtmlString GetCurrentValue(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return new HtmlString(previous);
        }
        else
        {
            return new HtmlString(current);
        }
    }

    public static string IsStrikeStart(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "strike";
        }
        else
        {
            return string.Empty;
        }
    }

    public static HtmlString ConvertBooleanToString(HtmlString htmlString)
    {
        return string.IsNullOrEmpty(htmlString.ToString()) ? new HtmlString("нет") : (htmlString.ToString() == "0 " ? new HtmlString("нет") : new HtmlString("да"));

    }

    public static string IsStrikeFinish(string previous, string current)
    {
        if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "</strike>";
        }
        else
        {
            return string.Empty;
        }
    }

    public static string GetColor(string previous, string current)
    {
        if (string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current))
        {
            return "green";
        }
        else if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "red";
        }
        else if (!string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current) && (previous != current))
        {
            return "orange";
        }
        else
        {
            return "dimgray";
        }

    }

    public static string IsBold(string previous, string current)
    {
        if (string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current))
        {
            return "bold";
        }
        else if (!string.IsNullOrEmpty(previous) && string.IsNullOrEmpty(current))
        {
            return "bold";
        }
        else if (!string.IsNullOrEmpty(previous) && !string.IsNullOrEmpty(current) && (previous != current))
        {
            return "bold";
        }
        else
        {
            return "";
        }

    }
}
<style>
    table.audit {
        border-collapse: collapse;
        table-layout: fixed;
    }

        table.audit tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table.audit tr:hover {
            background-color: #ddd;
        }

        table.audit th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #4CAF50;
            color: black;
        }

    .strike {
        text-decoration: line-through;
    }

    table.audit th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
</style>

