﻿@model IEnumerable<Focus.Web.Models.Devicetype>

@{
        ViewBag.Title = "Index";
}
<br>
<br>
<h2>ТСТК</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAST_UPDATE)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.DEVICETYPEID }) |
                @Html.ActionLink("Детали", "Details", new { id = item.DEVICETYPEID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.DEVICETYPEID })
            </td>
        </tr>
    }

</table>
